<ion-content style="--background: #262626">
  <div style="width: 90%; margin: 0px auto">
    <div style="text-align: center">
      <img style="margin-top: 100px" src="assets/imgs/logo.svg" />
    </div>

    <p
      style="
        margin-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.3px;

        color: #ffffff;
      "
      class="work_sans"
    >
      Let’s get you started.
    </p>

    <div
      class="inputfieldtransparent"
      style="
        height: 52px;
        display: flex;
        margin-top: 80px;
        flex-direction: row-reverse;
      "
    >
      <img style="margin: 13px 17px 13px 15px" src="/assets/imgs/target.svg" />
      <input
        *ngIf="platformcheck == 'ios'"
        class="input"
        type="text"
        placeholder="Search your area"
        autocapitalize="words"
        [(ngModel)]="from"
        (keypress)="updateSearchResultsEventFrom($event)"
      />

      <ion-input
        *ngIf="platformcheck == 'android'"
        class="input"
        type="text"
        placeholder="Search your area ali"
        autocapitalize="words"
        [(ngModel)]="from"
        (ionInput)="updateSearchResultsEventFrom($event)"
      >
      </ion-input>
      <img
        style="height: 24px; margin: 13px 17px 17px 15px"
        src="/assets/imgs/pin.svg"
      />
    </div>

    <ion-list [hidden]="listishiddenFrom">
      <ion-item
        *ngFor="let item of autocompleteItems"
        tappable
        (click)="selectSearchResultFrom(item)"
        style="--background: black; color: white"
      >
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-button
      (click)="goToHome()"
      style="margin-top: 130px"
      class="btnbg work_sans"
      >Next</ion-button
    >
  </div>
</ion-content>
