.titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  .bg{
    --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    padding: 0px 0px 0px 0px;
  }

  .completed{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: linear-gradient(89.73deg, #EBD87A -0.24%, #956B1C 99.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0px;

}

.imm{
  width:20px;
  height:20px;
  margin-right: 10px;
}

.ticket_icon{
  display: flex;
  padding: 0px 2px;
  background: white;
  margin-right: 10px;
  border-radius: 5px;
}

.imm_ticket{
  height: 17px;width: 17px; border-radius: 5px;margin-right: 0px;
}

    
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}


.date{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin: 0px;
}

.bb{
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: left;
}

.canc{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF285C;
  margin-bottom: 0px;
}

.elementBg{
  display: flex;
  align-items: center;
  margin-top: 15px;
  background: #323232;
  padding: 10px;
  border-radius: 20px;
  width: 97%;
}