<ion-header>
  <ion-toolbar class="bg paddingtop">
    
    <ion-row>
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">Refund</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content style="--background: #262626">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment
      style="
        height: 48px;
        width: 64%;
        background: white;
        padding: 3px 5px;
        border-radius: 200px;
      "
      
      mode="ios"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      value="inProcess"
    >
      <ion-segment-button
        style="
          --indicator-color: #611ea5;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          --background-checked: #611ea5;
        "
        value="inProcess" (click)="getPendingRequests()"
      >
        <ion-label>In Process</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: #611ea5;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          --background-checked: #611ea5;
        "
        value="Refunded" (click)="getRefundedRequests()"
      >
        <ion-label>Refunded</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
    style="
      /* padding-top: 15px; */
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'inProcess'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_inProgressArr">
      <!-- (click)="gotoBookingDetails(aa)"  -->
      <img (click)="showTickets(aa)"
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="{{rest.baseURLimg}}{{aa.events_images.name}}"
      />

      <div>
        <div class="bb work_sans" style="margin-bottom: 8px;">{{aa.events.name}}</div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/pinwhite.svg" />
          <p class="date work_sans">{{aa.event_distance | number : '1.1-1'}} Miles</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">{{getDate(aa.events.event_date)}} </p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 7px">
          <img class="imm" src="assets/imgs/watch.svg" />
          <p class="date work_sans">
            {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
          </p>
        </div>

        <!-- <div style="display: flex; align-items: center; margin-bottom: 2px">
          <div class="ticket_icon">

            <img class="imm_ticket" src="../../assets/imgs/icons/ticket.png" />
          </div>
          <p class="date work_sans">
            {{aa.requested_tickets}}
          </p>
        </div> -->

        <!-- <div
          *ngIf="aa.status != 'Cancelled'"
          style="display: flex; margin-top: 20px"
        >
          <p (click)="cancelBooking(aa)" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p (click)="editbooking(aa)" class="canc work_sans">Modify</p>
        </div>
        <div
          *ngIf="aa.status == 'Cancelled'"
          style="display: flex; margin-top: 20px"
        >
          <p class="canc work_sans">Cancelled</p>
        </div> -->
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Refunded'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_refundedArr">
      <img (click)="showTickets(aa)"
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="{{rest.baseURLimg}}{{aa.events_images.name}}"
      />

      <div>
        <div class="bb work_sans" style="margin-bottom: 8px;">{{aa.events.name}}</div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/pinwhite.svg" />
          <p class="date work_sans">{{aa.event_distance | number : '1.1-1'}} Miles</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">{{getDate(aa.events.event_date)}} </p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 7px">
          <img class="imm" src="assets/imgs/watch.svg" />
          <p class="date work_sans">
            {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
          </p>
        </div>

        <!-- <div style="display: flex; align-items: center; margin-bottom: 2px">
          <div class="ticket_icon">

            <img class="imm_ticket" src="../../assets/imgs/icons/ticket.png" />
          </div>
          <p class="date work_sans">
            {{aa.requested_tickets}}
          </p>
        </div> -->

        <!-- <div style="display: flex; margin-top: 20px">
          <p *ngIf="aa.status == 'Pending'" class="canc work_sans">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Completed'" class="completed work_sans">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Cancelled'" class="canc work_sans">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Accepted'" class="canc work_sans">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Rejected'" class="canc work_sans">
            {{aa.status}}
          </p>
        </div> -->
      </div>
    </div>
  </div>
</ion-content>