<ion-header>
  <ion-toolbar class="bg paddingtop">
    <div class="title_bar" >
      <img style="height: 25px;" (click)="goBack()" src="../../../../assets/imgs/icons/new_icons/BackIcon.png" alt="">
      <div class="roboto titlefont">{{rest.business_owner_name}} Events</div>
      <div style="height: 25px;" ></div>
    </div>
    <!-- <ion-row>
      <ion-col size="2" style="text-align: center">
        <img
          *ngIf="segmentModel == 'venu'"
          (click)="showHideFilterN()"
          style="height: 25px;"
          src="assets/imgs/treeeline.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">Home</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goToProfile()"
          style="height: 25px;"
          src="assets/imgs/user.svg"
        />
      </ion-col>
    </ion-row> -->
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div style="display: flex; flex-wrap: wrap" class="margincls"  >
    <!-- <p *ngIf="noevenu == 1" class="notFound roboto">No Venus Found</p> -->
    <div
      style="width: 50%; position: relative"
      [class.heighclassbig]="i % 2 != 0"
      [class.heighclasssmall]="i % 2 == 0"
      *ngFor="let opt of rest.orgEventsArr; let i = index"
      [style.margin-top.px]="i % 2 == 0? -i*22:0"
    >
      <div
        style="
          position: absolute;
          width: 100%;
          z-index: 9;
          top: 5px;
          right: 1px;
        "
      >
        <img
          (click)="likevenu(opt)"
          class="imgcls"
          *ngIf="opt.likes==0"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutvenu(opt)"
          class="imgcls"
          *ngIf="opt.likes!=0"
          src="assets/imgs/heartactive.svg"
        />
        <ion-badge *ngIf="opt.discount_percentage <= 0" class="bdg"
          >No Discount
        </ion-badge>
        <ion-badge *ngIf="opt.discount_percentage > 0" class="bdg"
          >{{opt.discount_percentage}}% Off
        </ion-badge>
      </div>
      <div
        class="divboxshadowinside"
        (click)="goToDetail(opt)"
        style=" 
          position: relative;
         height: 100%;
        border-radius: 15px;
        background-size: cover;
        background-image: url('{{rest.baseURLimg}}{{opt.cover_images}}');
      "
      >
        <div style="position: absolute; bottom: 0px; left: 15px">
          <p class="title1 roboto">{{opt.name}}</p>
          <p class="title2 roboto">
            {{opt.distance | number : '1.2-2'}} Miles
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
