<ion-header>
  <ion-toolbar class="bg paddingtop">
    <div class="title_bar">
      <div>
        <img
          (click)="goBack()"
          style="height: 25px;"
          src="../../../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </div>
      <div class="titlefont roboto">Scanned Tickets</div>
      <div>
        <img
          (click)="goLogout()"
          style="height: 25px;"
          src="assets/imgs/logout.svg"
      />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div class="container">

    <div>
      <div class="label roboto">Select Event Name</div>
      <div
        (click)="hideShowEvents()"
        class="inputfieldtransparent"
        style="
          height: 52px;
          margin-top: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p class="people">{{selectedEvent?.event_name}}</p>

        <img
          style="margin: 17px 17px 17px 15px; width: 15.81px; height: 8.81px"
          src="/assets/imgs/downw.svg"
        />
      </div>

      <div
        style="
        text-align: center;
          position: absolute;
          width: 87%;
          background: #3a3a3a;
          z-index: 999;
          border-radius: 0px 0px 20px 20px;
        "
        *ngIf="eventShow"
      >
        <p class="pp" (click)="eventClick(a)" *ngFor="let a of eventsArr">
          {{a.event_name}}
        </p>
      </div>
    </div>
    <div class="dummy_text roboto" *ngIf="recordFound == false">You have not scanned any tickets for this event</div>
    <div class="ticket_bg" *ngFor="let ticket of scannedTickets; let i = index">
      <div class="ticket_data roboto center " ><span class="tick_num_border">{{i+1}} out of {{scannedTickets.length}}</span></div>
      <div class="ticket_data roboto" style="margin-top: 15px;"><span class="font_18_bold">Ticket Id: </span>{{ticket.random_string}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Event Name: </span>{{ticket.name}}</div>
      <div *ngIf="ticket.venue_name!=null" class="ticket_data roboto"><span class="font_18_bold">Venue Name: </span>{{ticket.venue_name}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Event Date: </span>{{ticket.event_date}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Event Start Time: </span>{{ticket.event_start_time}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Event End Time: </span>{{ticket.event_end_time}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Package Type: </span>{{ticket.package_type}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Package Name: </span>{{ticket.package_name}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Package Price: </span>£{{ticket.package_price}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Ticket Price: </span>£{{ticket.price_per_ticket}}</div>
      <!-- <div class="ticket_data roboto"><span class="font_18_bold">Ticket Requested: </span>{{ticketRequested}}</div> -->
      <div class="ticket_data roboto"><span class="font_18_bold">Crowd Fee: </span>£5</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Total Bill: </span>£{{ticket.total_amount}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Event Location: </span>{{ticket.location}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Booking Status: </span>{{ticket.status}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Transaction Status: </span>{{ticket.transiction_status}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Pre-Paid Amount: </span>£{{ticket.paid_amount}}</div>
      <div class="ticket_data roboto"><span class="font_18_bold">Remaining Amount: </span>£{{ticket.remaining_amount}}</div>
    </div>
  </div>
</ion-content>