<ion-header>
  <ion-toolbar style="position: relative;">
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto"
          >{{selectedVenue.name}}</ion-label
        >
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div style="width: 90%; text-align: center; margin: 4% auto">
    <p class="makeBook">Reservation</p>

    <div style="display: flex;justify-content: center;">
      <div style="margin-right: 20px;">
        <p class="inputTitle">Party number</p>
        <!-- <p class="inputTitle">No. of diners</p> -->
    
        <div
          (click)="hideShowPeople()"
          class="dropdown-transparent"
          style="
            height: 38px;
            margin-top: 14px;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 120px;
          "
        >
          <p class="people">{{people}} </p>
    
          <img class="dd_icon" [class.dd_icon_active]="peopleShow"
            src="../../assets/imgs/icons/new_icons/DropDownArrowIcon.png"
          />
        </div>
    
        <div
          style="
            position: absolute;
            width: 120px;
            background: linear-gradient(180deg, #262626, #302f2f);
            z-index: 999;
            border-radius: 0px 0px 20px 20px;
          "
          *ngIf="peopleShow"
        >
          <p class="roboto pp" (click)="peopleClick(a)" *ngFor="let a of peopleArr">
            {{a.people}}
          </p>
        </div>
      </div>
     
      
      <div>
        <p class="inputTitle">Table Type</p>
  
        <div
          (click)="hideShowTables()"
          class="dropdown-transparent"
          style="
            height: 38px;
            margin-top: 14px;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 140px;
          "
        >
          <p class="people" style="display: flex;">{{selectedTable?.table_type_name}} <img style="margin-left: 10px;height: 15px;width: 15px;" src="{{rest.baseURLimg}}{{selectedTable?.table_type_image}}" alt=""></p>
    
          <img
          class="dd_icon" [class.dd_icon_active]="tableShowDD"
            src="../../assets/imgs/icons/new_icons/DropDownArrowIcon.png"
          />
        </div>
    
        <div
          style="
            position: absolute;
            width: 140px;
            background: linear-gradient(180deg, #262626, #302f2f);
            z-index: 999;
            border-radius: 0px 0px 20px 20px;
          "
          *ngIf="tableShowDD"
        >

          <p class="pp roboto" (click)="tableClick(a)" *ngFor="let a of selectedVenue.venues_table">
             {{a?.table_type_name}} <img style="margin-left: 10px;height: 15px;width: 15px;" src="{{rest.baseURLimg}}{{a?.table_type_image}}" alt="">
          </p>
        </div>
      </div>
      
    </div>
    
 
    <div style="height: 20px;"></div>
    <p style="margin: 0px 0px 15px" class="inputTitle" >Required date</p>

    <div style="display: flex; justify-content: center; align-items: center;">
      <img style="margin-right: 20px; height: 14px;" src="../../assets/imgs/icons/new_icons/BackIcon.png" alt="">
      <span (click)="selectDate()" class="roboto" style="color: white;font-size: 12.4px;font-weight: 400;">{{selectedMonthAndYear}}</span>
      <img style="margin-left: 20px;height: 14px; transform: rotate(180deg);" src="../../assets/imgs/icons/new_icons/BackIcon.png" alt="">
    </div>

   <div style="display: flex; overflow: scroll;margin-top: 15px;"> 
    <div *ngFor="let day of daysNamesAndNumbers;" (click)="selectDay(day)" style="font-family: 'Roboto', sans-serif !important;" class="dayBox " [class.selected_dayBox]="day.number == selectedDayNumber && currentMonthNumber == selectedMonthNumber">
      <div class="inter dayName" style="font-family: 'Roboto', sans-serif !important;" [class.selected_dayName]="day.number == selectedDayNumber && currentMonthNumber == selectedMonthNumber">{{day.name}}</div>
      <div class="inter dayNumber" style="font-family: 'Roboto', sans-serif !important;"  [class.selected_dayNumber]="day.number == selectedDayNumber && currentMonthNumber == selectedMonthNumber">{{day.number}}</div>
    </div>
   </div>
    
   


    
    <!-- <p style="margin: 15px 0px" class="inputTitle">Select Date</p>

    <ion-datetime
      presentation="date"
      [preferWheel]="true"
      locale="en-US"
      min="{{minDate}}" max="2080" 
      (ionChange)="formattedString($event)"
      
    ></ion-datetime> -->
    <!-- [(ngModel)]="userdate" -->
    <!-- (click)="showDatepicker1()" -->
    <!-- <div
      *ngIf="myDate == 'Select Date'"
      style="display: flex; align-items: center; justify-content: center"
      
    >
      <img
        style="width: 9.81px; height: 15.81px"
        src="/assets/imgs/leftarr.svg"
      />
      <p style="margin: 0px 20px" class="selectedDatePlease">Select Date</p>
      <img
        style="width: 9.81px; height: 15.81px"
        src="/assets/imgs/rightarr.svg"
      />
    </div> -->

    <!-- <div
      *ngIf="myDate != 'Select Date'"
      style="display: flex; align-items: center; justify-content: center"
      (click)="showDatepicker1()"
    >
      <img
        style="width: 9.81px; height: 15.81px"
        src="/assets/imgs/leftarr.svg"
      />
      <p style="margin: 0px 20px" class="selectedDatePlease">
        {{dateFormate(myDate)}}
      </p>
      <img
        style="width: 9.81px; height: 15.81px"
        src="/assets/imgs/rightarr.svg"
      />
    </div> -->

    <!-- <div
      *ngIf="myDate != 'Select Date'"
      style="
        display: flex;
        overflow: scroll;
        justify-content: center;
        margin-top: 20px;
      "
    > -->
      <!-- <div class="selectedDate">
        <p class="dateClas">{{getDay1(myDate)}}</p>
        <p style="margin-top: 13px; margin-bottom: 0px" class="dateClas1">
          {{getDay2(myDate)}}
        </p> -->
        <!-- ========<p class="dateClas">{{getDay3(myDate)}}</p>
        <p class="dateClas">{{getDay4(myDate)}}</p> =================-->
      <!-- </div>
    </div> -->

    <!-- <div style="display: flex; overflow: scroll">
      <div
        (click)="dateSelected(i)"
        class="unselectedDate"
        [class.selectedDate]="selectedIndexDate == i"
        *ngFor="let dd of datesArr; let i = index;"
      >
        <p class="dateClas">{{getDay1(dd)}}</p>
        <p class="dateClas">{{getDay2(dd)}}</p>
        <p class="dateClas">{{getDay3(dd)}}</p>
        <p class="dateClas">{{getDay4(dd)}}</p>
      </div>
    </div> -->
    <p style="margin: 15px 0px" class="inputTitle">Required time</p>
    <ion-datetime
      presentation="time"
      [preferWheel]="true"
      locale="en-US"
      (ionChange)="formattedTime($event)"
    ></ion-datetime>
    <!-- [(ngModel)]="usertime" -->

    <div class="roboto q_style" >Do you have any special requests? (allergies, seating preferences)</div>
    <ion-input [(ngModel)]="specialRequest" class="roboto"></ion-input>
    <div class="roboto q_style">Celebrating an occasion? (birthday, anniversary)</div>
    <ion-input [(ngModel)]="occasion" class="roboto"></ion-input>
    <!-- <div class="invalid_time roboto" *ngIf="invalidTime">Please select another time slot, as this one is not available.</div> -->
    <div style="margin-top: 10px">
      <ion-button
        (click)="bookTable()"
        style="margin-top: 20px"
        class="btnwhite roboto"
        >Confirm Reservation</ion-button
      >
    </div>

    <div class="roboto note_style">By confirming your booking, you agree to our <span style="color: #fafafa;">Terms and Conditions</span> including our cancellation policy. Please review the full terms in your profile.</div>
    <!-- <ionic-horizontal-calendar
      locale="de"
      [minDate]="minDate"
      class="calendar"
      [firstDayAutoSelected]="true"
      displayMode="daily"
    >
      <ion-label header #header> Calendar Demo </ion-label>
    </ionic-horizontal-calendar> -->

    <!-- <ng-scroll-calendar
      [config]="config"
      (onSelect)="onDateChange($event)"
    ></ng-scroll-calendar> -->

    <!-- <p class="inputTitle">Select Time</p>
    <ion-datetime presentation="time" locale="en-US"></ion-datetime> -->
  </div>
  
</ion-content>
