// ============================================date picker test code================================================

.custom-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;                 

  .mbsc-segmented {
      margin: 0;
  }

  .mbsc-segmented.mbsc-material,
  .mbsc-segmented.mbsc-windows {
      padding: 0 2px;
  }

  .mbsc-segmented .mbsc-segmented-button {
      padding: 0 1px;
  }

  .mbsc-segmented .mbsc-icon {
      font-size: 20px;
  }

  .mbsc-segmented-button.mbsc-windows {
      border: 0;
  }
}

.custom-view-nav .mbsc-calendar-title.mbsc-material {
  font-size: 16px;
}

// ============================================date picker test code done ================================================

.dayBox{
  padding: 13px;
    
    background: #F7F8F8;
    border-radius: 10px;
    min-width: 60px !important;
    height: 80px;
    margin-right: 15px;display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected_dayBox{
  padding: 13px;
    
  background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    border-radius: 10px;
    min-width: 60px !important;
    height: 80px;
    margin-right: 15px;display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dayName{
  font-size: 12px;font-weight: 400;color: #7B6F72;
}
.selected_dayName{
  font-size: 12px;font-weight: 400;color: white;
}


.dayNumber{
  font-size: 14px;font-weight: 500;color: #7B6F72;
}
.selected_dayNumber{
  font-size: 14px;font-weight: 500;color: white;
}

.titlefont{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bg{
  --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
  padding: 0px 0px 0px 0px;
}
  
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.uname{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0px;
}

.uimg{
  width: 43px;
  height: 39.98px;
  border-radius: 10px;
  margin-right: 15px;
}

.mainDiv{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}


.makeBook{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  // margin-bottom: 2rem;

}


.inputTitle{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin: 0px;
  text-align: left;
}

.people{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin: 0px 0px 0px 24px;
}

.pp{
  margin: 20px 0px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
}


ion-datetime {
  color: #000000  !important;
  --background: none;
}

.unselectedDate{
  padding: 10px 31px;
  background: #F7F8F8;
  border-radius: 10px;
  margin-right: 10px;
  color: #7B6F72;
}

.selectedDate{
  background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%) !important;
  border-radius: 10px;
  margin-right: 10px;
  height: 100px;
  color: #FFFFFF !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
}

.dateClas{
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
}
.dateClas1{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.selectedDatePlease{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ADA4A5;
}
