<ion-content style="--background: #00000059">
  <div
    style="
      position: absolute;
      top: 31%;
      width: 100%;
      display: flex;
      justify-content: center;
    "
  >
    <div
      style="
        background: white;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        margin: 20px;
      "
    >
      <div style="display: flex; justify-content: flex-end">
        <img (click)="closeModel()" src="assets/imgs/cross.svg" />
      </div>
      <p style="margin: 25px 0px 15px 0px" class="sure work_sans">
        Turning on “BE SEEN” will make your Name and Image public. It will give
        options to other people to see you out or not.
      </p>
      <ion-button
        (click)="closeModel()"
        style="margin-top: 20px"
        class="btnbg work_sans"
        >OK</ion-button
      >
    </div>
  </div>
</ion-content>
