.sure{
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #545454;
}

.modal_logo{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.header_start{
    width: 25px;
    height: 25px;
}

.close_icon{
    height: 18px;
    width: 18px;
}

.live_part{
    color:#790e8e
}

.footer_label{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    color: #848484;
    // margin-bottom: 20px;
}

.terms{
    font-size: 10;
    font-weight: 600;
    color: #790e8e;
}

  