<ion-content style="--background: #262626">
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
    <div style=" text-align: center;">
      <img style="
      margin-top: 5px;
      height: 268px;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);" src="{{rest.baseURLimg}}{{selectedEvent.cover_images}}" alt="">

      <img
      (click)="goBack()"
      class="back-icon"
      src="../../assets/imgs/icons/new_icons/BackIcon.png"
      />

      <div class="content_position">
        <div class="roboto heading_text">{{selectedEvent.venue_name}}</div>
        <div class="roboto event_name">{{selectedEvent.name}}</div>
        
        <div class="flex_center info_text1" style="margin: 0px auto 0px 0px;">
          <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" alt="">
          <div class="roboto" style="line-height: normal;">{{getDate(selectedEvent.event_date)}}</div>
        </div>
        <div class="flex_center info_text2" style="margin: 0px 0px auto auto;">
          <img class="small_icon_style" src="../../assets/imgs/icons/ticket_clock.svg" alt="">
          <div class="roboto" style="line-height: normal;">{{getTime(selectedEvent.event_start_time)}} - {{getTime(selectedEvent.event_end_time)}}</div>
        </div>
      </div>
    </div>
    
    <div style="width: 92%; text-align: center; margin: 5% auto 0px">
  
      <div class="ticket_row">
        <div class="ticket_row_image">
          <img src="../../assets/imgs/icons/ticket.png" alt="">
        </div>
        <div class="flex_start">
          <div style="text-align: left;">
            <div class="ticket_title roboto">Standard Entry Ticket <img (click)="showStandardTicketDetail()" class="info_icon" src="../../assets/imgs/icons/new_icons/InformationIcon.png" alt=""></div>
            <div class="ticket_price roboto">£{{selectedEvent.price_per_ticket}}</div>
          </div>
          <div class="incre_decree_btn roboto">
            <span class="pd_10" (click)="decrementStandardTickets()">-</span> <span class="pd_8">{{ticketRequested}}</span> <span class="pd_10" (click)="incrementStandardTickets()">+</span>
          </div>
        </div>
        
      </div>

      <div class="ticket_row">
        <div class="ticket_row_image">
          <img src="../../assets/imgs/icons/icon_ticket_yellow.svg" alt="">
        </div>
        <div class="flex_start">
          <div style="text-align: left;">
            <div class="ticket_title roboto">VIP Entry Ticket <img class="info_icon" src="../../assets/imgs/icons/new_icons/InformationIcon.png" alt=""></div>
            <div class="ticket_price roboto">£100.00</div>
          </div>
          <div class="incre_decree_btn roboto">
            <span class="pd_10" (click)="decrementVipTickets()">-</span> <span class="pd_8">{{vipTicketRequested}}</span> <span class="pd_10" (click)="incrementVipTickets()">+</span>
          </div>
        </div>
        
      </div>

      <div class="ticket_row">
        <div class="ticket_row_image">
          <img src="../../assets/imgs/icons/icon_ticket_yellow.svg" alt="">
        </div>
        <div class="dropdown_custom" style="width: 74%;">
          <div></div>
          <div *ngIf="showTicketExtras || !showTicketExtras && selectedExtrasPackage==0">Premium Extras</div>
          <div *ngIf="selectedExtrasPackage>0 && !showTicketExtras" class="flex lh_normal">Selected <img class="confirm_icon mgl_14" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt=""></div>
          <img (click)="showTicketExtrasFunc()" class="dd_icon" [class.active_premium]="showTicketExtras==true" src="../../assets/imgs/icons/new_icons/DropDownArrowIcon.png" alt="">
          
        </div>
        <div *ngIf="showTicketExtras" class="extras_dd">
          <div class="roboto align_left" (click)="selectExtrasPackage(1)">
            <div class="flex_center space_between">
              <div class="dd_heading">Queue Jump</div> 
              <img *ngIf="selectedExtrasPackage==1" class="confirm_icon" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt="">
            </div> 
            <div class="dd_subHeading" [class.dd_subHeading_bold]="selectedExtrasPackage==1">£50.00</div> 
            <div class="dd_desc" [class.dd_desc_bold]="selectedExtrasPackage==1">Skip the line and get straight into the action <br> 
            (Included in VIP Entry Ticket)</div>
          </div>
          <hr>
          <div class="roboto align_left" (click)="selectExtrasPackage(2)">
            <div class="flex_center space_between">
              <div class="dd_heading" >Photo Package</div>
              <img *ngIf="selectedExtrasPackage==2" class="confirm_icon" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt="">
            </div> 
            <div class="dd_subHeading" [class.dd_subHeading_bold]="selectedExtrasPackage==2">£80.00</div> 
            <div class="dd_desc" [class.dd_desc_bold]="selectedExtrasPackage==2">Professional photos taken throughout the night, <br>
            available to download afterward</div>
          </div>
          <hr>
          <div class="roboto align_left" (click)="selectExtrasPackage(3)">
            <div class="flex_center space_between">
              <div class="dd_heading">Exclusive Bar Access</div>
              <img *ngIf="selectedExtrasPackage==3" class="confirm_icon" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt="">
            </div> 
            <div class="dd_subHeading" [class.dd_subHeading_bold]="selectedExtrasPackage==3">£50.00</div> 
            <div class="dd_desc" [class.dd_desc_bold]="selectedExtrasPackage==3">Access to a private bar with faster service and <br>
            premium drink selections <br> (Included in VIP Entry Ticket)</div>
          </div>
          
        </div>
      </div>

      <div class="ticket_row">
        <div class="ticket_row_image">
          <img src="../../assets/imgs/icons/icon_ticket_yellow.svg" alt="">
        </div>
        <div style="width: 74%;">
          <div class="dropdown_custom" >
            <div></div>
            <div *ngIf="showTablePackages || !showTablePackages && selectedTablePackage==0">Table Packages</div>
          <div *ngIf="selectedTablePackage>0 && !showTablePackages" class="flex lh_normal">Selected <img class="confirm_icon mgl_14" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt=""></div>

            <img (click)="showTablePackagesFunc()" class="dd_icon" [class.active_premium]="showTablePackages==true" src="../../assets/imgs/icons/new_icons/DropDownArrowIcon.png" alt="">
          </div>  
          <div *ngIf="showTablePackages" class="tables_dd">
            <div class="roboto align_left" (click)="selectTablePackage(1)">
              <div class="flex_center space_between">
                <div class="dd_heading">The Kick-Off</div>
                <img *ngIf="selectedTablePackage==1" class="confirm_icon" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt="">
              </div> 
              <div class="dd_subHeading" [class.dd_subHeading_bold]="selectedTablePackage==1">£585.00</div> 
              <div class="dd_desc" [class.dd_desc_bold]="selectedTablePackage==1">1 x bottle of house vodka, 1 x bottle of gin, and <br> 
              mixers of your choice</div>
            </div>
            <hr>
            <div class="roboto align_left" (click)="selectTablePackage(2)">
              <div class="flex_center space_between">
                <div class="dd_heading">Social Sips</div>
                <img *ngIf="selectedTablePackage==2" class="confirm_icon" src="../../assets/imgs/icons/new_icons/ConfirmedIcon.png" alt="">
              </div> 
              <div class="dd_subHeading" [class.dd_subHeading_bold]="selectedTablePackage==2">£1,150.00</div> 
              <div class="dd_desc" [class.dd_desc_bold]="selectedTablePackage==2">1 x bottle of premium vodka, 1 x bottle of premium <br>
              gin, and a selection of premium mixers</div>
            </div>
            
          </div>

          <div class="drinks_menu_box" >
            <div style="line-height: normal;">Drinks Menu</div>
          </div>
        </div>
        
        
      </div>

      <ion-modal [isOpen]="showStandardTicketInfo" class="standard_ticket_modal">
        <ng-template>
          <ion-content>
            <div class="ticket_modal_box">
              <div style="display: flex; align-items: center; justify-content: space-between">
                <div class="std_ticket_heading roboto">Standard Ticket</div>
                <img (click)="showStandardTicketDetail()" style="height: 20px;width: 20px;" src="../../assets/imgs/cross.svg" />
              </div>
  
              
              <div class="std_ticket_content roboto">
                Get ready to enjoy a night filled with music, atmosphere, and entertainment! Our Standard Ticket gives you entry to the event, granting access to the main event space where you'll experience the full lineup of DJs, performers, or artists. <br>
                <br>  
                What's Included: <br>
                <br>
                <span class="ticket_desc_subHeading">General Admission:</span> Entry to the main area with access to bars, dance floors, and all standard facilities. <br>
                <br>
                <span class="ticket_desc_subHeading">Event Lineup Access:</span> Enjoy the complete program, including music, live performances, and entertainment. <br>
                <br>
                <span class="ticket_desc_subHeading">General Bar Access:</span> Standard drinks available for purchase at the main bar. <br>
                <br>
                This ticket provides everything you need for a great night out! For those looking for additional perks like VIP access or queue jump, check out our other ticket options and add-ons.
              </div>
            </div>
            
          </ion-content>
        </ng-template>
      </ion-modal>

  
      <!-- <p style="margin-top: 20px; margin-bottom: 20px" class="title2 roboto">
        Table (Party of 4)
      </p> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
        "
      >
        <div style="display: flex; align-items: center">
          <img (click)="selectPackage('p4p1',selectedEvent.drinking_pakage1p4)"
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/uncheck.svg" *ngIf="p4p1 != true"
          />
          <img
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/check.svg" *ngIf="p4p1 == true"
          />
  
          <p style="margin: 0px" class="dd roboto">Drinking Package 1</p>
        </div>
        <p style="margin: 0px" class="dd roboto">£{{selectedEvent.drinking_pakage1p4}}</p>
      </div> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
        "
      >
        <div style="display: flex; align-items: center">
          <img (click)="selectPackage('p4p2',selectedEvent.drinking_pakage2p4)"
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/uncheck.svg" *ngIf="p4p2 != true"
          />
          <img
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/check.svg" *ngIf="p4p2 == true"
          />
  
          <p style="margin: 0px" class="dd roboto">Drinking Package 2</p>
        </div>
        <p style="margin: 0px" class="dd roboto">£{{selectedEvent.drinking_pakage2p4}}</p>
      </div> -->
  
      <!-- <p style="margin-top: 20px; margin-bottom: 20px" class="title2 roboto">
        Table (Party of 6)
      </p> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
        "
      >
        <div style="display: flex; align-items: center">
          <img (click)="selectPackage('p6p1',selectedEvent.drinking_pakage1p6)"
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/uncheck.svg" *ngIf="p6p1 != true"
          />
          <img
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/check.svg" *ngIf="p6p1 == true"
          />
  
          <p style="margin: 0px" class="dd roboto">Drinking Package 1</p>
        </div>
        <p style="margin: 0px" class="dd roboto">£{{selectedEvent.drinking_pakage1p6}}</p>
      </div> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
        "
      >
        <div style="display: flex; align-items: center">
          <img (click)="selectPackage('p6p2',selectedEvent.drinking_pakage2p6)"
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/uncheck.svg" *ngIf="p6p2 != true"
          />
          <img 
            style="width: 18px; height: 18px; margin-right: 10px"
            src="assets/imgs/check.svg" *ngIf="p6p2 == true"
          />
  
          <p style="margin: 0px" class="dd roboto">Drinking Package 2</p>
        </div>
        <p style="margin: 0px" class="dd roboto">£{{selectedEvent.drinking_pakage2p6}}</p>
      </div> -->
  
      
    </div>
  
    <div style="width: 90%; text-align: center; margin: 0px auto 0px; padding-bottom: 20px;">
      <div
        style="
          background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);  
          border-radius: 15px;
          display: flex;
          justify-content: space-between;
          height: 50px;
          align-items: center;
          padding: 0px 52px;
          margin-top: 10px;
          margin-bottom: 10px;
        "
      >
        <p style="margin: 0px" class="total roboto">Total:</p>
        <p style="margin: 0px" class="total roboto">£ {{totalBill}}</p>
      </div>
  
      <ion-button
        (click)="goToNext()"
        style="margin-top: 10px; opacity: 1; --border-radius: 16px;"
        class="btngray roboto"
        >Next</ion-button
      >
    </div>

  </div>
</ion-content>
