<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">Discounts</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment class="roboto segment_text"
      style="
        height: 48px;
        width: 92%;
        background: white;
        padding: 3px 5px;
        border-radius: 46px;
      "
      mode="ios"
      [(ngModel)]="segmentModel"

    >
      <ion-segment-button class="roboto segment_text"
        style="
          --indicator-color: linear-gradient(180deg, #9218a6, #5a0670);
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611EA5; */
        "
        value="In Queue"
      >
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button class="roboto segment_text" 
        style="
          --indicator-color: #323232;
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #7825CB; */
        "
        value="Claimed"
      >
        <!-- (click)="getClaimedVenues()" -->

        <ion-label>Claimed</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: linear-gradient(180deg, #9218a6, #5a0670);
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #7825CB; */
        "
        
        value="Special Offers"
      >
      <!-- (click)="getSpecialOffers()" -->
        <ion-label>Special Offers</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
  
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'In Queue'"
  >
    <div class="elementBg" *ngFor="let aa of inQueueVenuesArr" >
      <div style="display: flex;">
        <img
          style="
            width: 135px;
            height: 145px;
            border-radius: 16px;
            margin-right: 19px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div class="flex_space_between">
          <div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
              <p class="bb roboto" style="margin-left: 4px;">{{aa.name}}</p>
              <!-- <p class="bb roboto">{{aa.distance | number : '1.2-2'}} Miles</p> -->
            </div>
  
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/TimelimitIcon.png" />
              <p class="date roboto">{{getDate(aa.discount_claimed_date)}} </p>
            </div>
  
            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LabelIcon.png" />
              <p class="date roboto">
                {{aa.discount_percentage}}% Discount
              </p>
            </div>
          </div>
          
          <div class="disc_btn" (click)="showDiscountCard(aa,'show token')">View Code</div>
          
        </div>
      </div>
      <!-- <div class="rem_time roboto" >{{aa.remaining_time}} Remaining</div> -->
    </div>

    
  </div>

  <div
  
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Claimed'"
  >
    <div class="elementBg" *ngFor="let aa of claimedVenuesArr" >
      <div style="display: flex;">
        <img
          style="
            width: 135px;
            height: 145px;
            border-radius: 16px;
            margin-right: 19px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div class="flex_space_between">
          <!-- <div class="bb roboto" style="margin-bottom: 8px;">{{aa.name}}</div> -->
          <div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
              <p class="bb roboto">{{aa.name}}</p>
            </div>
  
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" style="height: 18px;" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
              <p class="date roboto">{{getDate(aa.discount_claimed_date)}} </p>
            </div>
  
            <!-- <div style="display: flex; align-items: center; margin-bottom: 8px">
              <img class="imm" src="assets/imgs/ccc.svg" />
              <p class="date roboto">{{aa.events.event_date }} </p>
            </div> -->
  
            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LabelIcon.png" />
              <p class="date roboto">
                {{aa.discount_percentage}}% Discount
                <!-- 8:00PM - 10:00PM -->
              </p>
            </div>
          </div>
          

          <div class="disc_btn" >Claimed</div>


        </div>
      </div>
    </div>

    
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Special Offers'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_specialOffersArr" >
      <div style="display: flex;">
        <img
          style="
            width: 134px;
            height: 145px;
            border-radius: 16px;
            margin-right: 19px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div class="flex_space_between">
          <div>
            <!-- <div class="bb roboto" style="margin-bottom: 8px;"></div> -->
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
              <p class="bb roboto">{{aa.name}}</p>
            </div>

            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" style="height: 18px;" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
              <p class="date roboto">Dec 12 2024</p>
            </div>

            <!-- <div style="display: flex; align-items: center; margin-bottom: 8px">
              <img class="imm" src="assets/imgs/ccc.svg" />
              <p class="date roboto">{{aa.events.event_date }} </p>
            </div> -->

            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LabelIcon.png" />
              <p class="date roboto">
                {{aa.discount_percentage}}% Discount
                <!-- 8:00PM - 10:00PM -->
              </p>
            </div>
          </div>
          

          <div class="disc_btn" (click)="showDiscountCard(aa, 'claim discount')">Claim</div>

        </div>
      </div>
      
      <!-- [class.hide]="hideClaimDiscountButton" -->
      <!-- <ion-list class="btnbg1 roboto" >
        <ion-item-sliding
          #slidingItem
          (ionDrag)="claimDrag(slidingItem, $event, aa)"
          (ionOpen)="openSlider(slidingItem)"
        >
          <ion-item-options side="start">
            <ion-item-option
              style="
                color: #531c7c;
                margin-top: -10px;
                background: #531c7c;
                margin-left: 5px;
              "
              expandable
              >Claim</ion-item-option
            >
          </ion-item-options>
  
          <ion-item
            style="color: white; opacity: 1"
            lines="none"
            class="btnbg margintopcls roboto"
          >
            <ion-label>Claim Discount</ion-label>
            <img
              style="
                rotate: 180deg;
                height: 25px;
                /* width: 25px; */
                margin-right: 20px;
              "
              src="../../assets/imgs/icons/new_icons/BackIcon.png"
            />
          </ion-item>
        </ion-item-sliding>
      </ion-list> -->

      <!-- <div class="claim_msg roboto" *ngIf="aa.remaining_time != null" >
        Already Claimed!
      </div>

      <div class="rem_time roboto" *ngIf="aa.remaining_time" >{{aa.remaining_time}} Remaining</div> -->
    </div>

    
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <!-- <div class="icondiv" (click)="closeslide(slidingItem)">
      <img src="assets/imgs/cross.svg" alt="" />
    </div> -->

    <div style="text-align: center">
      <!-- <img src="assets/imgs/disc.svg" alt="" /> -->
      <img src="{{rest.baseURLimg}}{{detailObj.images[0].name}}" style="margin-top: 5px;
      height: 246px;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      position: relative;
      z-index: 3;" alt="">
      <div class="roboto heading_text">{{detailObj.name}}</div>
      <img class="bg_disc_card"  src="../../assets/imgs/icons/new_icons/BookingShape2.png" alt="">
      <div class="card_bg">

        <p class="two roboto">{{detailObj.discount_percentage}}%</p>
      
        <p class="one roboto">{{detailObj.discount_token}}</p>

        <div class="three roboto">Valid until {{getDate(detailObj.discount_claimed_date)}}</div>
        <!-- <div class="roboto token_num">{{discountToken}}</div> -->
        <!-- <div class="roboto token_info_one">All discounts can be found in your Profile</div> -->
        <!-- <div class="roboto token_info_two" >*its a one time code, save it</div> -->
        <ion-button (click)="hideDiscCard()" class="btngray" style="height: 45px;
        --background: linear-gradient(180deg, #262626, #302f2f);
        width: 70%;
        margin-top: 15px;">Close</ion-button>
      </div>  
      
    </div>

    <!-- <div style="text-align: center">
      <img src="assets/imgs/disc.svg" alt="" />
      <p class="one">Discount Claim!</p>
      <p class="two">Instant</p>
      <p *ngIf="detailObj.discount_percentage <= 0" class="three">
        No Discount
      </p>
      <p *ngIf="detailObj.discount_percentage > 0" class="three">
        {{detailObj.discount_percentage}}% off
      </p>
    </div> -->
  </div>
</div>
