<ion-header>
  <ion-toolbar class="bg paddingtop">
   
    <ion-row>
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">Discounts</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment class="roboto segment_text"
      style="
        height: 48px;
        width: 92%;
        background: white;
        padding: 3px 5px;
        border-radius: 46px;
      "
      mode="ios"
      [(ngModel)]="segmentModel"

    >
      <ion-segment-button class="roboto segment_text"
        style="
          --indicator-color: linear-gradient(180deg, #9218a6, #5a0670);
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611EA5; */
        "
        value="In Queue"
      >
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button class="roboto segment_text" 
        style="
          --indicator-color: #323232;
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #7825CB; */
        "
        value="Claimed"
      >
        <!-- (click)="getClaimedVenues()" -->

        <ion-label>Claimed</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: linear-gradient(180deg, #9218a6, #5a0670);
          --color: #262626;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #7825CB; */
        "
        
        value="Special Offers"
      >
      <!-- (click)="getSpecialOffers()" -->
        <ion-label>Special Offers</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
  
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'In Queue'"
  >
    <div class="elementBg" *ngFor="let aa of inQueueVenuesArr" >
      <div style="display: flex;align-items: center;">
        <img
          style="
            width: 124px;
            height: 124px;
            border-radius: 16px;
            margin-right: 10px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div>
          <div class="bb roboto" style="margin-bottom: 8px;">{{aa.name}}</div>
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/pinwhite.svg" />
            <p class="bb roboto">{{aa.distance | number : '1.2-2'}} Miles</p>
          </div>

          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="../../assets/imgs/icons/event_note.svg" />
            <p class="date roboto">{{aa.discount_token}} </p>
          </div>

          <!-- <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/ccc.svg" />
            <p class="date roboto">{{aa.events.event_date }} </p>
          </div> -->

          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" src="assets/imgs/watch.svg" />
            <p class="date roboto">
              {{getTime(aa.start_hours)}} - {{getTime(aa.close_hours)}}
              <!-- 8:00PM - 10:00PM -->
            </p>
          </div>

        </div>
      </div>
      <div class="rem_time roboto" >{{aa.remaining_time}} Remaining</div>
    </div>

    
  </div>

  <div
  
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Claimed'"
  >
    <div class="elementBg" *ngFor="let aa of claimedVenuesArr" >
      <div style="display: flex;align-items: center;">
        <img
          style="
            width: 124px;
            height: 124px;
            border-radius: 16px;
            margin-right: 10px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div>
          <div class="bb roboto" style="margin-bottom: 8px;">{{aa.name}}</div>
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/pinwhite.svg" />
            <p class="bb roboto">{{aa.distance | number : '1.2-2'}} Miles</p>
          </div>

          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="../../assets/imgs/icons/event_note.svg" />
            <p class="date roboto">{{aa.discount_token}} </p>
          </div>

          <!-- <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/ccc.svg" />
            <p class="date roboto">{{aa.events.event_date }} </p>
          </div> -->

          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" src="assets/imgs/watch.svg" />
            <p class="date roboto">
              {{getTime(aa.start_hours)}} - {{getTime(aa.close_hours)}}
              <!-- 8:00PM - 10:00PM -->
            </p>
          </div>

        </div>
      </div>
    </div>

    
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Special Offers'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_specialOffersArr" >
      <div style="display: flex;align-items: center;">
        <img
          style="
            width: 124px;
            height: 124px;
            border-radius: 16px;
            margin-right: 10px;
          "
          src="{{rest.baseURLimg}}{{aa.cover_images}}"
        />
        
        <div>
          <div class="bb roboto" style="margin-bottom: 8px;">{{aa.name}}</div>
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/pinwhite.svg" />
            <p class="bb roboto">{{aa.distance | number : '1.2-2'}} Miles</p>
          </div>

          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="../../assets/imgs/icons/event_note.svg" />
            <p class="date roboto">{{aa.discount_percentage}}% </p>
          </div>

          <!-- <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/ccc.svg" />
            <p class="date roboto">{{aa.events.event_date }} </p>
          </div> -->

          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" src="assets/imgs/watch.svg" />
            <p class="date roboto">
              {{getTime(aa.start_hours)}} - {{getTime(aa.close_hours)}}
              <!-- 8:00PM - 10:00PM -->
            </p>
          </div>

        </div>
      </div>
      
      <!-- [class.hide]="hideClaimDiscountButton" -->
      <ion-list class="btnbg1 roboto" >
        <ion-item-sliding
          #slidingItem
          (ionDrag)="claimDrag(slidingItem, $event, aa)"
          (ionOpen)="openSlider(slidingItem)"
        >
          <ion-item-options side="start">
            <ion-item-option
              style="
                color: #531c7c;
                margin-top: -10px;
                background: #531c7c;
                margin-left: 5px;
              "
              expandable
              >Claim</ion-item-option
            >
          </ion-item-options>
  
          <ion-item
            style="color: white; opacity: 1"
            lines="none"
            class="btnbg margintopcls roboto"
          >
            <ion-label>Claim Discount</ion-label>
            <img
              style="
                rotate: 180deg;
                height: 25px;
                /* width: 25px; */
                margin-right: 20px;
              "
              src="../../assets/imgs/icons/new_icons/BackIcon.png"
            />
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <!-- <div class="claim_msg roboto" *ngIf="aa.remaining_time != null" >
        Already Claimed!
      </div>

      <div class="rem_time roboto" *ngIf="aa.remaining_time" >{{aa.remaining_time}} Remaining</div> -->
    </div>

    
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <div class="icondiv" (click)="dismiss()">
      <img src="assets/imgs/cross.svg" alt="" />
    </div>

    <div style="text-align: center">
      <img src="assets/imgs/disc.svg" alt="" />
      
      <p class="two roboto">Instant</p>
      <p *ngIf="detailObj.discount_percentage <= 0" class="three">
        No Discount
      </p>
      <p *ngIf="detailObj.discount_percentage > 0" class="mg_top_7">
        <span class="three roboto">{{detailObj.discount_percentage}}% </span> <span class="dis_off roboto">off</span> 
      </p>
      <p class="one roboto">Discount Claim!</p>

      <div class="roboto token_num" >{{discountToken}}</div>
      <div class="roboto token_info_one"  >Show this code at the venue.</div>
      <div class="roboto token_info_two" >*its a one time code, save it</div>
    </div>
  </div>
</div>