<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">My Reviews</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content style="--background: #262626">
 
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment
      style="
        height: 48px;
        width: 64%;
        background: white;
        padding: 3px 5px;
        border-radius: 200px;
      "
      
      mode="ios"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      value="reviewed"
    >
      <ion-segment-button
        style="
          --indicator-color: radial-gradient(Circle at 0% 0%,#4d4d4d,#222222);
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="reviewed" (click)="getVenueReviews()"
      >
        <ion-label>Reviewed</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: linear-gradient(180deg, #9218a6,#5a0670);
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="unrated" (click)="getPreviousBookings()"
      >
        <ion-label>Unrated</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
    class="container"
    *ngIf="segmentModel === 'reviewed'"
  >

    <div *ngFor="let rev of reviews;" >
      <div  style="background: linear-gradient(180deg, #262626, #302f2f);
      border-radius: 30px;
      padding: 15px 20px;
      margin-bottom: 15px;
        ">
        <div style="display: flex;align-items: center;">
            <div >
              <img *ngIf="rev.user_profile.profile_picture != null" style="height: 55px;
              width: 55px;
              border-radius: 50px;
              object-fit: cover;" src="{{rest.baseURLimg}}{{rev.user_profile.profile_picture}}" alt="">
              <img style="height: 55px;
              width: 55px;" *ngIf="rev.user_profile.profile_picture == null" src="../../assets/imgs/icons/new_icons/MyProfileIcon.png" alt="">
            </div>
    
            <div style="width: 85%;display: flex;
              align-items: center;
              justify-content: space-between;">
              <div style="margin-left: 10px;">
                <div class="roboto" style="font-size: 15px;
                font-weight: bold;
                color: #fafafa;
                line-height: normal;">
                Aroma 
                <!-- <img class="size_14_icon" src="../../assets/imgs/icons/new_icons/VerifiedIcon.png" alt=""> -->
                <!-- <img *ngIf="rest.reviewType=='venue'" class="size_14_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt="">   -->
                <img class="size_14_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt="">  
              </div>
              <!-- <div class="roboto" style="font-size: 14px;
              font-weight: 300;
              color: white;">{{rev.review_ratings}} <span><img src="../../assets/imgs/rating_star.svg" alt=""></span></div> -->
              <div style="display: flex;align-items:center;">
                <div class="rating_text_old roboto">{{rev.review_ratings}}</div>
                <div class="margin_row">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon2.png"    alt=""  *ngIf="rev.review_ratings==0">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon.png"     alt=""  *ngIf="rev.review_ratings>=1">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon2.png"    alt=""  *ngIf="rev.review_ratings<1.2">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/ReviewStar4.png"             alt=""  *ngIf="rev.review_ratings>=1.2 && rev.review_ratings<2 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon.png"     alt=""  *ngIf="rev.review_ratings>=2">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon2.png"    alt=""  *ngIf="rev.review_ratings<2.2">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/ReviewStar4.png"             alt=""  *ngIf="rev.review_ratings>=2.2 && rev.review_ratings<3 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon.png"     alt=""  *ngIf="rev.review_ratings>=3 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon2.png"    alt=""  *ngIf="rev.review_ratings<3.2">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/ReviewStar4.png"             alt=""  *ngIf="rev.review_ratings>=3.2 && rev.review_ratings<4 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon.png"     alt=""  *ngIf="rev.review_ratings>=4 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon2.png"    alt=""  *ngIf="rev.review_ratings<4.2">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/ReviewStar4.png"             alt=""  *ngIf="rev.review_ratings>=4.2 && rev.review_ratings<5 ">
                  <img class="star_margin"  src="../../assets/imgs/icons/new_icons/StarIcon.png"     alt=""  *ngIf="rev.review_ratings==5" style="margin-right: 0px;">
                </div> 
              </div>
              <div style="color: #d9d9d9;
              font-size: 9px;
              font-weight: 300;">12/02/2025</div>
              </div>
              <div style="display: flex
              ;
                  flex-direction: column;
                  align-items: center;">
                <img style="height: 18px;" src="../../assets/imgs/icons/new_icons/FlatIcon.png" alt="">
                <div style="font-size: 8px;
                font-weight: 300;
                color: #848484;">Report</div>
              </div>
            </div>
        </div>
        <div class="roboto" style="font-size: 12px;
        font-weight: 300;
        color: #fafafa;
        margin-top: 10px;">{{rev.review}}</div>
      </div>
    </div>
    
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'unrated'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_previousArr">
      <img
        style="
          width: 135px;
          height: 145px;
          border-radius: 10px;
          margin-right: 19px;
        "
        src="{{rest.baseURLimg}}{{aa.venues_details.cover_images}}"
      />

      <div style="width: 100%;" class="flex_space_between">
        <div>
          <div class="flex_center space_between">
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
              <p class="bb roboto">{{aa.venues_details.name}}</p>
            </div>
            <img class="alert_icon" src="../../assets/imgs/icons/new_icons/AlertIcon.png" alt="">
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm_calender" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
            <p class="date roboto">
              {{getDate(aa.bookings_date) }}
            </p>
          </div>
  
        </div>
        

        <div style="display: flex; ">
          <p *ngIf="aa.status == 'Pending'" (click)="goForAddReview(aa)" class="leave_review_btn roboto">
            Leave Review
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>