<ion-content class="background">
  <div>
    <div style="width: 90%; margin: 0px auto">
      <div style="text-align: center">
        <img style="margin-top: 100px" src="assets/imgs/logo.svg" />
      </div>

      <p
        style="
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.3px;

          color: #ffffff;
        "
        class="work_sans"
      >
        OTP
      </p>

      <p
        style="
          margin: 20px 0px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 127.3%;
          text-align: center;
          color: #ffffff;
        "
        class="work_sans"
      >
        A message has been sent to your <br />
        Email Address with CODE...
      </p>

      <ion-row style="display: flex; justify-content: center; margin-top: 5%">
        <ng-otp-input
          (onInputChange)="onOtpChange($event)"
          [config]="{length:4,allowNumbersOnly:true}"
        ></ng-otp-input>
      </ion-row>
      <p
        style="
          margin-top: 35px;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          letter-spacing: -0.3px;
          color: #ffffff;
        "
        class="work_sans"
      >
        Didn’t received the code?
        <span
          style="
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: -0.3px;
            color: #ffffff;
          "
          >RESEND</span
        >
      </p>

      <ion-button
        (click)="newPass()"
        style="margin-top: 110px"
        class="btnbg work_sans"
        >Verify</ion-button
      >
    </div>
  </div>
</ion-content>
