
<ion-content style="--background: #262626">
  <ion-modal [isOpen]="showBookingModel" class="booking_popup" (ionModalDidDismiss)="closeModal()">
    <ng-template>
      <img style="
      height: 246px;
      margin: 0px auto;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 92%, 50% 100%, 0% 92%, 0% 0%);
      z-index: 11;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;" src="{{selectedVenue.cover_images}}" alt="">


      <div class="content_position">
        <div class="roboto heading_text">{{selectedVenue.name}}</div>

        <div class="flex_info_box">
          <div class="flex_center info_text" style="margin: 0px auto 0px 0px;">
            <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" alt="">
            <div class="roboto" style="line-height: normal;">{{mdate}}</div>
          </div>
          <div class="flex_center info_text" style="margin: 0px auto 0px;">
            <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/WaveIcon.png" alt="">
            <div class="roboto" style="line-height: normal;">{{selectedBooking.no_of_diners}}</div>
          </div>
          <div class="flex_center info_text" style="margin: 0px 0px auto auto;">
            <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/ClockIcon.png" alt="">
            <div class="roboto" style="line-height: normal;">{{mtime}}</div>
          </div>
        </div>
      </div>
      <img style="position: absolute;
      width: 100%;
      top: 224px;" src="../../assets/imgs/icons/new_icons/BookingShape2.png" alt="">

      <div class="card_bg">
        <div class="roboto confirm_booking" >Booking Confirmed!</div>
        <div class="roboto thanks_text">Thank you</div>

        <img class="icon_style" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt="">
        <div class="thanks_text">All bookings can be found in your Profile</div>

        <ion-button class="btnsimple roboto view_booking_btn" style="--border-radius: 16px;" (click)="viewBooking()">
          View Booking
        </ion-button>
           
        <ion-button 
          (click)="closeModal()"
          style="margin-top: 10px;--border-radius: 16px;"
          class="btngray roboto close_btn"
          >Close
        </ion-button>
      </div>
      
    </ng-template>
  </ion-modal>
</ion-content>
