.titlefont{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

// .bg{
//   --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
//   padding: 0px 0px 0px 0px;
// }

.md .header_bg{
  width: 100%;
  height: 140px;
  position: relative;
}

.ios .header_bg{
  width: 100%;
  height: 140px;
  position: relative;
}

.md .header_content{
  position: absolute;
  top: 64px;
  width: 100%;
}

.ios .header_content{
  position: absolute;
  top: 64px;
  width: 100%;
}
  
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.uname{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  margin-top: 10px;
  color: #FFFFFF;
}

.uimg{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.mainDiv{
  padding-bottom: 10px;
  padding-top: 10px;
  // margin-right: 14px;
}

.visitors{
  width: 88%;
  text-align: center;
  margin: 5% auto 4.4%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // justify-content: space-between;
}