<ion-header>
  <ion-toolbar class="bg paddingtop">
    <ion-row>
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">CrowdLive</ion-label>
      </ion-col>
      <ion-col class="centerall" size="2">
        <img
        (click)="goToProfile()"
        style="height: 25px;"
        src="../../assets/imgs/icons/new_icons/MyProfileIcon.png"
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="visitors">
    <div *ngFor="let opt of visitorArr">
      <div class="mainDiv" >
        <img
          class="uimg"
          src="{{rest.baseURLimg}}{{opt.profile_picture}}"
          (error)="handleImgError2($event, opt.profile_picture)"
        />

        <p class="uname roboto">{{opt.username}}</p>
      </div>
    </div>
  </div>
</ion-content>