.titlefont{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bg{
  --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
  padding: 0px 0px 0px 0px;
}
  
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.uname{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  margin-top: 10px;
  color: #FFFFFF;
}

.uimg{
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.mainDiv{
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 14px;
}

.visitors{
  width: 96%;
  text-align: center;
  margin: 5% 0% 5% 4.4%;
  display: flex;
  flex-wrap: wrap;
}