.titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  .bg{
    --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    padding: 0px 0px 0px 0px;
  }
    
  .title{
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .centerall{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .total{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #F0F0F0;
  }


 

   