.titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  .bg{
    --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    padding: 0px 0px 0px 0px;
  }

  .total{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #F0F0F0;
  }
    
  .title{
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .centerall{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  // .total{
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 22px;
  //   color: #F0F0F0;
  // }

.payment_button{
  background: #000000;
  align-items: center;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  width: 280px;
  height: 50px;
}

.pay_info_box{
  background: #000000;
  border-radius: 15px;
  height: 112px;
  align-items: center;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 22px;
}

   