<ion-content>
  <div class="bg">
    <div style="width: 90%; margin: 0px auto; text-align: center">
      <div>
        <img style="margin-top: 114px" src="assets/imgs/logo.svg" />
      </div>

      <div style="position: absolute; bottom: 80px; width: 90%">
        <ion-button
          style="margin-bottom: 20px"
          class="btnbg roboto"
          (click)="goToSingup()"
          >Sign Up</ion-button
        >
        <ion-button class="btnsimple roboto" (click)="goToLogin()"
          >Log In</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
