<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>

    <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />

        <img
          (click)="likeevent()"
          *ngIf="detailObj.likes==0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutevent()"
          *ngIf="detailObj.likes!=0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartactive.svg"
        />
      </ion-col>
    </ion-row>

    <ion-badge *ngIf="detailObj.discount_percentage == 0" class="bdg"
      >No Discount</ion-badge
    >
    <ion-badge *ngIf="detailObj.discount_percentage != 0" class="bdg"
      >{{detailObj.discount_percentage}}% Off</ion-badge
    >

    <ion-row>
      <ion-col class="slider_main">
        <ion-slides pager="true" style="height: 250px">
          <ion-slide *ngFor="let p of detailObj.images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 90%; margin: 5% auto">
    <p class="titlemain work_sans">{{detailObj.name}}</p>
    <p class="titlesubmain work_sans">{{detailObj.venue_name}}</p>

    <ion-row>
      <ion-col style="display: flex; align-items: center">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/pinwhite.svg"
          />
          <p class="work_sans titlesub">
            {{detailObj.distance | number : '1.2-2'}} Miles
          </p>
        </div>
      </ion-col>
      <ion-col style="display: flex; align-items: center">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/watch.svg"
          />
          <p class="work_sans titlesub">
            {{detailObj.event_date}} | {{detailObj.event_time}}
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px">
      <ion-col size="8" style="display: flex; align-items: center">
        <p class="work_sans titlesub">{{detailObj.location}}</p>
      </ion-col>
    </ion-row>

    <div style="margin-top: 10px">
      <img
        (click)="goLocation()"
        style="height: 25px; width: 25px; margin-right: 20px"
        src="assets/imgs/target.svg"
      />

      <img
        (click)="goWeb()"
        style="height: 25px; width: 25px; margin-right: 20px"
        src="assets/imgs/web.svg"
      />

      <a href="tel:{{detailObj.phone_number}}"
        ><img
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/call.svg"
      /></a>
    </div>

    <p class="work_sans des">{{detailObj.description}}</p>
  </div>
</ion-content>
