<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>

    <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px;margin-right: 15px"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="likeevent()"
          *ngIf="detailObj.likes==0"
          style="height: 25px;margin-right: 10px"
          src="../../assets/imgs/icons/new_icons/HeartIcon2.png"
        />
        <img
          (click)="likeoutevent()"
          *ngIf="detailObj.likes!=0"
          style="height: 25px;margin-right: 10px"
          src="../../assets/imgs/icons/new_icons/HeartIcon1.png"
        />
        <img
          (click)="goToProfile()"
          style="height: 25px;margin-right: 15px"
          src="../../assets/imgs/icons/new_icons/MyProfileIcon.png"
        />
      </ion-col>
    </ion-row>

    <!-- <ion-badge *ngIf="detailObj.discount_percentage <= 0" class="bdg"
      >No Discount</ion-badge
    > -->
    <!-- <ion-badge *ngIf="detailObj.discount_percentage > 0" class="bdg"
      >{{detailObj.discount_percentage}}% Off</ion-badge
    > -->

    <ion-row>
      <ion-col class="slider_main">
        <ion-slides pager="true" >
          <ion-slide *ngFor="let p of detailObj.images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 92%; margin: 4% auto">
    <!-- <div (click)="showAllReviews()" class="roboto rating_text">4.5 <img class="star-icon" src="../../assets/imgs/icons/new_icons/StarIcon.png" alt=""> 
      <span style="margin-left: 4px;margin-right: auto;">Exceptional</span>
    </div> -->
    <p class="titlemain roboto">{{detailObj.name}} </p>
    <p class="titlesubmain roboto">{{detailObj.venue_name}}</p>


    <!-- <div style="display: flex">
      <img
        style="height: 18px; margin-right: 7px; width: 15px"
        src="../../assets/imgs/icons/new_icons/LocationPinIcon.png"
      />
      <p class="roboto titlesub" style="width: 73px;overflow: hidden;line-height: normal;">
        {{detailObj.distance | number : '1.1-1'}} Miles
      </p>
    </div> -->
      

    <div  class="flex_center">
      <div class="time_item">
        <img
          style="width: 20px;
          margin-right: 10px;"
          src="../../assets/imgs/icons/new_icons/ClockIcon.png"
        />
        <p class="roboto titlesub">
          {{detailObj.formatted_start_time}} - {{detailObj.formatted_end_time}}
        </p>
      </div>

      <div class="date_item">
        <img
          style="height: 18px; margin-right: 10px;"
          src="../../assets/imgs/icons/new_icons/CalanderIcon.png"
        />
        <p class="roboto titlesub" style="line-height: normal;">
          {{detailObj.formatted_date}}
        </p>
      </div>
    </div>

    <!-- <div style="margin-top: 0px; display: flex;align-items: center;justify-content: space-between;">
      <div style="display: flex; align-items: center; width: 65%;">
        <p class="roboto titlesub">{{detailObj.location}}</p>
      </div>
      <div style="display: flex; align-items: center">
        <img style="height: 16px; width: 16px; margin-right: 7px; margin-left: 2px;" src="../../assets/imgs/icons/new_icons/PersonIcon1.png" alt="">
        <p style="margin-right: 1px;" class="roboto titlesub">{{detailObj.availability_count}}</p>
      </div>

    </div> -->

    <div class="info_bar1">
      <img style="height: 40px;margin-right: 10px;" *ngFor="let eventType of filteredEventTypes" src="{{rest.baseURLimg}}{{eventType.keyword_image}}" alt="">
      <img style="height: 40px;margin-right: 10px;" *ngIf="detailObj.e_ticket=='yes'" src="../../assets/imgs/icons/venue_types/e-ticket.png" alt="">
      <!-- <div class="roboto venue_type">Terrace <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div>
      <div class="roboto venue_type">Cocktails  <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div>
      <div class="roboto venue_type">Bar  <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div> -->
      <ion-badge *ngIf="detailObj.discount_percentage > 0" class="bdg"
        >{{detailObj.discount_percentage}}% Off
      </ion-badge>
    </div>

    <div
      style="
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
    <div class="roboto info_bar_2">
        <!-- src="../../assets/imgs/target.svg" -->
        <div class="info_bar_icon">
          <img
          (click)="goLocation()"
          style="height: 20px;"
          src="../../assets/imgs/icons/icon_nav.svg"
          />
        </div>
        <div class="info_bar_icon">
          <img 
          (click)="goWeb()"
          style="height: 20px;"
          src="assets/imgs/web.svg"
          />
        </div>
        <div class="info_bar_icon">
          <a  href="tel:{{detailObj.phone_number}}"
          ><img
            style="height: 20px;"
            src="assets/imgs/call.svg"
        /></a>
        </div>
      </div>

      <div (click)="goToSee()" class="live_icon">
        <img style="width: 34px;margin: 0px auto;" src="../../assets/imgs/icons/new_icons/CrowdLiveIcons.png" alt=""> <span style="margin: 3px auto 0px;">{{detailObj.availability_count}}</span>
      </div>

    </div>

    <ion-list  class="btnbg1 roboto" [class.hide]="detailObj.discount_percentage < 0.1 || allTicketsSold==true || rest.claimDiscount == true">
      <ion-item-sliding
      
        #slidingItem
        (ionDrag)="claimDrag2(slidingItem, $event)"
        (ionOpen)="openSlider(slidingItem)"
      >
        <ion-item-options side="start">
          <ion-item-option
            style="
              color: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
              margin-top: -10px;
              background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
              margin-left: 5px;
            "
            expandable
            ></ion-item-option
          >
        </ion-item-options>

        <ion-item
          style="color: white; opacity: 1"
          lines="none"
          class="btnbg margintopcls roboto"
        >
          <ion-label style="margin-left: 25px;">Claim Discount</ion-label>
          <img
            style="
              rotate: 180deg;
              height: 20px;
              /* width: 25px; */
              /* margin-right: 20px; */
            "
            src="../../assets/imgs/icons/new_icons/BackIcon.png"
          />
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <div class="claim_msg roboto" *ngIf="rest.claimDiscount == true" 
      >Discount Claimed!
    </div>

    <ion-button *ngIf="!allTicketsSold"
      (click)="buyTicket()"
      style="margin-top: 16px;"
      class="btngray roboto"
      >Book Now</ion-button
    >

    <ion-button *ngIf="allTicketsSold"
      (click)="buyTicket()"
      style="margin-top: 16px; opacity: 1"
      class="btnwhite roboto"
      >See Details</ion-button
    >

    <!-- <p class="roboto des">{{detailObj.description}}</p> -->

    <div>
      <p [ngClass]="{'roboto':true,'venue_desc':true,'truncated':!showFullText}">
        {{ showFullText ? text : truncatedText }} 
        <span
          *ngIf="isTruncated"
          (click)="toggleText()"
          style="color: #9b19ab; cursor: pointer;"
        >
          {{ showFullText ? 'Less' : 'More' }}
        </span>
      </p>
      
    </div>
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <!-- <div class="icondiv" (click)="closeslide(slidingItem)">
      <img src="assets/imgs/cross.svg" alt="" />
    </div> -->

    <div style="text-align: center">
      <!-- <img src="assets/imgs/disc.svg" alt="" /> -->
      <img src="{{rest.baseURLimg}}{{detailObj.images[0].name}}" style="margin-top: 5px;
      height: 246px;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      position: relative;
      z-index: 3;" alt="">
      <div class="roboto heading_text">{{detailObj.name}}</div>
      <img class="bg_disc_card"  src="../../assets/imgs/icons/new_icons/BookingShape2.png" alt="">
      <div class="card_bg">

        <p class="two roboto">{{detailObj.discount_percentage}}%</p>
      
        <p class="one roboto">Discount Claimed</p>

        <!-- <div class="roboto token_num">{{discountToken}}</div> -->
        <!-- <div class="roboto token_info_one">All discounts can be found in your Profile</div> -->
        <!-- <div class="roboto token_info_two" >*its a one time code, save it</div> -->
        <ion-button (click)="hideDiscCard()" class="btngray" style="height: 45px;
        --background: linear-gradient(180deg, #262626, #302f2f);
        width: 70%;
        margin-top: 25px;">Close</ion-button>
      </div>  
      
    </div>

    <!-- <div style="text-align: center">
      <img src="assets/imgs/disc.svg" alt="" />
      <p class="one">Discount Claim!</p>
      <p class="two">Instant</p>
      <p *ngIf="detailObj.discount_percentage <= 0" class="three">
        No Discount
      </p>
      <p *ngIf="detailObj.discount_percentage > 0" class="three">
        {{detailObj.discount_percentage}}% off
      </p>
    </div> -->
  </div>
</div>
