<ion-content style="--background: #262626">
  <div >
    <div style=" text-align: center;">
      <img style="
      margin-top: 5px;
      height: 268px;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);" src="{{rest.baseURLimg}}{{selectedEvent.cover_images}}" alt="">

      <img
      (click)="goBack()"
      class="back-icon"
      src="../../assets/imgs/icons/new_icons/BackIcon.png"
      />

      <div class="content_position">
        <div class="roboto heading_text">{{selectedEvent.venue_name}}</div>
        <div class="roboto event_name">{{selectedEvent.name}}</div>
        
        <div class="flex_center info_text1" style="margin: 0px auto 0px 0px;">
          <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" alt="">
          <div class="roboto" style="line-height: normal;">{{getDate(selectedEvent.event_date)}}</div>
        </div>
        <div class="flex_center info_text2" style="margin: 0px 0px auto auto;">
          <img class="small_icon_style" src="../../assets/imgs/icons/ticket_clock.svg" alt="">
          <div class="roboto" style="line-height: normal;">{{getTime(selectedEvent.event_start_time)}} - {{getTime(selectedEvent.event_end_time)}}</div>
        </div>
      </div>
    </div>


    
    <!-- <div (click)="setOpen(true)"
     
      style="
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        opacity: 0.5;
      "
    >
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <p class="title roboto">Send message</p>
        <p class="desc roboto">Contact Event Organizer</p>
      </div>
      <img class="imm" src="assets/imgs/rightarr.svg" />
    </div> -->
  
    <!-- <div
      (click)="goLocation()"
      style="
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      "
    >
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <p class="title roboto">Get Location</p>
        <p class="desc roboto">Click to open the location of event venue</p>
      </div>
      <img class="imm" src="assets/imgs/rightarr.svg" />
    </div> -->

    <div style="width: 90%; text-align: center; margin: 5% auto">
      <p style="margin-top: 20px" class="title2 roboto">Description</p>
        <p class="desc2 roboto">{{selectedEvent.description}}</p>

        <p class="title2 roboto">Refund Policy</p>
        <p class="desc2 roboto">
          {{selectedEvent.refund_policy}}
        </p>

        <ion-button *ngIf="!allTicketsSold"
          (click)="buyTicket()"
          style="margin-top: 10px; opacity: 1"
          class="btnbg roboto"
          >Buy Ticket</ion-button
        >

        <p style="margin-top: 20px" class="title2 roboto">Organizer</p>
        <div style="display: flex">
          <img *ngIf="organizer.user_image"
            style="
              width: 57.3px;
              height: 57.3px;
              border: 1.5px solid #7825cb;
              border-radius: 50%;
              margin-right: 20px;
              object-fit: cover;
            "
            src="{{rest.baseURLimg}}{{organizer.user_image}}"
          />
          <img *ngIf="organizer.user_image == null || undefined"
            style="
              width: 57.3px;
              height: 57.3px;
              border: 1.5px solid #7825cb;
              border-radius: 50%;
              margin-right: 20px;
              object-fit: cover;
            "
            src="../../assets/imgs/avatar.png"
          />
          <div>
            <p class="username roboto">{{organizer.first_name}}</p>

            <p (click)="gotoOrganizerEvents()" class="buyTicket roboto">See All Events</p>
          </div>
        </div>
      </div>
    </div>
    

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="setModalValue()" class="message_note_popup" >
    <ng-template>
      <ion-content>
        <div class="modal_popup" style="background: white;">
          <div class="right">
            <img (click)="dismissModal()" src="../../assets/imgs/cross.svg" alt="">
          </div>
          <div class="msg_btn_sec">
            <div class="roboto" style="font-weight: 400;
            font-size: 18px;color: #262626;">You can chat with the event organizer once the ticket is purchased.</div>
            <ion-button (click)="dismissModal()" style="margin-top: 20px;
            opacity: 1;" class="roboto btnbg">OK</ion-button>
          </div>
          
        </div>
      </ion-content>
        
        
      
    </ng-template>
  </ion-modal>
</ion-content>
