.titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  .bg{
    --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    padding: 0px 0px 0px 0px;
  }
  
  .venue_label{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    // width: 212px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: block;
    // white-space: nowrap;
  }
  .centerall{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right{
    margin-right:15px;
    margin-top: 17px;
    text-align: right;
  }
  // .modal_popup{

  // }

  .msg_btn_sec{
    text-align: center;
    padding: 15px 28px 25px;
  }
  .date{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin: 0px;
  }

  .bb{
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: left;
  }


  .canc{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FF285C;
  }

  .imm{
    width:20px;
    height:20px;
    margin-right: 10px;
  }

  .title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  .desc{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }


  .title2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: left;
  }

  .desc2{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    color: #FFFFFF;
  }


  .username{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 6px;
  }


  .buyTicket{
    padding: 6px 15px;
    background: linear-gradient(89.73deg, #EBD87A -0.24%, #956B1C 99.77%);
    border-radius: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;

  }