<ion-header>
  <ion-toolbar style="position: relative;">
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">My Reservations</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">

  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment
      style="
        height: 48px;
        width: 64%;
        background: white;
        padding: 3px 5px;
        border-radius: 200px;
      "
      mode="ios"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      value="Upcoming"
      
    >
      <ion-segment-button
        style="
          --indicator-color: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="Upcoming" (click)="getUpcomingBookings()"
      >
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: #323232;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="Previous" (click)="getPreviousBookings()"
      >
        <ion-label>Previous</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Upcoming'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_upcomingArr">
      <img (click)="gotoBookingDetails(aa)"
        style="
          width: 135px;
          height: 145px;
          border-radius: 10px;
          margin-right: 19px;
        "
        src="{{rest.baseURLimg}}{{aa.venues_details.cover_images}}"
      />

      <div class="flex_space_between">
        <div>
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
            <p class="bb roboto">{{aa.venues_details.name}}</p>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/WaveIcon.png" />
            <p class="date roboto">{{aa.no_of_diners}} people</p>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm_calender" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
            <p class="date roboto">
              {{getDate(aa.bookings_date) }}
            </p>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/ClockIcon.png" />
            <p class="date roboto">
              {{getTime(aa.bookings_time)}}
            </p>
          </div>
        </div>

        <!-- <div
          *ngIf="aa.status != 'Cancelled'"
          style="display: flex; margin-top: 10px"
        >
          <p (click)="cancelBooking(aa)" class="canc roboto">Cancel</p>
          <p class="canc roboto" style="margin: 0px 10px">|</p>
          <p (click)="editbooking(aa)" class="canc roboto">Modify</p>
        </div> -->
        <div (click)="gotoBookingDetails(aa)" class="view_btn roboto">view</div>
        <!-- <div
          *ngIf="aa.status == 'Cancelled'"
          style="display: flex; margin-top: 20px"
        >
          <p class="canc roboto">Cancelled</p>
        </div> -->
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 8px;
      margin-left: 3%;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Previous'"
  >
    <div class="elementBg" *ngFor="let aa of orderd_previousArr">
      <img
        style="
          width: 135px;
          height: 145px;
          border-radius: 10px;
          margin-right: 19px;
        "
        src="{{rest.baseURLimg}}{{aa.venues_details.cover_images}}"
      />

      <div style="width: 100%;" class="flex_space_between">
        <div>
          <div class="flex_center space_between">
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
              <p class="bb roboto">{{aa.venues_details.name}}</p>
            </div>
            <img class="del_icon" (click)="deleteReservation()" src="../../assets/imgs/icons/new_icons/BinIcon.png" alt="">
          </div>
          
  
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/WaveIcon.png" />
            <p class="date roboto">{{aa.no_of_diners}} people</p>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 10px">
            <img class="imm_calender" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
            <p class="date roboto">
              {{getDate(aa.bookings_date) }}
            </p>
          </div>
  
          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/ClockIcon.png" />
            <p class="date roboto">
              {{getTime(aa.bookings_time)}}
            </p>
          </div>
        </div>
        

        <div style="display: flex; ">
          <p *ngIf="aa.status == 'Pending'" class="view_btn roboto">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Completed'" class="view_btn roboto">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Cancelled'" class="view_btn roboto">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Accepted'" class="view_btn roboto">
            {{aa.status}}
          </p>
          <p *ngIf="aa.status == 'Rejected'" class="view_btn roboto">
            {{aa.status}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="deleteOldBooking" style="--background: #00000059" (ionModalDidDismiss)="closeModel()">
    <ng-template>
      <ion-content style="--background: #00000059">
        <div
          style="
            position: absolute;
            top: 31%;
            width: 100%;
            display: flex;
            justify-content: center;
          "
        >
          <div
            style="
              background: linear-gradient(135deg, #262626, #302f2f);
              padding: 20px 20px 20px 20px;
              border-radius: 10px;
              margin: 20px;
              border: 2px solid #848484;
              width: 85%;
            "
          >
            <div style="display: flex; justify-content: flex-end">
              <img (click)="closeModel()" style="height: 16px;width: 16px;" src="../../assets/imgs/icons/new_icons/RemoveIcon.png" />
            </div>
            <div style="text-align: center;">
              <img style="height: 40px;" src="../../assets/imgs/icons/new_icons/BinIcon.png" alt="">
            </div>
            <p style="margin: 20px 0px 5px 0px" class="sure roboto">
              Confirm Delete
            </p>
            
            <ion-button
            (click)="closeModel()"
            style="margin-top: 20px;
            opacity: 1;
            --border-radius: 18px;
            --background: linear-gradient(135deg, #262626, #302f2f);
            --border-color: #fafafa;
            --border-width: 1px;
            --border-style: solid;"
            class="btnbgred roboto"
            >Yes</ion-button
            >
           
            <ion-button
              (click)="closeModel()"
              style="margin-top: 20px; opacity: 1;--border-radius: 18px;width: 98%;"
              class="btnbg roboto"
              >No</ion-button
            >
            
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


