<ion-content style="--background: #262626">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div
    class="bg paddingtop"
    style="position: fixed; width: 100%; z-index: 9999"
  >
    <ion-row>
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">My Reservations</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

    <div style="margin: 10px 0px; text-align: -webkit-center">
      <ion-segment
        style="
          height: 48px;
          width: 64%;
          background: white;
          padding: 3px 5px;
          border-radius: 200px;
          margin-top: 20px;
        "
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel"
        value="Upcoming"
      >
        <ion-segment-button
          style="
            --indicator-color: #611ea5;
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: #611ea5;
          "
          value="Upcoming"
        >
          <ion-label>Upcoming</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="
            --indicator-color: #611ea5;
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: #611ea5;
          "
          value="Previous"
        >
          <ion-label>Previous</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 130px;
      margin-left: 3%;
    "
    *ngIf="segmentModel === 'Upcoming'"
  >
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p (click)="cancelBooking()" class="canc work_sans">Cancel</p>
          <p class="canc work_sans" style="margin: 0px 10px">|</p>
          <p class="canc work_sans">Modify</p>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      margin-top: 130px;
      margin-left: 3%;
    "
    *ngIf="segmentModel === 'Previous'"
  >
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
    <div class="elementBg">
      <img
        style="
          width: 104px;
          height: 104px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&w=1000&q=80"
      />

      <div>
        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/ttt.svg" />
          <p class="bb work_sans">Booking confirmed</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 8px">
          <img class="imm" src="assets/imgs/uuu.svg" />
          <p class="date work_sans">2 people</p>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: -8px">
          <img class="imm" src="assets/imgs/ccc.svg" />
          <p class="date work_sans">Tue, 14 Mar at 18:30</p>
        </div>

        <div style="display: flex; margin-top: 20px">
          <p class="completed work_sans">Completed</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
