// ========model css=====

.sure{
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 122.8%;
  text-align: center;
  color: white;
}

.footer_text{
  color: #c8c5c5;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin: 25px auto 20px;
}

.info-text{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-align: center;
}


// ================

.titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  
  .bg{
    --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
    padding: 0px 0px 0px 0px;
  }

  .completed{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: linear-gradient(89.73deg, #EBD87A -0.24%, #956B1C 99.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0px;

}

.imm{
  width:20px;
  height:20px;
  margin-right: 10px;
}

.del_icon{
  // height: 16px;
  margin-right: 2px;
  width: 16px;
}



    
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center{
  display: flex;
  align-items: flex-start;
}

.space_between{
  justify-content: space-between;
}


.date{
  font-style: normal;
  font-weight: 400;
  font-size: 11.9px;
  // line-height: 19px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin: 0px;
}

.bb{
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  // line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: left;
}

.canc{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF285C;
  margin-bottom: 0px;
}

.elementBg{
  display: flex;
  align-items: center;
  margin-top: 15px;
  background: #323232;
  padding: 10px;
  border-radius: 20px;
  width: 97%;
}

.view_btn{
  height: 35px;
  width: 145px;
  background: #262626;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: normal;
  padding: 7px;
  border-radius: 14px;
  margin-bottom: 0px;
}