.container{
  width: 90%; 
  margin: 5% auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 94%;
}

// .bg{
//     --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
//     padding: 0px 0px 0px 0px;
//   }

.md .header_bg{
  width: 100%;
  height: 60px;
}

.ios .header_bg{
  width: 100%;
  height: 97px;
}

.md .header_content{
  position: absolute;
  top: 12px;
  z-index: 1;width: 100%;
}

.ios .header_content{
  position: absolute;
  top: 42px;
  z-index: 1;width: 100%;
}

  .centerall{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .note_style{
    font-size: 11px;
    font-weight: 300;
    margin-top: 9px;
    color: #a6a6a6;
    margin: 10px auto;
    text-align: center;
  }

  .titlefont{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  .rating_value{
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
  }

  .mgt_15{
    margin-top: 15px;
  }
  
  .mgt_10{
    margin-top: 10px;
  }

  .exclusive{
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
  }

  .star_margin{
    height: 32px;
    width: 32px;
    margin-right: 15px;
  }

.margin_row{
  text-align: center;
  margin-top: 10px;
  padding-left: 11px;
}

.review_note{
  color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}

.package_type{
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.packages_box{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 24px auto 18px;
}

.package_box{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

ion-checkbox{
  --border-radius: 5px;
  --checkbox-background: #730899;
  --background: #730899;
  --background-checked: #730899;
  --border-color: #730899;
  --border-color-checked: #730899;
  --checkmark-color: white;
  height: 18px;
  width: 18px;
}

.textarea{
  --background: black;
    margin-top: 20px;
    border-radius: 28px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
    font-size: 14.5px;
    --placeholder-color: white;
    font-weight: 400;
    --placeholder-font-weight: 400;
    --placeholder-opacity: none;
    --color: white;
    height: auto;
    overflow: scroll;
}