<ion-content class="background">
  <div>
    <div style="width: 90%; margin: 0px auto">
      <div style="text-align: center">
        <img style="margin-top: 100px" src="assets/imgs/logo.svg" />
      </div>

      <p
        style="
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.3px;

          color: #ffffff;
        "
        class="work_sans"
      >
        New Password?
      </p>

      <p
        style="
          margin: 20px 0px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 127.3%;
          text-align: center;
          color: #ffffff;
        "
        class="work_sans"
      >
        Please create new password for <br />
        your account.
      </p>

      <div
        class="inputfield"
        style="
          height: 52px;
          display: flex;
          margin-top: 30px;
          flex-direction: row-reverse;
        "
      >
        <img
          *ngIf="!showPass1"
          (click)="togglePass1()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eyeoff.svg"
        />

        <img
          *ngIf="showPass1"
          (click)="togglePass1()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eye.svg"
        />
        <ion-input
          class="input"
          type="{{showPass1 ? 'text':'password' }}"
          placeholder="New Password"
        >
        </ion-input>
        <img
          style="height: 21px; margin: 12px 19px 17px 15px"
          src="/assets/imgs/lock.svg"
        />
      </div>
      <div
        class="inputfield"
        style="
          height: 52px;
          display: flex;
          margin-top: 20px;
          flex-direction: row-reverse;
        "
      >
        <img
          *ngIf="!showPass2"
          (click)="togglePass2()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eyeoff.svg"
        />

        <img
          *ngIf="showPass2"
          (click)="togglePass2()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eye.svg"
        />
        <ion-input
          class="input"
          type="{{showPass2 ? 'text':'password' }}"
          placeholder="Confirm Password"
        >
        </ion-input>
        <img
          style="height: 21px; margin: 12px 19px 17px 15px"
          src="/assets/imgs/lock.svg"
        />
      </div>

      <ion-button
        (click)="goToLogin()"
        style="margin-top: 130px"
        class="btnbg work_sans"
        >Reset</ion-button
      >
    </div>
  </div>
</ion-content>
