<ion-content [fullscreen]="true" >
  <div class="bg paddingtop">

  <!-- <capacitor-google-map #map></capacitor-google-map> -->

  <google-map 
    height="100%"
    width="100%"
    #myGoogleMap
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
      (mapDrag)="eventHandler($event,'mapDragMarker')"
      (mapDragend)="eventHandler($event,'mapDragend')"
      (mapClick)="openInfo(markerElem, marker.title, marker)"
    >
    </map-marker>

    <map-info-window  style=" border-radius: 15px; border-bottom: none;">
      <div  style="display: flex; align-items: center;" >
        <!-- <ion-icon (click)="closeWindow()" name="close" style="height: 16px;
        width: 16px;
        opacity: 0.6;
        position: absolute;
        top: 6px;
        right: 11px;"></ion-icon> -->
        <img
          style="height: 30px; width: 30px; margin-right: 10px"
          src="assets/imgs/maphuman.svg"
        />
        <ion-label
          style="
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #7825cb;
            margin-right: 10px;
          "
          >{{ infoContent }}
        </ion-label>
      </div>
    </map-info-window>

    <map-marker *ngIf="userLocation"
      [position]="userLocation.position"
      
      [options]="userLocation.options"
    
    >
    </map-marker>
    <map-directions-renderer  [options]="renderOptions"  *ngIf="(directionsResults$ | async) as directionsResults"
      [directions]="directionsResults">
    </map-directions-renderer>
  </google-map>
  
  <img [class.hide_ai]="aiToggleChecked == false" id="open-modal-map" (click)="startSpeechRecognition()"  style="position: fixed;z-index: 11;
  right: 15px;
  bottom: 62%; height: 58px; width: 58px;" src="../../assets/imgs/icons/ai_icon.svg" alt="">

  <ion-modal trigger="open-modal-map" [initialBreakpoint]="0.55" [breakpoints]="[0, 1]" (ionModalWillDismiss)="dismissModal()">
    <ng-template>
      <div style="background: white;">
        <div style="text-align: right;padding: 15px 15px 0px">
          <img (click)="dismissModal()" src="../../assets/imgs/icons/close.svg" alt="">
        </div>
        
        <div class="block">
        
          <div *ngIf="!listener" class="modal_text_color" style="color: black;text-align: center;">Tap the microphone to start listening</div>
          <div *ngIf="listener == true && yourVoiceInput== ''" style="text-align: left;">
            Listening...
  
          </div>
          <div *ngIf="yourVoiceInput != ''" class="modal_text_color" style="text-align: left;">
            {{yourVoiceInput}}
          </div>
          
  
          <div style="display: flex;
          flex-direction: column;
          align-items: center;">
            <div class="modal_text_color" style="text-align: center;margin-top: 20px;">Try Saying</div>
            <div class="modal_text_color" style="text-align: center;">"A venue name"</div>
            <div class="modal_text_color" style="text-align: center;">"A venue name have 30% discount"</div>
    
            <div style="text-align: center;
            margin-top: 30px;">
    
            <img (click)="startSpeechRecognition()" class="not_listening" *ngIf="!listener"  src="../../assets/imgs/icons/mic_32.png" alt="">
            <div (click)="stopSpeechRecognition()" *ngIf="listener" style="height: 63px;
            width: 63px;
            background: brown;
            border-radius: 90px;
            padding: 21px;">
              <div style="height: 21px;
              width: 21px;
              background: white;"></div>
            </div>
            <!-- <img (click)="stopSpeechRecognition()" class="not_listening" *ngIf="!listener"  src="../../assets/imgs/icons/mic_32.png" alt=""> -->
            <!-- <img (click)="stopSpeechRecognition()"  *ngIf="listener"  src="../../assets/imgs/icons/stop.png" alt=""> -->
              
              <!-- <ion-button (click)="stopSpeechRecognition()" expand="block" fill="clear" shape="round">
                Stop Listening
              </ion-button> -->
          </div>
          
            
          </div>
        </div>
      </div>
     
    </ng-template>
  </ion-modal>

  <div *ngIf="showSideElements" (click)="toggleCategories()" style="position: absolute;
    right: 12px;
    bottom: 51%;
    background: #740899;
    border-radius: 90px;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 11px 0px;">
    <img src="../../assets/imgs/icons/bar_icon.svg" alt="">
    
  </div>

  <div *ngIf="showCategories" class="categories_filter">
    <div class="filter_btn work_sans mgb_16" (click)="setMarkersAgain()" >Bars</div>
    
    <div class="filter_btn work_sans mgb_16" (click)="setMarkersAgain()" >Clubs</div>
    
    <div class="filter_btn work_sans" (click)="setMarkersAgain()">Restaurants</div>
  </div>

  <div *ngIf="showSideElements" (click)="showHideFilterN()" style="position: absolute;
    right: 12px;
    bottom: 40%;
    background: #740899;
    
    border-radius: 90px;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 15px 0px;">
    <img  style="height: 27px;width: 27px;" src="../../assets/imgs/icons/group_icon.svg" alt="">
  </div>

  <div *ngIf="showfilter" class="crowd_filter" >
    <div class="filter_btn work_sans mgb_16" (click)="showHideFilter('Very Busy')" >Very Busy</div>
    
    <div class="filter_btn work_sans mgb_16" (click)="showHideFilter('Busy')" >Busy</div>
    
    <div class="filter_btn work_sans" (click)="showHideFilter('Quiet')">Quiet</div>
  </div>

  <div *ngIf="showSideElements" style="position: absolute;
    right: 12px;
    bottom: 29%;
    background: white;
   
    border-radius: 90px;
    height: 60px;
    width: 60px;
    text-align: center;
    padding: 15px 0px;">
    <img (click)="getCurrentLocation()" style="height: 28px;width: 28px;" src="../../assets/imgs/icons/pin_icon.svg" alt="">
    <!-- <ion-icon slot="start" style="height: 30px;width: 30px;" name="compass-outline" color="#ffffff"></ion-icon> -->
    
  </div>

  
  <!-- <ion-icon slot="start" style="height: 30px;width: 30px;" name="compass-outline" color="#ffffff"></ion-icon> -->
  
  <!-- <div
    *ngIf="showfilter"
    style="
      position: absolute;
      background: rgb(255, 255, 255);
      height: auto;
      width: auto;
      left: 50px;
      top: 50px;
      z-index: 9999;
      border-radius: 10px;
      padding: 3px 21px 12px;
    "
  >
    <p class="filtertext" (click)="showHideFilter('Very Busy')">Very Busy</p>
    <p class="filtertext" (click)="showHideFilter('Busy')">Busy</p>
    <p class="filtertext" (click)="showHideFilter('Quite')">Quite</p>
    <p
      style="
        font-size: 8px;
        text-align: right;
        margin-right: -12px;
        margin-top: 5px;
        margin-bottom: -3px;
      "
      class="filtertext"
      *ngIf="filtertype != 'no';"
      (click)="clearFilter()"
    >
      Clear Filter
    </p>
  </div> -->
  <div class="boxshadowww"></div>

  <!-- <ion-row class="paddingtop pdt-10"
    style="position: absolute; z-index: 99;  width: 100%"
  >
    <ion-col size="0.5" style="text-align: center">
      
      <img
        (click)="showHideFilterN()"
        style="height: 25px; width: 25px"
        src="assets/imgs/treeeline.svg"
      />
    </ion-col>

    <ion-col size="9.2" style="text-align: center">
      <div style="display: flex;align-items: center; justify-content: space-between;">
        <div (click)="setMarkersAgain()" class="venue_item">Restaurants</div>
        <div (click)="setMarkersAgain()" class="venue_item">Clubs</div>
        <div (click)="setMarkersAgain()" class="venue_item" style="margin-right: 0px;">Bars</div>
      </div>
    </ion-col>
    <ion-col size="2" style="text-align: center">
      <img
        (click)="goToProfile()"
        style="margin-top: 4px; height: 25px; width: 25px"
        src="assets/imgs/user.svg"
      />
    </ion-col>
  </ion-row> -->

  <div  class="searchtop" style="width: 100%;
  justify-content: center;">
    <div
      class="inputfieldtransparent top-90 top-65"
      style="display: flex; height: 44px; width: 90%;
      position: absolute;
      border: 2px solid white;padding-right: 5px;"
    >
      <img
        style="height: 24px;
        margin: 8px 0px 8px 15px;
        width: 24px;"
        src="/assets/imgs/pin.svg"
      />
      <!-- (ionInput)="searchVenues($event)"
      (click)="hideExtraElements()" -->
      <!-- id="open-modal" -->
      <ion-input #textInput
        style="padding-left: 15px !important; margin-right: 8px;"
        [readonly]="true"
        (click)="openModal()"
        class="input"
        type="text"
        placeholder="Search here"
      ></ion-input>
      <!-- <input #textInput class="input_html" (input)="searchVenues($event)"  style="padding-left: 15px !important; margin-right: 8px;" type="text" placeholder="Search here"> -->
      <!-- <img style="margin: 10px" src="/assets/imgs/search.svg" /> -->
      <img 
        (click)="goToProfile()"
        style="margin-top: 8px; margin-right: 3px; height: 25px; width: 25px"
        src="assets/imgs/user.svg"
      />
    </div>
  </div>

  <p
      *ngIf="filtertype != 'no' "
      class="filtertextClear"
      (click)="clearFilter()"
    > 
      Clear Filter
    </p>

  <div
    class="loc_info"
    *ngIf="searchObject"
    
  >
    <div *ngIf="searchObject.venues_id != null">
      <img
        (click)="likevenu()"
        *ngIf="searchObject.likes == 0"
        style="position: absolute; bottom: 10px; right: 20px"
        src="assets/imgs/heartwhite.svg"
      />
      <img
        (click)="likeoutvenu()"
        *ngIf="searchObject.likes != 0"
        style="position: absolute; bottom: 10px; right: 20px"
        src="assets/imgs/likemapheart.svg"
      />
    </div>
    <div *ngIf="showDetail" (click)="gotodetail()" style="width: 100%; display: flex;">
      <img
        style="
          border-radius: 22px;
          height: 100px;
          width: 100px;
          padding: 10px;
          object-fit: cover;
        "
        src="{{searchObject.cover_images}}"
      />

      <div style="margin-top: 11px;padding-right: 10px;margin-bottom: 11px;width: 50%;">
        <p
          style="
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #ffffff;
            
          "
          class="work_sans"
        >
          {{searchObject.name}}
        </p>

        <ion-badge 
          *ngIf="searchObject.discount_percentage != 0 && searchObject.discount_percentage != null  && searchObject.venues_id != null"
          style="
            font-size: 10px;
            padding: 8px 10px;
            position: absolute;
            right: 8px;
            top: 8px;
            border-radius: 20px;
            /* background: #7825cb; */
            background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);;
            font-weight: 400;
          "
          >{{searchObject.discount_percentage}}% off</ion-badge
        >

        <ion-badge
          *ngIf="searchObject.discount_percentage == 0 && searchObject.venues_id != null"
          style="
            font-size: 10px;
            padding: 8px 10px;
            position: absolute;
            right:8px;
            top: 8x;
            border-radius: 20px;
            /* background: #7825cb; */
            background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
            font-weight: 400;
          "
          >No Discount</ion-badge
        >

        <div style="display: flex; margin-top: 10px">
          <img style="margin-right: 10px" src="assets/imgs/pinwhite.svg" />
          <p class="work_sans titlesub">
            {{searchObject.distance | number : '1.1-1'}} Miles
          </p>
        </div>
        <div style="display: flex; margin-top: 10px" *ngIf="searchObject.venues_id != null">
          <img style="margin-right: 10px" src="assets/imgs/watch.svg" />
          <p class="work_sans titlesub">
             {{searchObject.start_hours}} - {{searchObject.close_hours}}
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg" class="img" />
        <ion-label class="font work_sans">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/locationactive.svg" class="activeimg" />
        <ion-label class="fontactive work_sans">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/heart.svg" class="img" />
        <ion-label class="font work_sans">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/bell.svg" class="img" />
        <ion-label class="font work_sans">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
