<ion-content style="--background: none">
  <!-- <div class="bg paddingtop"> -->

  <capacitor-google-map #map></capacitor-google-map>

  <div
    *ngIf="showfilter"
    style="
      position: absolute;
      background: rgb(255, 255, 255);
      height: auto;
      width: auto;
      left: 50px;
      top: 50px;
      z-index: 9999;
      border-radius: 10px;
      padding: 3px 21px 12px;
    "
  >
    <p class="filtertext" (click)="showHideFilter('Very Busy')">Very Busy</p>
    <p class="filtertext" (click)="showHideFilter('Busy')">Busy</p>
    <p class="filtertext" (click)="showHideFilter('Quite')">Quite</p>
    <p
      style="
        font-size: 7px;
        text-align: right;
        margin-right: -12px;
        margin-top: 5px;
        margin-bottom: -3px;
      "
      class="filtertext"
      *ngIf="filtertype != 'no';"
      (click)="clearFilter()"
    >
      Clear Filter
    </p>
  </div>
  <div class="boxshadowww"></div>

  <ion-row
    style="position: absolute; z-index: 99; padding-top: 20px; width: 100%"
  >
    <ion-col size="2" style="text-align: center">
      <img
        (click)="showHideFilterN()"
        style="height: 25px; width: 25px"
        src="assets/imgs/treeeline.svg"
      />
    </ion-col>

    <ion-col size="8" style="text-align: center"> </ion-col>
    <ion-col size="2" style="text-align: center">
      <img
        (click)="goToProfile()"
        style="height: 25px; width: 25px"
        src="assets/imgs/user.svg"
      />
    </ion-col>
  </ion-row>

  <!-- <div
    *ngIf="searchObject"
    (click)="gotodetail()"
    style="
      background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      display: flex;
      margin: 10px;
      border-radius: 20px;
      position: absolute;
      width: 94%;
      bottom: 110px;
    "
  >
    <img
      style="
        border-radius: 22px;
        height: 100px;
        width: 100px;
        padding: 10px;
        object-fit: cover;
      "
      src="{{rest.baseURLimg}}{{searchObject.cover_images}}"
    />

    <div style="margin-top: 11px">
      <p
        style="
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #ffffff;
        "
        class="work_sans"
      >
        {{searchObject.name}}
      </p>

      <ion-badge
        style="
          padding: 8px;
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 20px;
          background: #7825cb;
        "
        >{{searchObject.discount_percentage}}% off</ion-badge
      >
      <img
        *ngIf="searchObject.likes == 0"
        style="position: absolute; bottom: 10px; right: 20px"
        src="assets/imgs/heartwhite.svg"
      />
      <img
        *ngIf="searchObject.likes != 0"
        style="position: absolute; bottom: 10px; right: 20px"
        src="assets/imgs/heartactive.svg"
      />
      <div style="display: flex; margin-top: 10px">
        <img style="margin-right: 10px" src="assets/imgs/pinwhite.svg" />
        <p class="work_sans titlesub">{{searchObject.distance}}</p>
      </div>
      <div style="display: flex; margin-top: 10px">
        <img style="margin-right: 10px" src="assets/imgs/watch.svg" />
        <p class="work_sans titlesub">Open till {{searchObject.close_hours}}</p>
      </div>
    </div>
  </div> -->
  <!-- </div> -->
</ion-content>

<ion-footer>
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg" class="img" />
        <ion-label class="font work_sans">Venue</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/locationactive.svg" class="activeimg" />
        <ion-label class="fontactive work_sans">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/heart.svg" class="img" />
        <ion-label class="font work_sans">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/bell.svg" class="img" />
        <ion-label class="font work_sans">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
