<ion-header>
  <ion-toolbar class="bg paddingtop">
    <div class="title_bar">
      <div>
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="../../assets/imgs/confirmation_number.svg"
        />
      </div>
      <div class="titlefont work_sans">Scan Tickets</div>
      <div>
        <img
          (click)="goLogout()"
          style="height: 25px; width: 25px"
          src="assets/imgs/logout.svg"
      />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="contenVisibility" style="--background: #262626">
  <!-- <div class="container">
    <img (click)="gotoTicketDetail()" src="../../assets/imgs/scanner_img.svg" alt="">
  </div> -->
</ion-content>
