<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">

    <ion-row class="header_content" >
      <ion-col size="2" class="centerall"
        ><img
        (click)="goToScannedTickets()"
        style="height: 25px;"
        src="../../assets/imgs/confirmation_number.svg"
      />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-title class="titlefont roboto">Scan Tickets</ion-title>
      </ion-col>
      <ion-col class="centerall" size="2">
        <img
          (click)="goLogout()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/ExitIcon.png"
      /></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="contenVisibility" style="--background: #262626">
  <!-- <div class="container">
    <img (click)="gotoTicketDetail()" src="../../assets/imgs/scanner_img.svg" alt="">
  </div> -->
</ion-content>
