
<ion-header class="ion-no-border" style="background: #262626;
padding: 37px 20px 10px;">
 
    
    <div style="display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 52px;
    padding-left: 15px;">
      <img
          (click)="cancel()"
          style="height: 24px; width: 20px;
          "
          src="assets/imgs/backbtn.svg"
        />
      <!-- <ion-icon slot="start" name="arrow-back" color="white"></ion-icon> -->
      <ion-searchbar  class="ion_search work_sans"  #searchbar  [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
    </div>
    
  
   

  
</ion-header>

<ion-content class="ion-padding paddingtop" style="--background: #262626;">
  
  <!-- <ion-searchbar class="ion_search work_sans"  #searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar> -->

  <ion-list style="background: #262626; margin-bottom: 25px;" >
    <ion-item *ngFor="let result of results"  style="--background: #262626;--color:white;--border-color: white;--padding-start: 10px;
    --padding-end: 10px;">
      <ion-label class="work_sans" style="font-weight: 400;
      font-size: 16px;"  (click)="selectVenue(result)">{{ result.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>