.ion_search{
    --box-shadow: none !important;
    padding: 0px !important;
    // border: 2px solid white;
    border: 0px none transparent !important;
    border-radius: 52px;
    height: 44px;
    --background: none !important;
    --placeholder-color: white;
    --color: white;
    font-weight: 400;
    font-size: 16px;
    --icon-color: transparent;
}