<ion-content style="--background: #00000059">
  <div
    style="
      position: absolute;
      top: 21%;
      width: 100%;
      display: flex;
      justify-content: center;
    "
  >
    <div
      style="
        background: white;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        margin: 20px;
        width: 100%;
      "
    >
      <div style="display: flex; justify-content: flex-end">
        <img (click)="closeModel()" src="assets/imgs/cross.svg" />
      </div>
      <p style="margin: 0px" class="sure work_sans">Filter</p>

      <div
      class="inputfieldtransparent"
      style="
        height: 52px;
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #bababa;
        flex-direction: row-reverse;
      "
    >
      <img
        (click)="getCurrentLocation()"
        style="margin: 13px 17px 13px 15px"
        src="/assets/imgs/target.svg"
      />
      
      <input
        #search
        type="text"
        class="people"
        placeholder="Search your area"
        (keydown.enter)="$event.preventDefault()"
        [(ngModel)]="address"
        autocapitalize="words"
      />

      <span style="height: 24px; margin: 8px 9px 7px 8px;"></span>
      <!-- <img
        style="height: 24px; margin: 13px 17px 17px 15px"
        src="/assets/imgs/pin.svg"
      /> -->
    </div>
    
      <div
        (click)="hideShowuserdate()"
        class="inputfieldtransparent"
        style="
          height: 52px;
          margin-top: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #bababa;
        "
      >
        <p style="margin: 0px 0px 0px 20px" class="people">{{userdate}}</p>

        <img
          style="margin: 17px 17px 17px 15px; width: 15.81px; height: 8.81px"
          src="/assets/imgs/downw.svg"
        />
      </div>

      <div style="padding: 0px" class="floatingDiv" *ngIf="userdateShow">
        
        <ion-datetime
        presentation="date"
        locale="en-US"
        #datetime min="{{minDate}}" max="2080" 
        
        (ionChange)="formattedString(datetime.value)"
        
      ></ion-datetime>
      
      </div>

      <!-- <div
        (click)="hideShowcat()"
        class="inputfieldtransparent"
        style="
          height: 52px;
          margin-top: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #bababa;
        "
      >
        <p style="margin: 0px 0px 0px 20px" class="people">{{userCategory}}</p>

        <img
          style="margin: 17px 17px 17px 15px; width: 15.81px; height: 8.81px"
          src="/assets/imgs/downw.svg"
        />
      </div>

      <div class="floatingDiv" *ngIf="userCatShow">
        <p class="people" (click)="catClick(a)" *ngFor="let a of catArr">
          {{a.catname}}
        </p>
      </div> -->

      <ion-button
        (click)="filterEvents()"
        style="margin-top: 20px; opacity: 1"
        class="btnbg work_sans"
        >Apply</ion-button
      >
    </div>
  </div>
</ion-content>
