<ion-header>
  <ion-toolbar class="bg paddingtop">
   
    <ion-row>
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">My Events</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment
      style="
        height: 48px;
        width: 64%;
        background: white;
        padding: 3px 5px;
        border-radius: 200px;
      "
      mode="ios"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      value="Upcoming"
    >
      <ion-segment-button
        style="
          --indicator-color: #611ea5;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          --background-checked: #611ea5;
        "
        value="Upcoming" (click)="getUpcomingBookings()"
      >
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: #611ea5;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          --background-checked: #611ea5;
        "
        value="Previous" (click)="getPreviousBookings()"
      >
        <ion-label>Previous</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 8px;
      justify-content: center;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Upcoming'"
  >
    <div *ngFor="let aa of orderd_upcomingArr" style="width: 92%;">
      <div *ngIf="aa.ticket.length>0"  style="background: black;
        margin-top: 15px;
        border-radius: 20px;">
        <div class="elementBg" >
          <img  (click)="gotoEventDetails(aa)"
            style="
              width: 124px;
              height: 124px;
              border-radius: 16px;
              margin-right: 10px;
            "
            src="{{rest.baseURLimg}}{{aa.events_images[0].name}}"
          />
          
    
          <div>
            <div class="bb work_sans" style="margin-bottom: 8px;">{{aa.events.name}}</div>
            <div style="display: flex; align-items: center; margin-bottom: 8px">
              <img class="imm" src="assets/imgs/pinwhite.svg" />
              <p class="bb work_sans">{{aa.event_distance | number : '1.1-1'}} Miles</p>
            </div>
    
            <div style="display: flex; align-items: center; margin-bottom: 8px">
              <img class="imm" src="assets/imgs/ccc.svg" />
              <p class="date work_sans">{{getDate(aa.events.event_date)}} </p>
            </div>
    
            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <img class="imm" src="assets/imgs/watch.svg" />
              <p class="date work_sans">
                {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 8px;
      justify-content: center;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Previous'"
  >
    <div  *ngFor="let aa of orderd_previousArr" style="background: black;
    margin-top: 15px;
    border-radius: 20px;
     width: 92%;">
      <div class="elementBg">
        <img
        style="
          width: 124px;
          height: 124px;
          border-radius: 16px;
          margin-right: 10px;
        "
        src="{{rest.baseURLimg}}{{aa.events_images[0].name}}"
        />

        <div>
          <div class="bb work_sans" style="margin-bottom: 8px;">{{aa.events.name}}</div>
          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/pinwhite.svg" />
            <p class="bb work_sans">{{aa.event_distance | number : '1.1-1'}} Miles</p>
          </div>

          <div style="display: flex; align-items: center; margin-bottom: 8px">
            <img class="imm" src="assets/imgs/ccc.svg" />
            <p class="date work_sans">{{getDate(aa.events.event_date)}} </p>
          </div>

          <div style="display: flex; align-items: center; margin-bottom: 2px">
            <img class="imm" src="assets/imgs/watch.svg" />
            <p class="date work_sans">
              {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>
