<ion-header>
  <ion-toolbar style="position: relative;">
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">Events</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  
  <div style="margin: 25px 0px 10px; text-align: -webkit-center">
    <ion-segment
      style="
        height: 48px;
        width: 64%;
        background: white;
        padding: 3px 5px;
        border-radius: 200px;
      "
      mode="ios"
      [(ngModel)]="segmentModel"
      (ionChange)="segmentChanged($event)"
      value="Upcoming"
    >
      <ion-segment-button
        style="
          --indicator-color: radial-gradient(Circle at 0% 0%, #fad66a, #825807);
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="Upcoming" (click)="getUpcomingBookings()"
      >
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button
        style="
          --indicator-color: #323232;
          --color: #000000;
          --color-checked: #fff;
          --border-radius: 20px;
          /* --background-checked: #611ea5; */
        "
        value="Previous" (click)="getPreviousBookings()"
      >
        <ion-label>Previous</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 8px;
      justify-content: center;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Upcoming'"
  >
    <div *ngFor="let aa of orderd_upcomingArr" style="width: 92%;">
      <div *ngIf="aa.ticket.length>0"  style="background: #323232;
        margin-top: 15px;
        border-radius: 20px;">
        <div class="elementBg" >
          <img  (click)="gotoEventDetails(aa)"
            style="
              width: 135px;
              height: 145px;
              border-radius: 16px;
              margin-right: 19px;
            "
            src="{{rest.baseURLimg}}{{aa.events_images[0].name}}"
          />
          
    
          <div class="flex_space_between">
            <!-- <div class="bb roboto" style="margin-bottom: 8px;">{{aa.events.name}}</div> -->
            <div>
              <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
                <p class="bb roboto">{{aa.events.name}}</p>
              </div>
      
              <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img class="cal_icon" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
                <p class="date roboto">{{getDate(aa.events.event_date)}} </p>
              </div>
      
              <div style="display: flex; align-items: center; ">
                <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/ClockIcon.png" />
                <p class="date roboto">
                  {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
                </p>
              </div>
            </div>

            <div (click)="gotoEventDetails(aa)" class="view_btn roboto">view</div>
          </div>

          
        </div>
      </div>
    </div>
  
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 8px;
      justify-content: center;
      padding-bottom: 20px;
    "
    *ngIf="segmentModel === 'Previous'"
  >
    <div  *ngFor="let aa of orderd_previousArr" style="background: #323232;
    margin-top: 15px;
    border-radius: 20px;
     width: 92%;">
      <div class="elementBg">
        <img
        style="
          width: 135px;
          height: 145px;
          border-radius: 16px;
          margin-right: 19px;
        "
        src="{{rest.baseURLimg}}{{aa.events_images[0].name}}"
        />

        <div class="flex_space_between" style="width: 100%;">
          <!-- <div class="bb roboto" style="margin-bottom: 8px;">{{aa.events.name}}</div> -->
          <div>
            <div class="flex_center space_between">
              <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img class="imm" src="../../assets/imgs/icons/new_icons/LocationPinIcon.png" />
                <p class="bb roboto">{{aa.events.name}}</p>
              </div>
  
              <img class="del_icon" (click)="deleteBooking()" src="../../assets/imgs/icons/new_icons/BinIcon.png" alt="">
            </div>
  
            <div style="display: flex; align-items: center; margin-bottom: 10px">
              <img class="cal_icon" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" />
              <p class="date roboto">{{getDate(aa.events.event_date)}} </p>
            </div>
  
            <div style="display: flex; align-items: center; margin-bottom: 2px">
              <img class="imm" style="margin-right: 12px;" src="../../assets/imgs/icons/new_icons/ClockIcon.png" />
              <p class="date roboto">
                {{getTime(aa.events.event_start_time)}} - {{getTime(aa.events.event_end_time)}}
              </p>
            </div>
          </div>
          

          <div class="view_btn roboto">Complete</div>
          <!-- <div *ngIf="" class="view_btn roboto">Complete</div> -->
          <!-- <div *ngIf="" class="view_btn roboto">Refunded</div> -->
        </div>
      </div>
      
    </div>
  </div>

  <ion-modal [isOpen]="deleteOldBooking" style="--background: #00000059" (ionModalDidDismiss)="closeModel()">
    <ng-template>
      <ion-content style="--background: #00000059">
        <div
          style="
            position: absolute;
            top: 31%;
            width: 100%;
            display: flex;
            justify-content: center;
          "
        >
          <div
            style="
              background: linear-gradient(135deg, #262626, #302f2f);
              padding: 20px 20px 20px 20px;
              border-radius: 10px;
              margin: 20px;
              border: 2px solid #848484;
              width: 85%;
            "
          >
            <div style="display: flex; justify-content: flex-end">
              <img style="width: 30px;" src="../../assets/imgs/icons/new_icons/AlertIcon.png" />
            </div>
            <div style="text-align: center;">
              <img style="height: 40px;" src="../../assets/imgs/icons/new_icons/BinIcon.png" alt="">
            </div>
            <p style="margin: 20px 0px 5px 0px" class="sure roboto">
              Confirm Delete
            </p>
            
            <ion-button
            (click)="closeModel()"
            style="margin-top: 20px;
            opacity: 1;
            --border-radius: 18px;
            --background: linear-gradient(135deg, #262626, #302f2f);
            --border-color: #fafafa;
            --border-width: 1px;
            --border-style: solid;"
            class="btnbgred roboto"
            >Yes</ion-button
            >
           
            <ion-button
              (click)="closeModel()"
              style="margin-top: 20px; opacity: 1;--border-radius: 18px;width: 98%;"
              class="btnbg roboto"
              >No</ion-button
            >
            
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
