<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">Delete Account</ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div class="container">

    <div style="margin-top: 15%;">
      <div 
      (click)="selectDeleteRequestType()"
      class=" roboto delete_acc_box">Temporarily Deactivate</div>

      <div
        
        class="del_note roboto"
      >
        Deactivate your account temporarily and <br> come back anytime.
      </div>

      <div
        style="margin-top: 20px"
        (click)="selectDeleteRequestType()"
        class="roboto delete_acc_box"
        >Permanently Delete Account</div
      >
      <div class="roboto del_note">Permanently deleting your account is undoable.</div>
    </div>  
    

    <div>
      
      <ion-button
      (click)="showConfirmationModal()"
      style="margin-top: 20px; opacity: 1;--border-radius:15px"
      class="btnbg roboto"
      >Confirm</ion-button>

      <div class="roboto note_style">
        By submitting your review, you agree to adhere to our community guidelines.
        For more details, please review our <span style="color: #fafafa;">Terms and Conditions</span> in your profile.
      </div>
    </div>
  </div>
</ion-content>
