<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">Delete Account</ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div style="width: 90%; text-align: center; margin: 5% auto">
    <img style="height: 275px; margin-top: 40px" src="assets/imgs/delete.svg" />

    <p
      style="
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.3px;
        color: #ffffff;
        margin-top: 20px;
      "
      class="roboto"
    >
      Are you sure you want to <br />
      delete your account?
    </p>

    <div class="btm">
      <ion-button
        (click)="goBack()"
        style="margin-top: 20px"
        class="btnbg roboto"
        >NO</ion-button
      >

      <ion-button
        style="margin-top: 20px"
        (click)="godelete()"
        class="btnbgred roboto"
        >YES</ion-button
      >
    </div>
  </div>
</ion-content>
