<!-- <ion-header>
  <ion-toolbar>
    <ion-title>start-screen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <video
    autoplay
    loop
    muted="muted"
    src="assets/shutterstock-1047139603-1.mp4"
  ></video> -->

  <!-- <video preload="auto" autoplay playsinline muted loop>
    <source src="assets/video.mp4" />
  </video> -->

  <img
    src="assets/imgs/lotti.gif"
    style="height: 100%; width: 100%; object-fit: cover"
  />
</ion-content>
<!-- <ion-footer>


</ion-footer>  -->
