<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">Intellectual Properties</ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div class="container1">

    <div class="support_heading" style="margin-top: 10px;">Crowd® App - Intellectual Property</div>
    <div class="support_desc">Last Updated: [Date]</div>
  
    <div class="support_desc">The content, features, and functionality of the Crowd® App are protected by various forms of intellectual property rights owned by MiCrowd Ltd. This includes patents, design registrations, trademarks, and copyrights, which safeguard our proprietary technology, branding, and creative content.</div>
    
    <div class="support_heading" style="margin-top: 10px;">Patents</div>
    <div class="support_desc">The technology used within the Crowd® App, including features such as CrowdAI® and CrowdLive®, is protected under patent applications in multiple jurisdictions. MiCrowd Ltd reserves all rights associated with these patents. <br> <br>

      <ul style="margin-bottom: 0px;">
        <li>UK Patent Application No(s).: [Insert UK Patent Application Numbers]</li>
        <li>Hague Patent Application No(s).: [Insert Hague Patent Application Numbers]</li>
        <li>US Patent Application No(s).: [Insert US Patent Application Numbers]</li>
        <li>UAE Patent Application No(s).: [Insert UAE Patent Application Numbers]</li>
      </ul>
      
      
      
      
      </div>
    
    <div class="support_heading" style="margin-top: 10px;">Design Patents</div>
    <div class="support_desc">
      <ul style="margin-bottom: 0px;">
        <li>The visual design of the Crowd® App, including its unique interface elements, is protected under registered design patents.</li>
        <li>UK Design Patent No(s).: [Insert UK Design Patent Numbers]</li>
      </ul>
      
      </div>
    
    <div class="support_heading" style="margin-top: 10px;">Trademarks</div>
    <div class="support_desc">
      <ul style="margin-bottom: 0px;">
        <li>MiCrowd Ltd owns all rights to the trademarks associated with the Crowd App, including the "Crowd" name, logo, and any other branding elements used within the app. These trademarks are protected under trademark law to ensure exclusive rights to our brand identity.</li>
        <li>Trademark Registration No(s).: [Insert Trademark Reference Numbers]</li>
      </ul>
       

      
      
      </div>
    
    <div class="support_heading" style="margin-top: 10px;">Copyright</div>
    <div class="support_desc">All content within the Crowd App, including but not limited to text, graphics, logos, icons, images, audio clips, and software, is the copyrighted property of MiCrowd Ltd. Unauthorised reproduction, distribution, or modification of any copyrighted material within the app is strictly prohibited. <br> <br>

      <ul style="margin-bottom: 0px;">
        <li>Copyright Registration No(s).: [Insert Copyright Reference Numbers, if applicable]</li>
      </ul>
      
      </div>
    
    <div class="support_heading" style="margin-top: 10px;">Intellectual Property Usage</div>
    <div class="support_desc">Users are granted a limited, non-exclusive, and revocable license to access and use the Crowd App solely for personal, non-commercial purposes. Users agree not to copy, distribute, modify, or create derivative works from any intellectual property owned by MiCrowd Ltd without prior written permission.</div>
    
    <div class="support_heading" style="margin-top: 10px;">Infringement Notice</div>
    <div class="support_desc">MiCrowd Ltd actively monitors for unauthorised use of its intellectual property. Any unauthorised use or infringement of our intellectual property rights may result in legal action to enforce our rights to the fullest extent permitted by law.</div>
    
    
    
    


  </div>

</ion-content>
