.sure{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122.8%;
    text-align: center;
    color: #262626;
}

.hh{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 22px;
/* identical to box height, or 110% */

text-align: center;

color: #000000;
}

.heading_text{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 95px;
    left: 45px;
    text-align: center;
    right: 45px;
    // background: #262626;
    background: transparent;
    border-radius: 5px;
    padding: 3px 6px;
    z-index: 12;
  } 

  .confirm_booking{
    margin: 20px auto 0px;
    font-size: 17.5px;
    font-weight: 600;
    color: white;
    text-align: center;
  }

  .flex_info_box{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    position: absolute;
    top: 213px;
    left: 16px;
    z-index: 12;
  }

  .flex_center{
    display: flex;
    align-items: center;
  }

  .icon_style{
    height: 24px;width: 24px;
    margin: 20px auto;
  }
  
  .small_icon_style{
    height: 18px;
    width: 18px;
    margin: 0px 6px auto auto;
  }

  .thanks_text{
    margin-top: 8px;
    font-size: 8.5px;
    font-weight: 400;
    color: white;
    text-align: center;
  }
  
  .info_text{
    font-size: 13px;
    font-weight: 400;
    color: white;
    // background: #262626;
    border-radius: 5px;
    padding: 4px 6px;
  }

  .close_btn{
    width: 80%;
    margin: 15px auto 35px;
  }

  .view_booking_btn{
    width: 80%;
    margin: 15px auto 5px;
  }

  .card_bg{
    text-align: center;
    position: absolute;
    top: 238px;
    width: 100%;
    margin: 0px auto;
    border-radius: 12px;
  }

  .confirm_icon{
    height: 46px;
    width: 46px;
    margin-top: 50px;
  }