<ion-content class="background">
  <div>
    <div style="width: 90%; margin: 0px auto">
      <div style="text-align: center">
        <img style="margin-top: 100px" src="assets/imgs/logo.svg" />
      </div>

      <p
        style="
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.3px;

          color: #ffffff;
        "
        class="work_sans"
      >
        Forgot Password?
      </p>

      <p
        style="
          margin: 20px 0px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 127.3%;
          text-align: center;
          color: #ffffff;
        "
        class="work_sans"
      >
        Enter the Email address associated with your account. You will receive a
        confirmation code
      </p>

      <div
        class="inputfield"
        style="height: 52px; margin-top: 50px; display: flex"
      >
        <img style="margin: 17px 17px 17px 15px" src="/assets/imgs/email.svg" />
        <ion-input class="input" type="text" placeholder="Email"> </ion-input>
      </div>

      <ion-button
        (click)="newPass()"
        style="margin-top: 130px"
        class="btnbg work_sans"
        >Next</ion-button
      >
    </div>
  </div>
</ion-content>
