<ion-content class="background">
  <div>
    <div style="width: 90%; margin: 0px auto">
      <div>
        <img (click)="goBack()" style="height: 25px;margin-top: 30px" src="../../../../assets/imgs/icons/new_icons/BackIcon.png" alt="">
      </div>
      <div style="text-align: center">
        <img style="margin-top: 60px" src="assets/imgs/logo.svg" />
      </div>

      <p
        style="
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.3px;

          color: #ffffff;
        "
        class="roboto"
      >
        Forgot Password?
      </p>

      <p
        style="
          margin: 20px 0px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 127.3%;
          text-align: center;
          color: #ffffff;
        "
        class="roboto"
      >
        Enter the Email address associated with your account. You will receive a
        confirmation code
      </p>

      <div
        class="inputfieldtransparent"
        style="height: 52px; margin-top: 50px; display: flex"
      >
        <img style="margin: 17px 17px 17px 15px" src="/assets/imgs/email.svg" />
        <input
          [(ngModel)]="email"
          class="input"
          type="text"
          placeholder="Email"
        />
      </div>

      <ion-button
        (click)="newPass()"
        style="margin-top: 130px"
        class="btnbg roboto"
        >Next</ion-button
      >
    </div>
  </div>
</ion-content>
