<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>

    <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />

        <img
          (click)="likeevent()"
          *ngIf="detailObj.events.likes==0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutevent()"
          *ngIf="detailObj.events.likes!=0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartactive.svg"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="slider_main">
        <ion-slides pager="true" >
          <ion-slide *ngFor="let p of detailObj.events_images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 92%; margin: 4% auto">
    <p class="titlemain work_sans">{{detailObj.events.name}}</p>
    <p class="titlesubmain work_sans">{{detailObj.events.venue_name}}</p>

    <ion-row>
      <ion-col size="3.1" style="display: flex; align-items: center; padding: 0px;">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 7px; width: 12px"
            src="assets/imgs/pinwhite.svg"
          />
          <p class="work_sans titlesub" style="width: 73px;overflow: hidden;">
            {{detailObj.event_distance | number : '1.1-1'}} Miles
          </p>
        </div>
      </ion-col>
      <ion-col size="3.8" style="display: flex; align-items: center;padding: 0px;">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 7px; width: 12px"
            src="assets/imgs/icons/calendar.svg"
          />
          <p class="work_sans titlesub">
            {{getDate(detailObj.events.event_date)}}
          </p>
        </div>
      </ion-col>
      <ion-col size="5.1" style="display: flex; align-items: center;padding: 0px;">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 7px; width: 12px"
            src="assets/imgs/watch.svg"
          />
          <p class="work_sans titlesub">
            {{getTime(detailObj.events.event_start_time)}} - {{getTime(detailObj.events.event_end_time)}}
          </p>
        </div>
      </ion-col>
    </ion-row>

    <div style="margin-top: 10px; display: flex;align-items: center;justify-content: space-between;">
      <div style="display: flex; align-items: center; width: 65%;">
        <p class="work_sans titlesub">{{detailObj.events.location}}</p>
      </div>
      <!-- <div style="display: flex; align-items: center">
        <img style="margin-right: 14px;" src="../../assets/imgs/icons/people.svg" alt="">
        <p style="margin-right: 10px;" class="work_sans titlesub">0</p>
      </div> -->

    </div>

    <!-- <ion-row style="margin-top: 10px">
      <ion-col size="8" style="display: flex; align-items: center">
        <p class="work_sans titlesub">{{detailObj.events.location}}</p>
      </ion-col>
    </ion-row> -->

    <div
      style="margin-top: 10px; display: flex; justify-content: space-between"
    >
      <div>
        <img
          (click)="goLocation()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/target.svg"
        />

        <img
          (click)="goWeb()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/web.svg"
        />

        <a href="tel:{{detailObj.events.phone_number}}"
          ><img
            style="height: 25px; width: 25px; margin-right: 20px"
            src="assets/imgs/call.svg"
        /></a>
      </div>
      <!-- <div
        (click)="goToSee()"
        style="
          border: 1px solid #ffffff;
          padding: 5px 10px;
          border-radius: 20px;
        "
      >
        <p class="see work_sans">See who's out!</p>
      </div> -->
    </div>

   

    <ion-button
      (click)="viewTicket()"
      style="margin-top: 22px; opacity: 1"
      class="btnbg work_sans"
      >View Ticket</ion-button
    >

    <!-- <p class="work_sans des">{{detailObj.events.description}}</p> -->

    <div
      (click)="goToChat()"
      style="
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 12px;
      "
    >
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <p class="title work_sans">Send message</p>
        <p class="desc work_sans">Contact Event Organizer</p>
      </div>
      <img class="imm" src="assets/imgs/rightarr.svg" />
    </div>

    <div
    (click)="goLocation()"
    style="
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      padding-bottom: 12px;
    "
  >
    <div
      style="display: flex; flex-direction: column; align-items: flex-start"
    >
      <p class="title work_sans">Get Location</p>
      <p class="desc work_sans">Click to open the location of event venue</p>
    </div>
    <img class="imm" src="assets/imgs/rightarr.svg" />
    </div>

    <p style="margin-top: 20px; margin-bottom: 8px" class="title2 work_sans">
      Amount Detail
    </p>

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 0px;
      "
    >
      <p style="margin: 0px" class="dd work_sans">Standard Ticket</p>
      <p style="margin: 0px" class="dd work_sans">{{detailObj.number_of_ticket}}x£{{detailObj.price_per_ticket}}</p>
      <p style="margin: 0px" class="dd work_sans">£{{ticketTotal}}</p>
    </div>

    <!-- <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 0px;
      "
    >
      <p style="margin: 0px" class="dd work_sans">VIP Ticket</p>
      <p style="margin: 0px" class="dd work_sans">01x£50</p>
      <p style="margin: 0px" class="dd work_sans">£50</p>
    </div>
    
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 0px;
      "
    >
      <p style="margin: 0px" class="dd work_sans">Queue Jump</p>
      <p style="margin: 0px" class="dd work_sans">02x£10</p>
      <p style="margin: 0px" class="dd work_sans">£20</p>
    </div> -->

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 0px;
      "
    >
      <p style="margin: 0px" class="dd work_sans">{{detailObj.package_type}}</p>
      <p style="margin: 0px" class="dd work_sans">{{detailObj.package_name}}</p>
      <p style="margin: 0px" class="dd work_sans">£{{detailObj.package_price}}</p>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px 0px;
      "
    >
      <p style="margin: 0px" class="dd work_sans">Crowd Fees</p>
      <p style="margin: 0px" class="dd work_sans">£5</p>
    </div>

    <p style="margin-top: 13px" class="title2 work_sans">Description</p>
    <p style="margin-top: 13px" class="desc2 work_sans">{{detailObj.events.description}}</p>

    <p class="title2 work_sans" style="margin-top: 13px">Refund Policy</p>
    <p class="desc2 work_sans" style="margin-top: 13px">
      {{detailObj.events.refund_policy}}
    </p>

    <p style="margin-top: 10px" class="title2 work_sans">Organizer</p>
    <div style="display: flex; margin-top: 13px">
      <img *ngIf="organizer"
        style="
          width: 57.3px;
          height: 57.3px;
          border: 1.5px solid #7825cb;
          border-radius: 50%;
          margin-right: 20px;
          object-fit: cover;
        "
        src="{{rest.baseURLimg}}{{organizer.user_image}}"
      />
      <img *ngIf="!organizer"
        style="
          width: 57.3px;
          height: 57.3px;
          border: 1.5px solid #7825cb;
          border-radius: 50%;
          margin-right: 20px;
          object-fit: cover;
        "
        src="../../assets/imgs/avatar.png"
      />
      
      <div>
        <p *ngIf="organizer" class="username work_sans">{{organizer?.first_name}}</p>

        <p (click)="gotoOrganizerEvents()" class="buyTicket work_sans">See All Events</p>
      </div>
    </div>
  </div>
</ion-content>
