<ion-content style="--background: #262626">
  <div >
    <!-- <div class="boxshadow"></div> -->

    <!-- <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px;; margin-right: 15px"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="goToProfile()"
          style="height: 25px;; margin-right: 15px"
          src="assets/imgs/user.svg"
        />

        <img
          (click)="likeevent()"
          *ngIf="detailObj.events.likes==0"
          style="height: 25px;; margin-right: 10px"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutevent()"
          *ngIf="detailObj.events.likes!=0"
          style="height: 25px;; margin-right: 10px"
          src="assets/imgs/heartactive.svg"
        />
      </ion-col>
    </ion-row> -->
    <div style="text-align: center;">

      <img
      src="{{rest.baseURLimg}}{{detailObj.events_images[0].name}}"
      style="height: 300px;
      width: 97.5%;
      margin: 5px auto;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);"
      />

      <img
      (click)="goBack()"
      class="back-icon"
      src="../../assets/imgs/icons/new_icons/BackIcon.png"
      />

      <div class="content_position">

        <div class="roboto heading_text">{{detailObj.events.venue_name}}</div>
        <div class="roboto event_name">{{detailObj.events.name}}</div>
         <div class="roboto rating_text">4.5 <img class="star-icon" src="../../assets/imgs/icons/new_icons/StarIcon.png" alt=""> 
          <span style="margin-left: 4px;">Exceptional</span>
        </div>

        <div style="margin-top: 13px;
        position: absolute;
        top: 186px;
        z-index: 12;
        right: 20px;
        left: 20px;text-align: center;">
          <img *ngIf="organizer"
            style="
              width: 57.3px;
              height: 57.3px;
              border: 1.5px solid #7825cb;
              border-radius: 50%;
              /* margin-right: 20px; */
              object-fit: cover;
            "
            src="{{rest.baseURLimg}}{{organizer.user_image}}"
          />
          <img *ngIf="!organizer"
            style="
              width: 57.3px;
              height: 57.3px;
              border: 1.5px solid #7825cb;
              border-radius: 50%;
              /* margin-right: 20px; */
              object-fit: cover;
            "
            src="../../assets/imgs/icons/new_icons/MyProfileIcon.png"
          />
          
          <div>
            <p *ngIf="organizer" class="username roboto">{{organizer?.first_name}}</p>
            <p class="title2 font-400 roboto">Event Organizer</p>
    
            
          </div>
        </div>

        <div class="flex_center info_text1" style="margin: 0px auto 0px 0px;">
          <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" alt="">
          <div class="roboto" style="line-height: normal;">{{getDate(detailObj.events.event_date)}}</div>
        </div>
        <div class="flex_center info_text2" style="margin: 0px 0px auto auto;">
          <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/ClockIcon.png" alt="">
          <div class="roboto" style="line-height: normal;">{{getTime(detailObj.events.event_start_time)}} - {{getTime(detailObj.events.event_end_time)}}</div>
        </div>

        <p (click)="gotoOrganizerEvents()" class="buyTicket roboto">See All Events</p>

      </div>


    </div>
    

    
  </div>

  <div style="width: 92%; margin: 4% auto">
  
    <div class="roboto btn bg-gray" (click)="viewTicket()">View Ticket</div>
    <div class="roboto btn bg-orange-gd" (click)="goToChat()">Send Message</div>
    <div class="roboto btn bg-gray" (click)="requestRefund()">Request Refund</div>
    <div class="roboto btn bg-gray" (click)="goToProfile()">View Profile</div>

    <p style="margin-top: 13px; text-align: left;" class="title2 font-600 roboto">Event Description</p>
    <p style="margin-top: 13px" class="desc2 roboto">{{detailObj.events.description}}</p>

    <p class="title2 font-600 roboto" style="margin-top: 13px;text-align: left;">Refund Policy</p>
    <p class="desc2 roboto" style="margin-top: 13px">
      {{detailObj.events.refund_policy}}
    </p>    

  </div>
</ion-content>
