<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>
    <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img *ngIf="detailObj.discount_percentage != null"
          (click)="goToProfile()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />

        <img
          (click)="likevenu()"
          *ngIf="detailObj.likes==0 && detailObj.discount_percentage != null"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutvenu()"
          *ngIf="detailObj.likes==1 && detailObj.discount_percentage != null"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartactive.svg"
        />
      </ion-col>
    </ion-row>

    <!-- <ion-badge *ngIf="detailObj.discount_percentage <= 0" class="bdg"
      >No Discount</ion-badge
    > -->
    <ion-badge *ngIf="detailObj.discount_percentage > 0" class="bdg"
      >{{detailObj.discount_percentage}}% Off
    </ion-badge>

    <ion-row *ngIf="detailObj.venues_id != null">
      <ion-col class="slider_main">
        <ion-slides pager="true" style="height: 250px">
          <ion-slide *ngFor="let p of detailObj.images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="detailObj.venues_id == null">
      <ion-col class="slider_main">
        <ion-slides pager="true" style="height: 250px">
          <ion-slide >
            <div class="slide">
              <img
                src="{{detailObj.cover_images}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 90%; margin: 5% auto">
    <div *ngIf="detailObj.discount_percentage == null" style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 16px;">
      <div style="width: 48%;" class="titlemain work_sans">{{detailObj.name}}</div>
      <!-- <p class="titlemain2 work_sans">{{detailObj.name2}}</p> -->
      <div style="display: flex;align-items:center;">
        <div class="rating_text work_sans">{{ratingValue}}</div>
        <div class="margin_row">
          <img class="star_margin"  src="../../assets/imgs/unfilled_star.svg" alt="" *ngIf="ratingValue==0">
          <img class="star_margin"  src="../../assets/imgs/filled_star.svg" alt=""   *ngIf="ratingValue>=1 "   >
          <img class="star_margin"  src="../../assets/imgs/unfilled_star.svg" alt="" *ngIf="ratingValue<2">
          <img class="star_margin"  src="../../assets/imgs/filled_star.svg" alt=""   *ngIf="ratingValue>=2 "   >
          <img class="star_margin"  src="../../assets/imgs/unfilled_star.svg" alt="" *ngIf="ratingValue<3">
          <img class="star_margin"  src="../../assets/imgs/filled_star.svg" alt=""   *ngIf="ratingValue>=3 ">
          <img class="star_margin"  src="../../assets/imgs/unfilled_star.svg" alt="" *ngIf="ratingValue<4">
          <img class="star_margin"  src="../../assets/imgs/filled_star.svg" alt=""   *ngIf="ratingValue>=4 ">
          <img class="star_margin"  src="../../assets/imgs/unfilled_star.svg" alt="" *ngIf="ratingValue<5" style="margin-right: 0px;">
          <img class="star_margin"  src="../../assets/imgs/filled_star.svg" alt=""   *ngIf="ratingValue==5" style="margin-right: 0px;">
        </div>
      </div>
      
    </div>
    <div *ngIf="detailObj.discount_percentage != null" style="margin-bottom: 9px;" class="titlemain work_sans">{{detailObj.name}}</div>
    <ion-row style="margin-bottom: 16px;">
      <ion-col size="4" style="display: flex; align-items: center">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/pinwhite.svg"
          />
          <p class="work_sans titlesub">
            {{detailObj.distance | number : '1.2-2'}} Miles
          </p>
        </div>
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center">
        <div style="display: flex" *ngIf="detailObj.venues_id != null">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/watch.svg"
          />
          <p class="work_sans titlesub">{{getTime(detailObj.start_hours)}} - {{getTime(detailObj.close_hours)}}</p>
        </div>
      </ion-col>
      <ion-col size="3" style="display: flex; justify-content: flex-end">
        <ion-badge class="bdgw" *ngIf="detailObj.discount_percentage != null">
          <img style="margin-right: 7px" src="assets/imgs/g.svg" />
          <span style="color:#262626">{{detailObj.googleRating}}</span>
          <img style="height: 11px; margin-left: 5px" src="assets/imgs/s.svg" />
        </ion-badge>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 0px;margin-bottom: 16px;" >
      <ion-col size="8" style="display: flex; align-items: center">
        <p class="work_sans titlesub">{{detailObj.location}}</p>
      </ion-col>
      <ion-col *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null"
        size="4"
        style="display: flex; align-items: center; justify-content: flex-end"
      >
        <img
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />
        <p class="inhouse work_sans">{{detailObj.availability_count}}</p>
      </ion-col>
    </ion-row>

    <div
      style="
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div>
        <img
          (click)="goLocation()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/target.svg"
        />
        <img *ngIf="detailObj.venues_id != null"
          (click)="goWeb()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/web.svg"
        />

        <a *ngIf="detailObj.venues_id != null" href="tel:{{detailObj.phone_number}}"
          ><img
            style="height: 25px; width: 25px; margin-right: 20px"
            src="assets/imgs/call.svg"
        /></a>
      </div>

      <div *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null"
        (click)="goToSee()"
        style="
          border: 1px solid #ffffff;
          padding: 5px 10px;
          border-radius: 20px;
        "
      >
        <p class="see work_sans">See who's out!</p>
      </div>
    </div>

    <ion-list class="btnbg1 work_sans" [class.hide]="hideClaimDiscountButton">
      <ion-item-sliding
        #slidingItem
        (ionDrag)="claimDrag(slidingItem, $event)"
        (ionOpen)="openSlider(slidingItem)"
      >
        <ion-item-options side="start">
          <ion-item-option
            style="
              color: #531c7c;
              margin-top: -10px;
              background: #531c7c;
              margin-left: 5px;
            "
            expandable
            >Claim</ion-item-option
          >
        </ion-item-options>

        <ion-item
          style="color: white; opacity: 1"
          lines="none"
          class="btnbg margintopcls work_sans"
        >
          <ion-label>Claim Discount</ion-label>
          <img
            style="
              rotate: 180deg;
              height: 25px;
              width: 25px;
              margin-right: 20px;
            "
            src="assets/imgs/backbtn.svg"
          />
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <div class="claim_msg work_sans" *ngIf="detailObj.remaining_time != null" 
      >Already Claimed!
    </div>

    <div class="rem_time work_sans" *ngIf="detailObj.remaining_time" >{{detailObj.remaining_time}} Remaining</div>

    <div *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null" >
      <ion-button
        (click)="bookTable()"
        style="margin-top: 20px;"
        class="btnwhite work_sans"
        >Book Table</ion-button
      >
    </div>

    <p class="work_sans des">{{detailObj.description}}</p>

    <div *ngIf="detailObj.discount_percentage == null" style="display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;">
      <div class="work_sans" style="font-size: 16px;
      font-weight: 400;
      color: white;">Reviews</div>
      <div class="work_sans" style="font-size: 14px;
      font-weight: 400;
      color: white;
      text-decoration: underline;" (click)="showAllReviews()">View All</div>
    </div>

    <div *ngIf="detailObj.discount_percentage == null && reviews.length>0" style="display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 9px;">
      <div>
        <img *ngIf="reviews[0].user_profile.profile_picture != null" style="height: 35px;
        width: 35px;
        border-radius: 90px;
        object-fit: cover;" src="{{rest.baseURLimg}}{{reviews[0].user_profile.profile_picture}}" alt="">
        <img *ngIf="reviews[0].user_profile.profile_picture == null" src="../../assets/imgs/review_avatar.svg" alt="">
      </div>
      <div style="width: 85%;">
        <div class="work_sans" style="font-size: 12px;
        font-weight: 300;
        color: white;">{{reviews[0].review}}</div>
        <div class="work_sans" style="font-size: 14px;
        font-weight: 300;
        color: white;">{{reviews[0].review_ratings}} <span><img src="../../assets/imgs/rating_star.svg" alt=""></span></div>
      </div>
    </div>

    <div *ngIf="detailObj.discount_percentage == null" >
      <ion-button
        (click)="goForAddReview()"
        style="margin-top: 20px;"
        class="btnwhite work_sans"
        >Add Review</ion-button
      >
    </div>
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <div class="icondiv" (click)="closeslide(slidingItem)">
      <img src="assets/imgs/cross.svg" alt="" />
    </div>

    <div style="text-align: center">
      <img src="assets/imgs/disc.svg" alt="" />
      
      <p class="two work_sans">Instant</p>
      <p *ngIf="detailObj.discount_percentage <= 0" class="three">
        No Discount
      </p>
      <p *ngIf="detailObj.discount_percentage > 0" class="mg_top_7">
        <span class="three work_sans">{{detailObj.discount_percentage}}% </span> <span class="dis_off work_sans">off</span> 
      </p>
      <p class="one work_sans">Discount Claim!</p>

      <div class="work_sans token_num" >{{discountToken}}</div>
      <div class="work_sans token_info_one"  >Show this code at the venue.</div>
      <div class="work_sans token_info_two" >*its a one time code, save it</div>
    </div>
  </div>
</div>
<!-- <div style="text-align: center"><span style="color: #262626; font-size: 14px; font-family: Work Sans; font-weight: 500; word-wrap: break-word">Instant<br/></span><span style="color: #AC3DBA; font-size: 27px; font-family: Work Sans; font-weight: 700; word-wrap: break-word">30%</span><span style="color: #AC3DBA; font-size: 18px; font-family: Work Sans; font-weight: 700; word-wrap: break-word"> off</span></div> -->
