<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>
    <ion-row
      class="paddingtop"
      style="margin-top: 10px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />

        <img
          (click)="likevenu()"
          *ngIf="detailObj.likes==0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutvenu()"
          *ngIf="detailObj.likes!=0"
          style="height: 25px; width: 25px; margin-right: 10px"
          src="assets/imgs/heartactive.svg"
        />
      </ion-col>
    </ion-row>

    <ion-badge *ngIf="detailObj.discount_percentage <= 0" class="bdg"
      >No Discount</ion-badge
    >
    <ion-badge *ngIf="detailObj.discount_percentage > 0" class="bdg"
      >{{detailObj.discount_percentage}}% Off
    </ion-badge>

    <ion-row>
      <ion-col class="slider_main">
        <ion-slides pager="true" style="height: 250px">
          <ion-slide *ngFor="let p of detailObj.images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 90%; margin: 5% auto">
    <p class="titlemain work_sans">{{detailObj.name}}</p>
    <!-- <p class="titlemain2 work_sans">{{detailObj.name2}}</p> -->

    <ion-row>
      <ion-col size="4" style="display: flex; align-items: center">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/pinwhite.svg"
          />
          <p class="work_sans titlesub">
            {{detailObj.distance | number : '1.2-2'}} Miles
          </p>
        </div>
      </ion-col>
      <ion-col size="5" style="display: flex; align-items: center">
        <div style="display: flex">
          <img
            style="height: 15px; margin-right: 10px; width: 12px"
            src="assets/imgs/watch.svg"
          />
          <p class="work_sans titlesub">Open till {{detailObj.close_hours}}</p>
        </div>
      </ion-col>
      <ion-col size="3" style="display: flex; justify-content: flex-end">
        <ion-badge class="bdgw">
          <img style="margin-right: 7px" src="assets/imgs/g.svg" />
          {{detailObj.googleRating}}
          <img style="height: 11px; margin-left: 2px" src="assets/imgs/s.svg" />
        </ion-badge>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 0px">
      <ion-col size="8" style="display: flex; align-items: center">
        <p class="work_sans titlesub">{{detailObj.location}}</p>
      </ion-col>
      <ion-col
        size="4"
        style="display: flex; align-items: center; justify-content: flex-end"
      >
        <img
          style="height: 25px; width: 25px; margin-right: 15px"
          src="assets/imgs/user.svg"
        />
        <p class="inhouse work_sans">{{detailObj.public_check_ins}}</p>
      </ion-col>
    </ion-row>

    <div
      style="
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div>
        <img
          (click)="goLocation()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/target.svg"
        />
        <img
          (click)="goWeb()"
          style="height: 25px; width: 25px; margin-right: 20px"
          src="assets/imgs/web.svg"
        />

        <a href="tel:{{detailObj.phone_number}}"
          ><img
            style="height: 25px; width: 25px; margin-right: 20px"
            src="assets/imgs/call.svg"
        /></a>
      </div>

      <div
        (click)="goToSee()"
        style="
          border: 1px solid #ffffff;
          padding: 5px 10px;
          border-radius: 20px;
        "
      >
        <p class="see work_sans">See who’s out!</p>
      </div>
    </div>

    <ion-list class="btnbg1 work_sans">
      <ion-item-sliding
        #slidingItem
        (ionDrag)="claimDrag(slidingItem, $event)"
        (ionOpen)="openSlider(slidingItem)"
      >
        <ion-item-options side="start">
          <ion-item-option
            style="
              color: #531c7c;
              margin-top: -10px;
              background: #531c7c;
              margin-left: 5px;
            "
            expandable
            >Claim</ion-item-option
          >
        </ion-item-options>

        <ion-item
          style="color: white; opacity: 1"
          lines="none"
          class="btnbg margintopcls work_sans"
        >
          <ion-label>Claim Discount</ion-label>
          <img
            (click)="goToProfile()"
            style="
              rotate: 180deg;
              height: 25px;
              width: 25px;
              margin-right: 20px;
            "
            src="assets/imgs/backbtn.svg"
          />
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <p class="work_sans des">{{detailObj.description}}</p>
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <div class="icondiv" (click)="closeslide(slidingItem)">
      <img src="assets/imgs/cross.svg" alt="" />
    </div>

    <div style="text-align: center">
      <img src="assets/imgs/disc.svg" alt="" />
      <p class="one">Discount Claim!</p>
      <p class="two">Instant</p>
      <p *ngIf="detailObj.discount_percentage <= 0" class="three">
        No Discount
      </p>
      <p *ngIf="detailObj.discount_percentage > 0" class="three">
        {{detailObj.discount_percentage}}% off
      </p>
    </div>
  </div>
</div>
