<ion-content style="--background: #262626">
  <div style="position: relative">
    <div class="boxshadow"></div>
    <ion-row
      class="paddingtop"
      style="margin-top: 25px; position: absolute; z-index: 999; width: 100%"
    >
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goBack()"
          style="height: 25px; margin-right: 15px"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="4" style="text-align: center"> </ion-col>
      <ion-col size="6" style="text-align: right">
        <img
          (click)="likevenu()"
          *ngIf="detailObj.likes==0 && detailObj.discount_percentage != null"
          style="height: 25px; margin-right: 10px"
          src="../../assets/imgs/icons/new_icons/HeartIcon2.png"
        />
        <img
          (click)="likeoutvenu()"
          *ngIf="detailObj.likes==1 && detailObj.discount_percentage != null"
          style="height: 25px; margin-right: 10px"
          src="../../assets/imgs/icons/new_icons/HeartIcon1.png"
        />
        <img *ngIf="detailObj.discount_percentage != null"
          (click)="goToProfile()"
          style="height: 25px; margin-right: 15px"
          src="../../assets/imgs/icons/new_icons/MyProfileIcon.png"
        />
      </ion-col>
    </ion-row>

    <!-- <ion-badge *ngIf="detailObj.discount_percentage <= 0" class="bdg"
      >No Discount</ion-badge
    > -->
    

    <ion-row *ngIf="detailObj.venues_id != null">
      <ion-col class="slider_main">
        <ion-slides pager="true" >
          <ion-slide *ngFor="let p of detailObj.images; let i = index">
            <div class="slide">
              <img
                src="{{rest.baseURLimg}}{{p.name}}"
                style="width: 100%"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="detailObj.venues_id == null">
      <ion-col class="slider_main">
        <ion-slides pager="true" >
          <ion-slide >
            <div class="slide">
              <img
                src="{{detailObj.cover_images}}"
                style="width: 100%;filter:brightness(0.8);"
                class="s_img"
              />
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </div>

  <div style="width: 92%; margin: 4% auto">
    <div class="roboto rating_text" (click)="showAllReviews()">5.0 <img class="star-icon" src="../../assets/imgs/icons/new_icons/StarIcon.png" alt=""> 
      <span style="margin-left: 4px;">Recommended</span>
    </div>
    
    <div style="margin-bottom: 5px;" class="titlemain roboto">{{detailObj.name}}</div>
    <p class="roboto titlesub" style="color: #a6a6a6; width: 73px;overflow: hidden;line-height: normal;">
      {{detailObj.distance | number : '1.1-1'}} Miles
    </p>
    
    <div
            (click)="hideShowtimings()"
            class="dropdown-transparent"
            style="
              height: 38px;
              display: flex;
              justify-content: end;
              align-items: center;
              width: max-content;
              margin-top: 10px;
            "
          >
            <img
            style="height: 18px;
            margin-left: 15px;
            width: 18px;
            margin-right: 10px;"
            src="../../assets/imgs/icons/new_icons/ClockIcon.png"
          />
            <p *ngIf="detailObj.start_hours!=null && venueStatus=='open'" class="roboto titlesub mgr_20">
              <span class="mgr_2 venue_info color_9b19ab">Open </span>
              <span class="mgl_20 venue_info color_white"> Closes {{detailObj.close_hours}}</span> 
            </p>
            <p *ngIf="detailObj.start_hours!=null && venueStatus=='closed'" class="roboto titlesub mgr_20">
              <span class="mgr_2 venue_info color_9b19ab">Closed </span>
              <span class="mgl_20 venue_info color_white"> Opens {{detailObj.start_hours}}</span>
            </p>
            <p *ngIf="detailObj.start_hours==null" class="roboto titlesub mgr_20">
              <span class="mgr_2 venue_info color_9b19ab">Closed</span>
              <span class="mgl_20 venue_info color_white">{{detailObj.days_name}}</span>
            </p>
            <img
              class="dd_icon" [class.dd_icon_active]="venueTimingShow"
              src="../../assets/imgs/icons/new_icons/DropDownArrowIcon.png"
            />
    </div>

    <div
      style="
        position: absolute;
        background: #282828;
        z-index: 999;
        border-radius: 0px 0px 20px 20px;
        padding: 1px 30px 3px;
        width: 62%;
      "
      *ngIf="venueTimingShow"
    >
    
      <div class="roboto pp" *ngFor="let a of detailObj.venue_timing">
        <!-- <img
          style="height: 15px; margin-right: 7px; width: 12px"
          src="assets/imgs/watch.svg"
        /> -->
        <div *ngIf="a.start_hours!=null" class="roboto titlesub" [class.today]="detailObj.days_name == a.days_name"><div >{{a.days_name}}</div> <div class="align_right">{{a.formatted_start_hours}} - {{a.formatted_close_hours}}</div></div>
        <div *ngIf="a.start_hours==null" class="roboto titlesub" [class.today]="detailObj.days_name == a.days_name"><div>{{a.days_name}}</div> <div class="align_right">Closed</div></div>

      </div>
    </div>

    <div class="info_bar1">
      <div class="roboto venue_type">Terrace <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div>
      <div class="roboto venue_type">Cocktails  <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div>
      <div class="roboto venue_type">Bar  <img class="small_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt=""></div>
      <ion-badge *ngIf="detailObj.discount_percentage > 0" class="bdg"
        >{{detailObj.discount_percentage}}% Off
      </ion-badge>
    </div>

    <div
      style="
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
    <div class="roboto info_bar_2">
        <!-- src="../../assets/imgs/target.svg" -->
        <div class="info_bar_icon">
          <img
          (click)="goLocation()"
          style="height: 20px;"
          src="../../assets/imgs/icons/icon_nav.svg"
          />
        </div>
        <div class="info_bar_icon">
          <img *ngIf="detailObj.venues_id != null"
          (click)="goWeb()"
          style="height: 20px;"
          src="assets/imgs/web.svg"
          />
        </div>
        <div class="info_bar_icon">
          <a *ngIf="detailObj.venues_id != null" href="tel:{{detailObj.phone_number}}"
          ><img
            style="height: 20px;"
            src="assets/imgs/call.svg"
        /></a>
        </div>
      </div>

      <div *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null" (click)="goToSee()" class="live_icon">
        <img style="width: 34px;margin: 0px auto;" src="../../assets/imgs/icons/new_icons/CrowdLiveIcons.png" alt=""> <span style="margin: 3px auto 0px;">{{detailObj.availability_count}}</span>
      </div>
      <!-- <div *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null"
        (click)="goToSee()"
        style="
          border: 1px solid #ffffff;
          padding: 5px 10px;
          border-radius: 20px;
        "
      >
        <p class="see roboto">See who's out!</p>
      </div> -->
    </div>

    <ion-list class="btnbg1 roboto" [class.hide]="hideClaimDiscountButton">
      <ion-item-sliding
        #slidingItem
        (ionDrag)="claimDrag(slidingItem, $event)"
        (ionOpen)="openSlider(slidingItem)"
      >
        <ion-item-options side="start">
          <ion-item-option
            style="
              color: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
              margin-top: -10px;
              background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
              margin-left: 5px;
            "
            expandable
            ></ion-item-option
          >
        </ion-item-options>

        <ion-item
          style="color: white; opacity: 1"
          lines="none"
          class="btnbg margintopcls roboto"
        >
          <ion-label style="margin-left: 25px;">Claim Discount</ion-label>
          <img
            style="
              rotate: 180deg;
              height: 20px;
            "
            src="../../assets/imgs/icons/new_icons/BackIcon.png"
          />
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <div class="claim_msg roboto" *ngIf="detailObj.remaining_time != null" 
      >Already Claimed!
    </div>

    <div class="rem_time roboto" *ngIf="detailObj.remaining_time" >{{detailObj.remaining_time}} Remaining</div>

    <div *ngIf="detailObj.venues_id != null && detailObj.discount_percentage != null" >
      <ion-button
        (click)="bookTable()"
        style="margin:0px; margin-top: 16px;"
        class="btngray roboto"
        ><span class="booking_btn_text">Reserve Table</span> 
        <img class="booking_btn_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt="">
        <img class="booking_btn_icon" src="../../assets/imgs/icons/new_icons/DrinkIcon.png" alt="">
        </ion-button
      >
    </div>

    <!-- <p class="roboto des">{{detailObj.description}}</p> -->

    <div>
      <p [ngClass]="{'roboto':true,'venue_desc':true,'truncated':!showFullText}">
        {{ showFullText ? text : truncatedText }} 
        <span
          *ngIf="isTruncated"
          (click)="toggleText()"
          style="color: #9b19ab; cursor: pointer;"
        >
          {{ showFullText ? 'Less' : 'More' }}
        </span>
      </p>
      
    </div>
    <!-- <div *ngIf="detailObj.discount_percentage == null && reviews.length>0" style="display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;">
      <div class="roboto" style="font-size: 16px;
      font-weight: 400;
      color: white;">Reviews</div>
      <div class="roboto" style="font-size: 14px;
      font-weight: 400;
      color: white;
      text-decoration: underline;" (click)="showAllReviews()">View All</div>
    </div>

    <div *ngIf="detailObj.discount_percentage == null && reviews.length>0" style="display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 9px;">
      <div>
        <img *ngIf="reviews[0].user_profile.profile_picture != null" style="height: 35px;
        width: 35px;
        border-radius: 90px;
        object-fit: cover;" src="{{rest.baseURLimg}}{{reviews[0].user_profile.profile_picture}}" alt="">
        <img *ngIf="reviews[0].user_profile.profile_picture == null" src="../../assets/imgs/review_avatar.svg" alt="">
      </div>
      <div style="width: 85%;">
        <div class="roboto" style="font-size: 12px;
        font-weight: 300;
        color: white;">{{reviews[0].review}}</div>
        <div class="roboto" style="font-size: 14px;
        font-weight: 300;
        color: white;">{{reviews[0].review_ratings}} <span><img src="../../assets/imgs/rating_star.svg" alt=""></span></div>
      </div>
    </div>

    <div *ngIf="detailObj.discount_percentage == null" >
      <ion-button
        (click)="goForAddReview()"
        style="margin-top: 20px;"
        class="btnwhite roboto"
        >Add Review</ion-button
      >
    </div> -->
  </div>
</ion-content>

<div
  *ngIf="displaydiv"
  style="height: 100%; width: 100%; background: #262626; opacity: 0.9"
>
  <div class="v-center">
    <!-- <div class="icondiv" (click)="closeslide(slidingItem)">
      <img src="assets/imgs/cross.svg" alt="" />
    </div> -->

    <div style="text-align: center">
      <!-- <img src="assets/imgs/disc.svg" alt="" /> -->
      <img src="{{detailObj.cover_images}}" style="height: 246px;
      width: 97.5%;
      clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      position: relative;
      z-index: 3;
      object-fit: cover;
      filter: brightness(0.5);" alt="">
      <div class="roboto heading_text">{{detailObj.name}}</div>
      <img class="bg_disc_card"  src="../../assets/imgs/icons/new_icons/BookingShape2.png" alt="">
      <div class="card_bg">

        <p class="two roboto">{{detailObj.discount_percentage}}%</p>
      
        <p class="one roboto">Discount Claimed</p>

        <div class="roboto token_num">{{discountToken}}</div>
        <div class="roboto token_info_one">All discounts can be found in your Profile</div>
        <!-- <div class="roboto token_info_two" >*its a one time code, save it</div> -->
        <ion-button (click)="hideDiscCard()" class="btngray" style="height: 45px; --background: linear-gradient(180deg, #262626,#302f2f);width: 70%;
    margin-top: 10px;">Close</ion-button>
      </div>  
      
    </div>
  </div>
</div>
<!-- <div style="text-align: center"><span style="color: #262626; font-size: 14px; font-family: Work Sans; font-weight: 500; word-wrap: break-word">Instant<br/></span><span style="color: #AC3DBA; font-size: 27px; font-family: Work Sans; font-weight: 700; word-wrap: break-word">30%</span><span style="color: #AC3DBA; font-size: 18px; font-family: Work Sans; font-weight: 700; word-wrap: break-word"> off</span></div> -->
