<!-- <ion-header>
  <ion-toolbar class="bg">
    <ion-row>
      <ion-col size="2" style="text-align: center">
        <img
          style="height: 25px; width: 25px"
          src="assets/imgs/treeeline.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">Home</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px"
          src="assets/imgs/user.svg"
        />
      </ion-col>
    </ion-row>

    <div style="margin: 10px 0px">
      <ion-segment
        style="
          height: 48px;
          width: 64%;
          background: white;
          padding: 3px 5px;
          border-radius: 200px;
        "
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel"
        (ionChange)="segmentChanged($event)"
        value="venu"
      >
        <ion-segment-button
          style="
            --indicator-color: #611ea5;
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: #611ea5;
          "
          value="venu"
        >
          <ion-label>Venues</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="
            --indicator-color: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            );
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            ); ;
          "
          value="event"
        >
          <ion-label>Events</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--background: #262626">
  <div
    class="bg paddingtop"
    style="position: fixed; width: 100%; z-index: 9999"
  >
    <div *ngIf="showfilter" class="filterdivstyle">
      <p class="filtertext" (click)="showHideFilter()">Very Busy</p>
      <p class="filtertext" (click)="showHideFilter()">Busy</p>
      <p class="filtertext" (click)="showHideFilter()">Quiet</p>
    </div>
    <ion-row>
      <ion-col size="2" style="text-align: center">
        <img
          (click)="showHideFilter()"
          style="height: 25px; width: 25px"
          src="assets/imgs/treeeline.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">Saved</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px"
          src="assets/imgs/user.svg"
        />
      </ion-col>
    </ion-row>

    <div style="margin: 10px 0px; text-align: -webkit-center">
      <ion-segment
        style="
          height: 48px;
          width: 64%;
          background: white;
          padding: 3px 5px;
          border-radius: 200px;
        "
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel"
        (ionChange)="segmentChanged($event)"
        value="venu"
      >
        <ion-segment-button
          style="
            --indicator-color: #611ea5;
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: #611ea5;
          "
          value="venu"
        >
          <ion-label>Venues</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="
            --indicator-color: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            );
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            ); ;
          "
          value="event"
        >
          <ion-label>Events</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="margincls">
    <div *ngIf="segmentModel === 'venu'">
      <ion-row>
        <ion-col
          size="6"
          [class.heighclassbig]="i % 2 != 0"
          [class.heighclasssmall]="i % 2 == 0"
          *ngFor="let opt of venuarr; let i = index"
        >
          <div
            class="divboxshadowinside"
            (click)="goToDetail(opt)"
            style=" 
            position: relative;
           height: 100%;
        border-radius: 15px;
        background-size: cover;
        background-image: url('{{opt.img}}');
        "
          >
            <div>
              <img
                class="imgcls"
                *ngIf="opt.like!=1"
                src="assets/imgs/heartww.svg"
              />
              <img
                class="imgcls"
                *ngIf="opt.like==1"
                src="assets/imgs/heartactive.svg"
              />
              <ion-badge class="bdg">{{opt.off}} Off </ion-badge>
            </div>

            <div style="position: absolute; bottom: 5px; left: 15px">
              <p class="title1 work_sans">{{opt.name}}</p>
              <p class="title2 work_sans">{{opt.distance}} Miles</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="segmentModel === 'event'">
      <ion-row>
        <ion-col
          size="6"
          [class.heighclassbig]="i % 2 != 0"
          [class.heighclasssmall]="i % 2 == 0"
          *ngFor="let opt of eventarr; let i = index"
        >
          <div
            class="divboxshadowinside"
            (click)="goToDetailevent(opt)"
            style=" 
            position: relative;
           height: 100%;
        border-radius: 15px;
        background-size: cover;
        background-image: url('{{opt.img}}');
        "
          >
            <div>
              <img
                class="imgcls"
                *ngIf="opt.like!=1"
                src="assets/imgs/heartww.svg"
              />
              <img
                class="imgcls"
                *ngIf="opt.like==1"
                src="assets/imgs/heartactive.svg"
              />
              <ion-badge class="bdg">{{opt.off}} Off </ion-badge>
            </div>

            <div style="position: absolute; bottom: 5px; left: 15px">
              <p class="title1 work_sans">{{opt.name}}</p>
              <p class="title2 work_sans">{{opt.distance}} Miles</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg" class="img" />
        <ion-label class="font work_sans">Venue</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/location.svg" class="activeimg" />
        <ion-label class="font work_sans">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/heartactive.svg" class="img" />
        <ion-label class="fontactive work_sans">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/bell.svg" class="img" />
        <ion-label class="font work_sans">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
