<ion-header>
  <ion-toolbar>
    <ion-title>saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626"> </ion-content>

<ion-footer>
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/home.svg" class="img" />
        <ion-label class="font work_sans">Venue</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/location.svg" class="activeimg" />
        <ion-label class="font work_sans">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/heartactive.svg" class="img" />
        <ion-label class="fontactive work_sans">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/bell.svg" class="img" />
        <ion-label class="font work_sans">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
