<ion-content>
  <div class="wrapper">
    <div >
      <!-- <div class="cross_icon">
        <img (click)="dismiss()" src="../../assets/imgs/cross.svg" alt="" />
      </div> -->
      <div style="text-align: center;">
        <img style="height: 35px;width: 35px;" src="../../assets/imgs/icons/new_icons/AlertIcon.png" alt="">
      </div>
      <div class="popup_heading roboto">Venue Confirmation</div>
      <div class="popup_desc roboto">
        There are multiple Venues within the one building. 
      </div>
      <div class="popup_desc2 roboto">
        Please select the correct Venue
      </div>
    </div>
    <!-- <ion-list class="ion_select">
      <ion-item> -->

    <div style="text-align: center">
      <div class="align_center">
        <!-- <ion-select
        (ionChange)="selectedValue($event)"
        class="ion_select roboto"
        placeholder="Venue Name"
      > -->
        <div
          style="display: flex; justify-content: center"
          *ngFor="let data of venue_list"
        >
          <p class="ion_button roboto" (click)="sendValue(data.name)">
            {{data.name}}
          </p>
          <!-- <ion-select-option>{{data.name}}</ion-select-option> -->
          <!-- <ion-select-option value="oranges">Cafeteria</ion-select-option>
              <ion-select-option value="bananas">Bata</ion-select-option> -->
        </div>
        <!-- </ion-select> -->
      </div>
    </div>

    <!-- </ion-item>
    </ion-list> -->
    <!-- <div class="align_center">
      <ion-button class="ion_button roboto" (click)="sendValue()"
        >OK</ion-button
      >
    </div> -->
  </div>
</ion-content>
