ion-content{
    --background: #262626 !important
}
.wrapper{
    margin: 25px 20px 20px 20px;
    // background: #262626;
}
.cross_icon{
    text-align: right;
    margin-top: 10px;
}
.popup_heading{
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 22px;
}
.popup_desc{
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 22px auto 0px;
}
.popup_desc2{
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 0px auto;
}
.ion_select{
    margin-top: 22px;
    justify-content: center;
    --placeholder-color: #FFFFFF !important;
    background-color: #BABABA !important;
    height: 48px !important;
    width: 85% !important;
    border-radius: 28px;
    --placeholder-opacity: none !important;
    --padding-start: 30px;
    --padding-end: 20px;
}
.ion_button{
    width: 85% !important;
    margin-top: 0px;
    text-align: center;
    background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF !important;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 2px;
    text-transform: capitalize !important;
}
.align_center{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}