<ion-content class="background">
  <div>
    <div style="width: 90%; margin: 0px auto">
      <div style="text-align: center">
        <img style="margin-top: 100px" src="assets/imgs/logo.svg" />
      </div>

      <p
        style="
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
          letter-spacing: -0.3px;

          color: #ffffff;
        "
        class="roboto"
      >
        Create Account
      </p>

      <div
        class="inputfieldtransparent"
        style="height: 52px; margin-top: 30px; display: flex"
      >
        <img style="margin: 17px 17px 17px 15px" src="/assets/imgs/email.svg" />
        <input
          [(ngModel)]="email"
          class="input"
          type="text"
          placeholder="Email"
        />
      </div>

      <div
        class="inputfieldtransparent"
        style="
          height: 52px;
          display: flex;
          margin-top: 20px;
          flex-direction: row-reverse;
        "
      >
        <img
          *ngIf="!showPass3"
          (click)="togglePass3()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eye.svg"
        />

        <img
          *ngIf="showPass3"
          (click)="togglePass3()"
          style="margin: 17px 17px 17px 15px"
          src="/assets/imgs/eyeoff.svg"
        />
        <input
          [(ngModel)]="pass"
          class="input"
          type="{{showPass3 ? 'text':'password' }}"
          placeholder="Password"
        />
        <img
          style="height: 21px; margin: 12px 19px 17px 15px"
          src="/assets/imgs/lock.svg"
        />
      </div>

      <ion-button
        (click)="submit()"
        style="margin-top: 20px"
        class="btnbg roboto"
        >Register</ion-button
      >

      <p
        style="
          margin: 31px 0px 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 127.3%;
          text-align: center;
          color: #ffffff;
        "
        class="roboto"
      >
        By doing SIgnup you agree to our Terms of Service, Privacy Policy and
        Cookie Policy.
      </p>

      <div style="display: flex; align-items: center">
        <hr style="background: white; height: 1.5px; width: 60%" />
        <p class="or_cls roboto">Or</p>
        <hr style="background: white; height: 1.5px; width: 60%" />
      </div>

      <!-- <ion-row *ngIf="social_login_status == 'Yes'" style="margin-top: 10px">
        <ion-col style="text-align: center">
          <img
            (click)="fbLogin()"
            style="margin: 17px 17px 17px 15px"
            src="/assets/imgs/facebook.svg"
          />
        </ion-col>

        <ion-col style="text-align: center">
          <img
            (click)="googleSignIn()"
            style="margin: 17px 17px 17px 15px"
            src="/assets/imgs/gmail.svg"
          />
        </ion-col>

        <ion-col *ngIf="platformcheck == 'ios'" style="text-align: center">
          <img
          (click)="signinwithapple()"
            style="margin: 17px 17px 17px 15px"
            src="/assets/imgs/apple.svg"
          />
        </ion-col>
      </ion-row> -->

      <div class="btm">
        <p
          style="
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -0.3px;
            color: #ffffff;
          "
          class="roboto"
        >
          Already have an account?
          <span
            (click)="goToLogin()"
            style="
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.3px;
              color: #ffffff;
            "
            >Login</span
          >
        </p>
      </div>
    </div>
  </div>
</ion-content>
