.title_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17px 0px 17px;
}
// .titlefont{
//     font-weight: 700;
//     font-size: 16px;
//     text-align: center;
//     text-transform: capitalize;
//     color: #FFFFFF;
//   }
  
//   .bg{
//     --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
//     padding: 0px 0px 0px 0px;
//   }

.md .header_bg{
  width: 100%;
  height: 60px;
}

.ios .header_bg{
  width: 100%;
  height: 97px;
}

.md .header_content{
  position: absolute;
  top: 12px;
  z-index: 1;width: 100%;
}

.ios .header_content{
  position: absolute;
  top: 42px;
  z-index: 1;width: 100%;
}

.titlefont{
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

    
    
    
    .img{
      width: 21.5px;
      height: 21.5px;
    }
    
    ///bottom bar css////
    .md ion-tabs{
    
        ion-tab-bar {
            --border: 0;
            --background: #181818;
            position: absolute;
            bottom: 0;
            left:0; right: 0;
            width: 100%;
        box-shadow: rgb(0 0 0 / 16%) 0px 0px 16px 0px;
        padding: 10px 0px;
        max-height: 62px;
        height:60px;
            &:after{
                content: " ";
                width: 100%;
                bottom: 0;
                background: var(--ion-color-light);
                height: env(safe-area-inset-bottom);
                position: absolute;
            }
            ion-tab-button {
          background:#181818;
          ion-icon{
            color:#42474F;
          }
            }
            ion-tab-button.comments {
                margin-right: 0px;
                border-top-right-radius: 18px;
            }
            ion-tab-button.notifs {
                margin-left: 0px;
            }
    
        }
    
    }
    
    
    ///bottom bar css////
    .ios ion-tabs{
    
        ion-tab-bar {
        --border: 0;
        --background: #181818;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: rgb(0 0 0 / 16%) 0px 0px 16px 0px;
        padding: 10px 0px 45px 0px;
       max-height: 65px;
        height: 62px;
            &:after{
                content: " ";
                width: 100%;
                bottom: 0;
                background: var(--ion-color-light);
                height: env(safe-area-inset-bottom);
                position: absolute;
            }
            ion-tab-button {
          background:#181818;
          ion-icon{
            color:#42474F;
          }
            }
            ion-tab-button.comments {
                margin-right: 0px;
                border-top-right-radius: 18px;
            }
            ion-tab-button.notifs {
                margin-left: 0px;
            }
    
        }
    
    }
    
    
    .ios .container{
      padding: 16px;
      // width: 85%;
      // margin: 29% 17% 24% 8%;
    }
    
    
    .md .topmargin{
      display: flex;
      align-items: center;
      padding-top: 5%;
    }
    
    .ios .topmargin{
      display: flex;
      align-items: center;
      padding-top: 12%;
    }
    
    
    

    .centerall{
      display: flex;
      justify-content: center;
      align-items: center;
    }


.container{
    padding: 15px;
    
}

.ticket_bg{
  padding: 10px 12px;
    background: white;
    border-radius: 10px;
}

.font_18_bold{
  font-size: 18px;
  font-weight: 600;
}
.ticket_data{
  color: black;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}
.dummy_text{
    padding: 10px;
    // text-align: center;
    margin: 5% auto;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
