<ion-header>
  <ion-toolbar class="bg paddingtop">
    <div class="title_bar">
      <div>
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="../../assets/imgs/backbtn.svg"
        />
      </div>
      <!-- <div class="titlefont work_sans">Scan Tickets</div> -->
      <div>
        <img
          (click)="goLogout()"
          style="height: 25px; width: 25px"
          src="assets/imgs/logout.svg"
      />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div class="container">
    <!-- event_name, venue_name, event_date, event_start_time, event_end_time,package_type, package_name, package_price, price_per_ticket, ticket_requested, crowd_fee, total_bill, location, bookingStatus, transactionStatus -->
    <div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Event Name: </span>{{eventName}}</div>
      <div *ngIf="venueName!='null'" class="ticket_data work_sans"><span class="font_18_bold">Venue Name: </span>{{venueName}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Event Date: </span>{{eventDate}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Event Start Time: </span>{{eventStartTime}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Event End Time: </span>{{eventEndTime}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Package Type: </span>{{packageType}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Package Name: </span>{{packageName}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Package Price: </span>{{packagePrice}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Ticket Price: </span>{{ticketPrice}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Ticket Requested: </span>{{ticketRequested}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Crowd Fee: </span>{{crowdFee}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Total Bill: </span>{{totalBill}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Event Location: </span>{{eventLocation}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Booking Status: </span>{{bookingStatus}}</div>
      <div class="ticket_data work_sans"><span class="font_18_bold">Transaction Status: </span>{{transactionStatus}}</div>
    </div>

    <ion-button class="btnbg work_sans" style="margin-top: 20px; opacity: 1" (click)="gotoScannedTickets()" >
      Scanned Tickets
    </ion-button>
  </div>
</ion-content>