<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">

    <ion-row class="header_content" >
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px; "
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-title class="titlefont roboto">Profile</ion-title>
      </ion-col>
      <ion-col class="centerall" size="2">
        <img
          (click)="goLogout()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/ExitIcon.png"
      /></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div style="text-align: center; margin-top: 20px">
    <img
      [ngClass]="{'profile':true,'border_width':!assetImage}"
      src="{{imgdataComing}}"
    />

    <div class="roboto" style="margin-top: 14px;  color: white;font-size: 14px;font-weight: 500;line-height: normal;">{{name}} 
      <img style="margin-left: 4px;  height: 16px;width: 16px;" src="../../assets/imgs/icons/new_icons/VerifiedIcon.png" alt="">
    </div>
    
    <div class="roboto" style="margin-top: 8px;  color: white;font-size: 14px;font-weight: 400;line-height: normal;">
      <img style="height: 16px;width: 16px;" src="../../assets/imgs/icons/new_icons/AtIcon.png" alt="">{{uname}} 
    </div>

    <!--
      
      <img style="border-radius: 50%;
    height: 160px;
    width: 160px;
    object-fit: cover;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlJFJydm_5I2ZwSrTQGm6zeom2iFV03_QOgw&usqp=CAU"
    /> -->
  </div>

  <div
    style="
     margin: 20px 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     
    "
  >
    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
      <div>
        <ion-toggle
        [checked]="seenToggleChecked"
        (ionChange)="beseentoggle($event)"
        mode="ios"
      ></ion-toggle>
      </div>
      
      <div>
        <ion-label
        style="
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #ffffff;
          text-transform: capitalize;
        "
        class="roboto"
        >CrowdLive<sup style="color: #fafafa;">
          <img class="r_icon" src="../../assets/imgs/icons/new_icons/RIcon.png" alt=""></sup>
        </ion-label
        >
      </div>
      

      
    </div>

    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
        <div>
          <ion-toggle
          [checked]="aiToggleChecked"
          (ionChange)="aiToggle($event)"
          mode="ios"
        ></ion-toggle>
        </div>
        <div>
          <ion-label
            style="
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: #ffffff;
              text-transform: capitalize;
            "
            class="roboto"    
            >CrowdAI<sup style="color: #fafafa;">
              <img class="r_icon" src="../../assets/imgs/icons/new_icons/RIcon.png" alt="">
            </sup></ion-label  
          >
        </div>
    

    
  </div>
    <!-- <div style="display: flex; align-items: center">
      <ion-label
        style="
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #ffffff;
          text-transform: uppercase;
        "
        class="roboto"
        >Reset Location</ion-label
      >

      <ion-toggle
        (ionChange)="notitoggle($event)"
        mode="ios"
        style="
          --handle-background-checked: white;
          --background: #9d9d9d;
          --background-checked: #ac3dba;
          margin-left: 13px;
        "
      ></ion-toggle>
    </div> -->
  </div>

  

  <div style="width: 93%; margin: 0% auto 25px;">
    

    <div style="display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;">
      <div class="profile_option" (click)="gotoReservation()">
        <div><img class="option_icon" style="height: 18px;width: 20px;" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Reservations</div>
          <div class="roboto option_desc" >See all Reservation History</div>
        </div>
      </div>  
      
      <div class="profile_option" (click)="gotoEvents()">
        <div><img class="option_icon" style="height: 15px;" src="../../assets/imgs/icons/new_icons/TicketIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Events</div>
          <div class="roboto option_desc" >See all Event History</div>
        </div>
      </div>

      <div class="profile_option" (click)="gotoDiscounts()">
        <div><img class="option_icon" style="height: 24px;width: 24px;" src="../../assets/imgs/icons/new_icons/DiscountsIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Discounts</div>
          <div class="roboto option_desc" >See all Claimed Discounts</div>
        </div>
      </div>

      <div class="profile_option" >
        <div><img class="option_icon" style="height: 22px;" src="../../assets/imgs/icons/new_icons/BillingIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Billing & Payments</div>
          <div class="roboto option_desc" >Edit/Add Payment Method</div>
        </div>
      </div>

      <div class="profile_option" (click)="gotoRefundPage()">
        <div><img class="option_icon" style="height: 23px;" src="../../assets/imgs/icons/new_icons/RefundIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Refunds</div>
          <div class="roboto option_desc" >Track Event Refunds</div>
        </div>
      </div>
      
      <div class="profile_option" (click)="goToTermsAndCondtions()">
        <div><img class="option_icon" style="height: 24px;width: 20px;" src="../../assets/imgs/icons/new_icons/TermsIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Terms & Conditions</div>
          <div class="roboto option_desc" >View All Terms</div>
        </div>
      </div>
     
      <div class="profile_option" (click)="goToMyReviews()">
        <div><img class="option_icon" style="height: 25px;" src="../../assets/imgs/icons/new_icons/ReviewsIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >My Reviews</div>
          <div class="roboto option_desc" >Submitted & Pending</div>
        </div>
      </div>
      
      <div class="profile_option" (click)="gotoSupportEnquiries()">
        <div><img class="option_icon" style="height: 24px;width: 24px;" src="../../assets/imgs/icons/new_icons/SupportIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Support Enquiries</div>
          <div class="roboto option_desc" >Submit / View Ticket Status</div>
        </div>
      </div>
      
      <div (click)="goForProfileSettings()" class="profile_option">
        <div><img class="option_icon" style="height: 24px;width: 24px;" src="../../assets/imgs/icons/new_icons/MyProfileIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Profile Settings</div>
          <div class="roboto option_desc" >Edit Profile Settings</div>
        </div>
      </div>
      
      <div class="profile_option" (click)="godelete()">
        <div><img class="option_icon" style="height: 24px;" src="../../assets/imgs/icons/new_icons/BinIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Delete Account</div>
          <div class="roboto option_desc" >Permanently Delete Account</div>
        </div>
      </div>
    </div>

   
    
    
    <!-- <div
      (click)="startChatWithAdmin()"
      style="
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
      "
    >
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <p class="title roboto">Customer Support</p>
        <p class="desc roboto">Chat with Admin</p>
      </div>
      <img class="imm" src="assets/imgs/rightarr.svg" />
    </div> -->



  </div>
</ion-content>
