<ion-header>
  <ion-toolbar class="bg paddingtop">
    <ion-row>
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont work_sans">Change Password</ion-label>
      </ion-col>
      <ion-col size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div style="width: 90%; margin: 0% auto">
    <p
      style="
        margin-top: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 127.3%;
        color: #ffffff;
      "
      class="work_sans"
    >
      Please create new password for your account.
    </p>

    <div
      class="inputfieldblack"
      style="
        height: 52px;
        display: flex;
        margin-top: 20px;
        flex-direction: row-reverse;
      "
    >
      <img
        *ngIf="!showPass1"
        (click)="togglePass1()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eye.svg"
      />

      <img
        *ngIf="showPass1"
        (click)="togglePass1()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eyeoff.svg"
      />

      <input
        [(ngModel)]="oldpass"
        class="input"
        type="{{showPass1 ? 'text':'password' }}"
        placeholder="Old Password"
      />
      <img
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/lockblue.svg"
      />
    </div>

    <div
      class="inputfieldblack"
      style="
        height: 52px;
        display: flex;
        margin-top: 20px;
        flex-direction: row-reverse;
      "
    >
      <img
        *ngIf="!showPass2"
        (click)="togglePass2()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eye.svg"
      />

      <img
        *ngIf="showPass2"
        (click)="togglePass2()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eyeoff.svg"
      />
      <input
        [(ngModel)]="newpass"
        class="input"
        type="{{showPass2 ? 'text':'password' }}"
        placeholder="New Password"
      />
      <img
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/lockblue.svg"
      />
    </div>

    <div
      class="inputfieldblack"
      style="
        height: 52px;
        display: flex;
        margin-top: 20px;
        flex-direction: row-reverse;
      "
    >
      <img
        *ngIf="!showPass3"
        (click)="togglePass3()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eye.svg"
      />

      <img
        *ngIf="showPass3"
        (click)="togglePass3()"
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/eyeoff.svg"
      />
      <input
        [(ngModel)]="confirmpass"
        class="input"
        type="{{showPass3 ? 'text':'password' }}"
        placeholder="Confirm Password"
      />
      <img
        style="margin: 17px 17px 17px 15px"
        src="/assets/imgs/lockblue.svg"
      />
    </div>

    <ion-button (click)="submit()" class="btm btnbg work_sans">SAVE</ion-button>
  </div>
</ion-content>
