<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">

    <ion-row class="header_content">
      <ion-col size="2"> </ion-col>

      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">Notifications</ion-label>
      </ion-col>
      <ion-col size="2" class="centerall">
        <img
          (click)="goToProfile()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/MyProfileIcon.png"
        />
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="margin-bottom: 58px;" class="ion-padding">
    <div *ngIf="noticount == 2">
      <!-- (click)="goToDetail(noti)" -->
      <div class="div1" *ngFor="let noti of notiArr" >
        <ion-row>
          <ion-col size="3">
            <img class="imgg" src="{{rest.baseURLimg}}{{noti.cover_images}}" />
          </ion-col>

          <ion-col size="9">
            <p class="roboto title1">{{noti.message}}</p>
            <p class="roboto title2">{{calculatedate(noti.date_added)}}</p>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div *ngIf="noticount == 1" style="margin-top: 90px; padding: 30px">
    <p
      style="
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
      "
      class="roboto"
    >
      Keep an eye out and we will notify you when a local Venue becomes busy!
    </p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="../../assets/imgs/icons/menu_bar_icons/home_icon.png" class="img" />
        <ion-label class="font roboto">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="../../assets/imgs/icons/menu_bar_icons/location_icon.png" class="activeimg" />
        <ion-label class="font roboto">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="../../assets/imgs/icons/menu_bar_icons/saved_icon.png" class="img" />
        <ion-label class="font roboto">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="../../assets/imgs/icons/menu_bar_icons/notification_icon_select.png" class="img" />
        <ion-label class="fontactive roboto">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
