.container{
  height: 90%;
  width: 90%;
  margin: 5% auto 5%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .bg{
//   --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
//   padding: 0px 0px 0px 0px;
// }

.md .header_bg{
  width: 100%;
  height: 60px;
}

.ios .header_bg{
  width: 100%;
  height: 97px;
}

.md .header_content{
  position: absolute;
  top: 12px;
  z-index: 1;width: 100%;
}

.ios .header_content{
  position: absolute;
  top: 42px;
  z-index: 1;width: 100%;
}

.size_14_icon{
  margin-left: 5px; height: 14px;width: 14px;
}
.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlefont{
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.note_style{
  font-size: 11px;
  font-weight: 300;
  margin-top: 9px;
  color: #a6a6a6;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.margin_row{
  padding-left: 11px;
}

.star_margin{
  margin-right: 7px;
  height: 16px;
  width: 16px;
  vertical-align: baseline;
}

.rating_text_old{
  font-size: 15px;
  font-weight: bold;
  color: #fafafa;
}