/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



@font-face {
    font-family: "work-sans";
    font-style: normal;
    font-weight: lighter;
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  .work_sans {
    font-family: "work-sans" !important;
  }

ion-input {
    font-family: "work-sans" !important;
  }

.btnbg{
  text-transform:none !important;
  height: 53px;
      --background: #531C7C;

      --background-activated: #351150;
    --background-focused: #351150;
    --background-hover: #351150;


    opacity: 0.8;
    --border-radius: 42px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.btnbgred{
  text-transform:none !important;
  height: 53px;
      --background: #FF285C;

      --background-activated: #d2224e;
      --background-focused: #d2224e;
      --background-hover: #d2224e;

    opacity: 0.8;
    --border-radius: 42px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.btnsimple{  
  height: 53px;
  text-transform:none !important;
    --border-width: 2px;
    --border-radius: 28px;
    --background: #15d31500;

    --background-activated: #531C7C36;
    --background-focused: #531C7C36;
    --background-hover: #531C7C36;

    --border-color: white;
    --border-style: solid;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.divbgimg{
    // background-image: url(img_parallax.svg);
    // height: 100%;
}
    

.inputfield {
  margin: 2% 0% 4% 0%;
  background: #000000;
  border-radius: 12px;
}
input{
  width: 100%;
    border-radius: 0px 20px 20px 0px;
    background: no-repeat;
    border: none;
    box-shadow: none;
    outline: none;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
.in-text {
    --color: #ffffff;
    --placeholder-color: #ffffff;
    --padding-start: 7%;
    --padding-top: 5%;
    --padding-bottom: 5%;
    font-size: 16px;
    font-weight: 400;
    --placeholder-font-weight: 400;
    // --placeholder-opacity: 100%;
  }

  .inputfieldblack{
    border-radius: 52px;
    background: black;
  }


  .inputfieldtransparent{
    border-radius: 52px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
  }
  .input{
    // text-align: left;
    --placeholder-color:#ffffff;
    --placeholder-opacity: 1;
    --placeholder-font-weight:400;
    font-weight: 400;
    font-size: 16px;
    // line-height: 19px;
    letter-spacing: -0.3px;
    --color: #ffffff !important;
    color: white !important;
 }


/// //////////////
@media (orientation: portrait) {
  .v-center {
    background: #ffffff;
    width: 89%;
    position: relative;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
  }
}

@media (orientation: landscape) {
  .v-center {
    background: #ffffff;
    width: 89%;
    position: relative;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
  }
}

.swiper-pagination-bullet-active {
  background: #4b1e6c !important;
  width: 20px;
  height: 8px;
  border-radius: 6px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 8px;
  border-radius: 6px;
  background: white;
}
 
.divboxshadowinside{
  box-shadow: inset -21px -78px 82px -20px rgb(0 0 0 / 90%)
}

.otp-input[_ngcontent-ukr-c143] {
  font-size: 18px !important;
  margin-right: 10px !important;
  background: #00000029 !important;
  height: 45px !important;
  width: 60px !important;
  border-radius: 28px !important; 
  color: white !important;
}

.otp-input{
  font-size: 18px !important;
  margin-right: 10px !important;
  background: rgba(0, 0, 0, 0.1607843137) !important;
  height: 50px !important;
  width: 65px !important;
  border-radius: 28px !important;
  color: white !important;
  border: 1px solid white !important;

}
.otp-input:focus-within {
  background: #00000029 !important;
}


.filterdivstyle{
  position: absolute;
  background: rgb(255, 255, 255);
  height: auto;
  width: auto;
  left: 50px;
  top: 32px;
  z-index: 999;
  border-radius: 10px;
  padding: 3px 21px;
}

.boxshadow{
  box-shadow: 0px 7px 90px 60px rgb(0 0 0);
  width: 100%;
  height: 0px;
  position: absolute;
  z-index: 99;
  background: black;
}

.ios .paddingtop{
  padding-top: 30px !important;
}

.loader-css-class {
   --background:#531C7C;
   --spinner-color:#ffffff;
   color: #ffffff;
}
.slide{
  width: 100% !important;
}

.sc-ion-input-ios-h {
    --padding-top: 0px;
    --padding-end: 10px;
    --padding-bottom: 0px;
    --padding-start: 0;
    font-size: inherit;
    --placeholder-color:#ffffff;
    --placeholder-opacity: 1;
    --color: #ffffff !important;
    color: white !important;
}

.sc-ion-input-md-h {
    --padding-top: 0px;
    --padding-end: 10px;
    --padding-bottom: 0px;
    --padding-start: 0;
    font-size: inherit;
    --placeholder-color:#ffffff;
    --placeholder-opacity: 1;
    --color: #ffffff !important;
    color: white !important;
}

.md body, .ios body {
  // --ion-background-color: none;
}




//////////////iphonbne media query
/// 
/// 
/// 


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .pinModal{
  margin-top: 154%;
  height: 99px;
  margin-right: 15px;
  --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
  margin-left: 13px;
  border-radius: 20px;
}

}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .pinModal{
      margin-top: 123%;
      height: 99px;
      margin-right: 15px;
      --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      margin-left: 13px;
      border-radius: 20px;
    }

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .pinModal{
      margin-top: 160%;
      height: 99px;
      margin-right: 15px;
      --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      margin-left: 13px;
      border-radius: 20px;
    }

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .pinModal{
      margin-top: 154%;
      height: 99px;
      margin-right: 15px;
      --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      margin-left: 13px;
      border-radius: 20px;
    }

}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .pinModal{
      margin-top: 154%;
      height: 99px;
      margin-right: 15px;
      --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      margin-left: 13px;
      border-radius: 20px;
    }

}

/* 2340x1080 pixels at 476ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {

      .pinModal{
        margin-top: 154%;
        height: 99px;
        margin-right: 15px;
        --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
        margin-left: 13px;
        border-radius: 20px;
      }

     }

     /* 2532x1170 pixels at 460ppi */
@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) { 

  .pinModal{
    margin-top: 154%;
    height: 99px;
    margin-right: 15px;
    --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
    margin-left: 13px;
    border-radius: 20px;
  }
}

/* 2778x1284 pixels at 458ppi */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {

      .pinModal{
        margin-top: 154%;
        height: 99px;
        margin-right: 15px;
        --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
        margin-left: 13px;
        border-radius: 20px;
      }
     }

     /* 1792x828px at 326ppi */
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 2) { .pinModal{
  margin-top: 154%;
  height: 99px;
  margin-right: 15px;
  --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
  margin-left: 13px;
  border-radius: 20px;
} }

/* 2436x1125px at 458ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { .pinModal{
      margin-top: 154%;
      height: 99px;
      margin-right: 15px;
      --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
      margin-left: 13px;
      border-radius: 20px;
    } }


    /* 2688x1242px at 458ppi */
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 3) {  .pinModal{
  margin-top: 154%;
  height: 99px;
  margin-right: 15px;
  --background: linear-gradient(270deg, #ac3dba 0%, #7825cb 100%);
  margin-left: 13px;
  border-radius: 20px;
}}

google-map{
  height: 100%;
  width: 100% !important;
  position: fixed;
  }



