.sure{
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 122.8%;
    text-align: center;
    color: white;
}

.footer_text{
    color: #c8c5c5;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 25px auto 20px;
}

.info-text{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}