<ion-content style="--background: #262626">
  <div style=" text-align: center;">
    <img style="
    margin-top: 5px;
    height: 268px;
    width: 97.5%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);" src="{{rest.baseURLimg}}{{selectedEvent.cover_images}}" alt="">

    <img
    (click)="goBack()"
    class="back-icon"
    src="../../assets/imgs/icons/new_icons/BackIcon.png"
    />

    <div class="content_position">
      <div class="roboto heading_text">{{selectedEvent.venue_name}}</div>
      <div class="roboto event_name">{{selectedEvent.name}}</div>
      
      <div class="flex_center info_text1" style="margin: 0px auto 0px 0px;">
        <img class="small_icon_style" src="../../assets/imgs/icons/new_icons/CalanderIcon.png" alt="">
        <div class="roboto" style="line-height: normal;">{{getDate(selectedEvent.event_date)}}</div>
      </div>
      <div class="flex_center info_text2" style="margin: 0px 0px auto auto;">
        <img class="small_icon_style" src="../../assets/imgs/icons/ticket_clock.svg" alt="">
        <div class="roboto" style="line-height: normal;">{{getTime(selectedEvent.event_start_time)}} - {{getTime(selectedEvent.event_end_time)}}</div>
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: column;height: 70%; width: 90%; text-align: center; margin: 5% auto; justify-content: space-between;">
    <div>

      <table>
        <tr>
          <th>Description</th>
          <th>Cost</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>Standard Entry Ticket</td>
          <td>£{{selectedEvent.price_per_ticket}}</td>
          <td class="total_col_td">{{rest.billDetails.ticket_requested}}</td>
          <!-- <td>{{rest.billDetails.ticket_requested}}x£{{selectedEvent.price_per_ticket}}</td> -->
        </tr>
        <tr>
          <td>Photo Package</td>
          <td>£{{rest.billDetails.package_price}}</td>
          <td class="total_col_td">1</td>
        </tr>
        <tr>
          <td class="package_desc">Professional photos taken <br> throughout the night, available <br> to download afterward</td>
          <td></td>
          <td class="total_col_td"></td>
        </tr>
        <tr>
          <td>Social Sips</td>
          <td>£0.00</td>
          <td class="total_col_td">1</td>
        </tr>
        <tr>
          <td class="package_desc">1 x bottle of premium vodka <br>
            1 x bottle of premium gin and <br> a selection of premium mixers</td>
          <td></td>
          <td class="total_col_td"></td>
        </tr>
        <tr *ngIf="discountedAmount">
          <td>Discount ({{discountPercentage}}%)</td>
          <td>£{{discountedAmount}}</td>
          <td class="total_col_td"></td>
        </tr>
        <tr >
          <td>Crowd fees</td>
          <td>£5</td>
          <td class="total_col_td"></td>
        </tr>
        
      </table>
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0px 0px;
        "
      >
        <p style="margin: 0px" class="dd roboto">Standard Entry Ticket</p>
        <p style="margin: 0px" class="dd roboto">{{rest.billDetails.ticket_requested}}x£{{selectedEvent.price_per_ticket}}</p>
        <p style="margin: 0px" class="dd roboto">£{{rest.billDetails.ticket_bill}}</p>
      </div> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0px 0px;
        "
      >
        <p style="margin: 0px" class="dd roboto">{{rest.billDetails.package_type}}</p>
        <p style="margin: 0px" class="dd roboto">{{rest.billDetails.package_name}}</p>
        <p style="margin: 0px" class="dd roboto">£{{rest.billDetails.package_price}}</p>
      </div> -->
  
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0px 0px;
        "
      >
        <p style="margin: 0px" class="dd roboto">Crowd Fees</p>
        <p style="margin: 0px" class="dd roboto">£5</p>
      </div> -->
      
      <!-- <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0px 0px;
        "
      >
        <p style="margin: 0px" class="dd roboto" *ngIf="discountedAmount">Discount ({{discountPercentage}}%)</p>
        <p style="margin: 0px" class="dd roboto" *ngIf="discountedAmount">£{{discountedAmount}}</p>
      </div> -->
  
    </div>

    <div>
      <div
          style="
            background: #343434;  
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            padding: 0px 52px;
            margin-top: 20px;
            margin-bottom: 10px;
          "
        >
        <p style="margin: 0px" class="total roboto">Total:</p>
        <p style="margin: 0px" class="total roboto">£{{rest.billDetails.total_bill}}</p>
      </div>

      <div
          style="
            background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);  
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            padding: 0px 52px;
            margin-top: 10px;
            margin-bottom: 10px;
          "
        >
        <p style="margin: 0px" class="total roboto">Pre-Pay:</p>
        <p style="margin: 0px" class="total roboto">£{{rest.billDetails.pre_pay_amount}}</p>
      </div>

      <ion-button
        (click)="goToNext()"
        style="margin-top: 10px; opacity: 1;--border-radius: 16px;"
        class="btngray roboto"
        >Complete Booking</ion-button
      >
    </div>
    
  </div>
    

</ion-content>
