.titlefont{
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bg{
  --background: linear-gradient(270deg, #AC3DBA 0%, #7825CB 100%);
  padding: 0px 0px 0px 0px;
}

.centerall{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_option{
  background: linear-gradient(180deg, #51086a, #670b7e, #710a81, #840c8e);
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 14px 14px;
  width: 48.7%;
  margin-top: 14px;
  // justify-content: space-between;
}

.option_title{
  font-size: 12.8px;
  color: white;
  font-weight: 500;
}

.option_desc{
  font-size: 8.8px;
  color: white;
  font-weight: 400;
}

.opiton_icon{
  height: 22px;
  width: 22px;
  margin-right: 12px;
}