<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col style="text-align: center" size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont roboto">Terms & Conditions</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center"> </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content style="--background: #262626; ">
 
  <div style="width: 93%; margin: 20px auto;">
    <div style="display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;"> 
    
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Terms of Service</div>
          <div class="roboto option_desc" >Terms & Conditions</div>
        </div>
      </div>  
  
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Privacy Policy</div>
          <div class="roboto option_desc" >Dedicated Privacy Policy</div>
        </div>
      </div>  
  
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >CrowdAI</div>
          <div class="roboto option_desc" >Terms & Conditions</div>
        </div>
      </div>  
  
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >CrowdLive</div>
          <div class="roboto option_desc" >Terms & Conditions</div>
        </div>
      </div>  
  
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Event & Reservations</div>
          <div class="roboto option_desc" >Data Collection & Usage</div>
        </div>
      </div>  
  
      <div class="profile_option" >
        <div><img class="opiton_icon" src="../../assets/imgs/icons/new_icons/TableIcon.png" alt=""></div>
        <div>
          <div class="roboto option_title" >Intellectual Properties</div>
          <div class="roboto option_desc" >Patents, Designs & Trademarks</div>
        </div>
      </div>  
      
    </div>
  </div>
  
</ion-content>