<ion-header>
  <ion-toolbar class="bg paddingtop">
    <div
    class="bg "
    style=" width: 100%;
     z-index: 9999; 
    padding: 10px 0px 15px;"
  >
    <div style="padding-top: 10px" *ngIf="showfilter" class="filterdivstyle">
      <p
        style="margin-bottom: 8px"
        class="filtertext"
        (click)="showHideFilter('Very Busy')"
      >
        Very Busy
      </p>
      <p
        style="margin-bottom: 8px"
        class="filtertext"
        (click)="showHideFilter('Busy')"
      >
        Busy
      </p>
      <p
        style="margin-bottom: 8px"
        class="filtertext"
        (click)="showHideFilter('Quiet')"
      >
        Quiet
      </p>
    </div>
    <ion-row>
      <ion-col size="2" style="text-align: center">
       
        <img
          *ngIf="segmentModel == 'venu'"
          (click)="showHideFilterN()" 
          style="height: 25px; width: 25px"
          src="assets/imgs/treeeline.svg"
        />
      </ion-col>
      <ion-col size="8" style="text-align: center">
        <ion-label class="titlefont work_sans">Home</ion-label>
      </ion-col>
      <ion-col size="2" style="text-align: center">
        <img
          (click)="goToProfile()"
          style="height: 25px; width: 25px"
          src="assets/imgs/user.svg"
        />
      </ion-col>
    </ion-row>

    <div style="margin: 10px 0px 2px; text-align: -webkit-center">
      <ion-segment
        style="
          height: 48px;
          width: 90%;
          background: white;
          padding: 3px 5px;
          border-radius: 200px;
        "
        scrollable="true"
        mode="ios"
        [(ngModel)]="segmentModel"
        (ionChange)="segmentChanged($event)"
        value="venu"
      >
        <ion-segment-button
          style="
            --indicator-color: #611ea5;
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: #611ea5;
          "
          value="venu" (click)="getVenues()"
        >
          <ion-label>Venues</ion-label>
        </ion-segment-button>

        <ion-segment-button
          style="
            --indicator-color: #262626;
            --color: #000000;
            --color-checked: #ffffff;
            --border-radius: 20px;
            --background-checked: #262626;
          "
          value="reservation"
          (click)="getReservations()"
        >
          <ion-label>Reservations</ion-label>
        </ion-segment-button>

        <ion-segment-button
        (click)="getEvents()"
          style="
            --indicator-color: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            );
            --color: #000000;
            --color-checked: #fff;
            --border-radius: 20px;
            --background-checked: linear-gradient(
              89.73deg,
              #ebd87a -0.24%,
              #956b1c 99.77%
            ); ;
          "
          value="event"
        >
          <ion-label>Events</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626" #IonContent >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <div class="margincls"  *ngIf="segmentModel === 'venu'">
    <p
      *ngIf="filtertype != 'no' && segmentModel === 'venu'"
      class="filtertextClear"
      (click)="clearFilter()"
    >
      Clear Filter
    </p>
    <p *ngIf="noevenu == 1" style="margin-top: 70%;" class="notFound work_sans">No Venus Found</p>
    <div style="display: flex; flex-wrap: wrap;">
      <div
      style="width: 50%; position: relative"
      [class.heighclassbig]="i % 2 != 0"
      [class.heighclasssmall]="i % 2 == 0"
      *ngFor="let opt of venuarr; let i = index"
      [style.margin-top.px]="i % 2 == 0? -i*10:0"
      >
      <div
        style="
          position: absolute;
          width: 100%;
          z-index: 9;
          right: 2px;
        "
      >
        <img
          (click)="likevenu(opt)"
          class="imgcls"
          *ngIf="opt.likes==0"
          src="assets/imgs/heartww.svg"
        />
        <img
          (click)="likeoutvenu(opt)"
          class="imgcls"
          *ngIf="opt.likes==1"
          src="assets/imgs/heartactive.svg"
        />
        <ion-badge *ngIf="opt.discount_percentage <= 0 && opt.discount_percentage != null" class="bdg"
          >No Discount
        </ion-badge>
        <ion-badge *ngIf="opt.discount_percentage > 0" class="bdg"
          >{{opt.discount_percentage}}% Off
        </ion-badge>
      </div>
        <div
          class="divboxshadowinside"
          (click)="goToVenuDetail(opt)"
          style=" 
          position: relative;
          height: 100%;
          border-radius: 15px;
          background-size: cover;
          background-image: url('{{opt.cover_images}}');
        "
        >
          <div style="position: absolute; bottom: 0px; left: 15px">
            <p class="title1 work_sans">{{opt.name}}</p>
            <p class="title2 work_sans">
              {{opt.distance | number : '1.2-2'}} Miles
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event,'venues')">
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div class="margincls"  style="display: flex; flex-wrap: wrap;" *ngIf="segmentModel === 'reservation' && reservationFeature === 'On'">
    <div class="searchtop" style="width: 100%;margin-top: 5px;">
      <div
        class="inputfieldtransparent"
        style="display: flex; height: 40px; width: 100%"
      >
        <ion-input
          style="padding-left: 15px !important"
          (ionInput)="searchReservations($event)"
          class="input"
          type="text"
          placeholder="Search Venues"
        ></ion-input>

        <img style="margin: 10px" src="/assets/imgs/search.svg" />
      </div>
    </div>
    <div
      *ngIf="reservationFilter != 'no' && segmentModel === 'reservation'"
      class="filtertextClear" style="text-align: right;width: 100%;margin-bottom: 10px;"
      (click)="removeReservationFilter()"
    >
      Clear Filter
    </div>
    <p *ngIf="noReservations == 1" class="notFound work_sans">No Reservations Found</p>
    
    <div
      style="width: 50%; position: relative"
      [class.heighclassbig]="i % 2 != 0"
      [class.heighclasssmall]="i % 2 == 0"
      *ngFor="let opt of filteredReservationsArr; let i = index"
      [style.margin-top.px]="i % 2 == 0? -i*10:0"
    >
      <div
      style="
        position: absolute;
        width: 100%;
        z-index: 9;
        right: 2px;
      "
    >
      <img
        (click)="likevenu(opt)"
        class="imgcls"
        *ngIf="opt.likes==0"
        src="assets/imgs/heartww.svg"
      />
      <img
        (click)="likeoutvenu(opt)"
        class="imgcls"
        *ngIf="opt.likes==1"
        src="assets/imgs/heartactive.svg"
      />
      <ion-badge *ngIf="opt.discount_percentage <= 0 && opt.discount_percentage != null" class="bdg work_sans"
        >No Discount
      </ion-badge>
      <ion-badge *ngIf="opt.discount_percentage > 0" class="bdg work_sans"
        >{{opt.discount_percentage}}% Off
      </ion-badge>
    </div>
      <div
        class="divboxshadowinside"
        (click)="goToReservationDetail(opt)"
        style=" 
      position: relative;
      height: 100%;
      border-radius: 15px;
      background-size: cover;
      background-image: url('{{opt.cover_images}}');
      "
      >
        <div style="position: absolute; bottom: 0px; left: 15px">
          <p class="title1 work_sans">{{opt.name}}</p>
          <p class="title2 work_sans">
            {{opt.distance | number : '1.2-2'}} Miles
          </p>
        </div>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event,'reservations')">
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div>
    <p  class="notFound work_sans" style="margin-top: 70%;" *ngIf="segmentModel === 'reservation' && reservationFeature != 'On'">Reservations Coming Soon</p>
  </div>

  <div class="margincls" style="display: flex; flex-wrap: wrap" *ngIf="segmentModel === 'event'" >
    <div class="searchtop" style="width: 100%">
      <div
        class="inputfieldtransparent"
        style="display: flex; height: 40px; width: 100%"
      >
        <ion-input
          style="padding-left: 15px !important"
          (ionInput)="searchEvents($event)"
          class="input"
          type="text"
          placeholder="Search Events"
        ></ion-input>

        <img style="margin: 10px" src="/assets/imgs/search.svg" />
      </div>
      <img
        (click)="goToFilter()"
        style="margin: 15px 10px 14px 15px;"
        src="/assets/imgs/tune.svg"
      />
    </div>

    <p *ngIf="filterTypeEv != 'no' && segmentModel === 'event'"
    class="filtertextClear" style="margin: 0px 5px 15px auto;"
    (click)="clearFilterEv()"
    >
      Clear Filter
    </p>
    
    <p *ngIf="noevent == 1" class="notFound work_sans">No Events Found</p>
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      "
    >
      <div
        style="position: relative; width: 50%"
        [class.heighclassbig]="i % 2 != 0"
        [class.heighclasssmall]="i % 2 == 0"
        *ngFor="let opt of eventarr; let i = index"
        [style.margin-top.px]="i % 2 == 0? -i*10:0"
      >
        <div
          style="
            position: absolute;
            width: 100%;
            z-index: 9;
            right: 1px;
          "
        >
          <img
            (click)="likeevent(opt)"
            class="imgcls"
            *ngIf="opt.likes==0"
            src="assets/imgs/heartww.svg"
          />
          <img
            (click)="likeoutevent(opt)"
            class="imgcls"
            *ngIf="opt.likes!=0"
            src="assets/imgs/heartactive.svg"
          />
          <ion-badge *ngIf="opt.discount_percentage <= 0" class="bdg work_sans"
            >No Discount
          </ion-badge>
          <ion-badge *ngIf="opt.discount_percentage > 0" class="bdg work_sans"
            >{{opt.discount_percentage}}% Off
          </ion-badge>
        </div>
        <div
          class="divboxshadowinside"
          (click)="goToEventDetail(opt)"
          style=" 
          position: relative;
          height: 100%;
        border-radius: 15px;
        background-size: cover;
        background-image: url('{{rest.baseURLimg}}{{opt.cover_images}}');
      "
        >
          <div style="position: absolute; bottom: 0px; left: 15px">
            <p class="title1 work_sans">{{opt.name}}</p>
            <p class="title2 work_sans">
              {{opt.distance | number : '1.2-2'}} Miles
            </p>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event,'events')">
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  
  <ion-fab slot="fixed" vertical="center" horizontal="end">
    <ion-fab-button (click)="startSpeechRecognition()" [class.hide_ai]="aiToggleChecked == false" *ngIf="segmentModel === 'venu' || segmentModel === 'reservation' && reservationFeature === 'On' || segmentModel === 'event'">
      <img (click)="setOpenValueForAI(true)" id="open-modal"    
       style="height: 58px;
       width: 58px;"
       src="../../assets/imgs/icons/ai_btn_light.png" alt="">
    </ion-fab-button>
  </ion-fab>
  <!-- [initialBreakpoint]="1" [breakpoints]="[0, 1]" -->
  <ion-modal [ngClass]="{'white_model_bg':!toggleThemeChecked ,'black_model_bg': toggleThemeChecked}" [isOpen]="isAIModalOpen"  (ionModalWillDismiss)="dismissModal()" >
    <ng-template>
      <!-- style="background: transparent;" -->
      <div >
        <div style="text-align: right;padding: 15px 15px 0px">
          <img *ngIf="toggleThemeChecked" (click)="dismissModal()" src="../../assets/imgs/icons/ion_close.svg" alt="">
          <img *ngIf="!toggleThemeChecked" (click)="dismissModal()" src="../../assets/imgs/icons/ion_close_black.svg" alt="">

        </div>
        
        <div class="block">
          <div></div>
          <div style="margin: 15px;text-align: left;">
            
            <div [ngClass]="{'modal_text_color_white':toggleThemeChecked,'modal_text_color_black':!toggleThemeChecked}">
              {{ typedText }}
            </div>

            <!-- *ngIf="listening == true && yourVoiceInput== ''" -->
            <div *ngIf="typedText=='' && yourVoiceInput==''" [ngClass]="{'modal_text_color_white':toggleThemeChecked,'modal_text_color_black':!toggleThemeChecked}"  >
              Hey, how can I help?
            </div>

            <div style="margin-top: 10px;" *ngIf="listening == true && yourVoiceInput== ''" [ngClass]="{'modal_text_color_white':toggleThemeChecked,'modal_text_color_black':!toggleThemeChecked}" style="text-align: left;">
            Listening...
            </div>

            <div [ngClass]="{'modal_text_color_white':toggleThemeChecked,'modal_text_color_black':!toggleThemeChecked}" *ngIf="yourVoiceInput != ''" >
              {{yourVoiceInput}}
            </div>

          </div>
          <div></div>
           <!-- ========================lottie======================= -->
          <div [ngClass]="{'hide':!listening}">
            <ng-lottie [options]="lottieConfig"></ng-lottie>
          </div>
          <!-- =====================lottie done=========================== -->
          <div style="display: flex;
          align-items: center;
          justify-content: space-between;">
          <!-- <img (click)="showKeyboard()" class="input_type_align" *ngIf="toggleThemeChecked && listening" src="../../assets/imgs/icons/keyboard_white.svg" alt="">
          <img (click)="showKeyboard()" class="input_type_align" *ngIf="!toggleThemeChecked && listening" src="../../assets/imgs/icons/keyboard_black.svg" alt=""> -->
          <!-- [value]="placeholderValue" -->
          <ion-input placeholder="Ask AI" [ngClass]="{'input_text_color_white':toggleThemeChecked,'input_text_color_black':!toggleThemeChecked}"  type="text" (ionBlur)="searchForAIInput($event)" (ionInput)="onInputForAI($event)" ></ion-input>
          <div (click)="stopSpeechRecognition()" *ngIf="toggleThemeChecked && listening" class="white_mic_border">
            <ion-icon class="white_mic" name="mic"></ion-icon>
          </div>
          <div (click)="stopSpeechRecognition()" *ngIf="!toggleThemeChecked && listening" class="black_mic_border">
            <ion-icon class="black_mic" name="mic"></ion-icon>  
          </div>
          <div (click)="startSpeechRecognition()" *ngIf="toggleThemeChecked && !listening" class="white_mic_border">
            <ion-icon class="white_mic " name="mic-outline"></ion-icon>
          </div>
          <div (click)="startSpeechRecognition()" *ngIf="!toggleThemeChecked && !listening" class="black_mic_border">
            <ion-icon class="black_mic " name="mic-outline"></ion-icon>  
          </div>
          
          <!-- style="opacity: 0;height: 24px;width: 24px;" -->
            <div style="display: flex; align-items: center">
              <ion-label
                *ngIf="toggleThemeChecked"
                class="toggle_lable_white"
                >Light Mode</ion-label
              >
              <ion-label
                *ngIf="!toggleThemeChecked"
                class="toggle_lable_black"
                >Dark Mode</ion-label
              >
        
              <ion-toggle
                [checked]="toggleThemeChecked"
                (ionChange)="toggleTheme($event)"
                mode="ios"
                style="
                  --handle-background-checked: white;
                  --background: #ac3dba;
                  --background-checked: #ac3dba;
                  margin-left: 8px;
                  height: 16px;
                  --handle-height: 16px;
                  --handle-width: 13px;
                  width: 40px;
                "
              ></ion-toggle>
            </div>
          </div>
          
          <!-- <div class="container">
            <div class="circle static-circle" [ngClass]="{'hidden': isAnimating}">
              <div class="stars"></div>
              <div class="waves static-waves"></div>
            </div>
            <div class="circle animated-circle" [ngClass]="{'hidden': !isAnimating}">
              <div class="stars"></div>
              <div class="waves"></div>
            </div>
          </div> -->

          <!-- ========================lottie======================= -->
          <!-- <div class="container_lottie">
            <ng-lottie [options]="lottieConfig"></ng-lottie>
          </div> -->
          <!-- =====================lottie done=========================== -->
          
          <!-- <div *ngIf="!listener" class="modal_text_color" style="text-align: center;">Tap the microphone to start listening</div> -->
          
          <!-- <div *ngIf="listening == true && yourVoiceInput== ''" class="modal_text_color" style="text-align: left;">
            Listening...
  
          </div> -->
          
          
  
          <!-- <div style="display: flex;
            flex-direction: column;
            align-items: center;margin-bottom: 5px;">
            <div style="text-align: center;
              margin-top: 30px;">
      
              <img (click)="startSpeechRecognition()" class="not_listening" *ngIf="!listener"  src="../../assets/imgs/icons/mic_32.png" alt="">
              <div (click)="stopSpeechRecognition()" *ngIf="listener" style="height: 63px;
              width: 63px;
              background: brown;
              border-radius: 90px;
              padding: 21px;">
                <div style="height: 21px;
                width: 21px;
                background: black;"></div>
              </div>
            
            </div>
            <div class="modal_text_color" style="text-align: center;margin-top: 20px;">Try Saying</div>
            <div class="modal_text_color" style="text-align: center;">"A venue name"</div>
            <div class="modal_text_color" style="text-align: center;">"A venue name have 30% discount"</div>

            
            
          
           
          </div> -->
        </div>
      </div>
     
    </ng-template>
  </ion-modal>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tabs style="top: 10px !important">
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <hr />
      <ion-tab-button (click)="tab1Click()">
        <img src="assets/imgs/homeactive.svg" class="img" />
        <ion-label class="fontactive work_sans">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab2Click()">
        <img src="assets/imgs/location.svg" class="activeimg" />
        <ion-label class="font work_sans">Location</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab3Click()">
        <img src="assets/imgs/heart.svg" class="img" />
        <ion-label class="font work_sans">Saved</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="tab4Click()">
        <img src="assets/imgs/bell.svg" class="img" />
        <ion-label class="font work_sans">Notification</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>
