<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">CrowdAI<sup style="color: #fafafa;">
          <img class="r_icon" src="../../assets/imgs/icons/new_icons/RIcon.png" alt="">
        </sup></ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
  <div class="container1">

    <div class="support_heading" style="margin-top: 10px;">Terms and Conditions for CrowdAI®</div>
    <div class="support_desc">Last Updated: [Date]</div>

    <div class="support_desc">CrowdAI® is a proprietary feature within the Crowd® App, developed by MiCrowd Ltd. The feature is designed to enhance your experience within the app, utilising data with a focus on privacy, transparency, and minimal data usage. Below, we outline how the feature utilises data, our commitment to data protection, and our approach to transparency with our users.
    </div>

    <div class="support_heading" style="margin-top: 10px;">Data Filters and Limited Data Use</div>
    <div class="support_desc">
      <ul style="margin-bottom: 0px;">
        <li>No personal data from users is utilised for the CrowdAI® feature. CrowdAI® operates independently of any identifiable user data and functions solely on aggregated, non-personal information to ensure privacy.</li>
      </ul>
    </div>

    <div class="support_heading" style="margin-top: 10px;">AI-Generated Content and User Data</div>
    <div class="support_desc">
      <ul style="margin-bottom: 0px;">
        <li>AI-Generated Insights: The CrowdAI® feature uses artificial intelligence to generate insights based on aggregated, non-personal data. This means that all insights are created without relying on individual user information, ensuring your personal data remains private.</li>
        <li>No Personal Data Usage: CrowdAI® does not access or use any identifiable personal data. All information processed by CrowdAI® is generalised and anonymized to produce feature-specific content within the app.</li>
        <li>Transparency and Accuracy: While CrowdAI® strives to provide accurate and helpful insights, users should note that AI-generated content may not always be fully precise or representative of individual circumstances. MiCrowd Ltd does not take responsibility for variations in AI-generated insights.</li>
      </ul>
      
      
      </div>

    <div class="support_desc" style="margin-top: 10px;">Contact Us: For further details on our data usage, protection policies, or any concerns regarding privacy within CrowdAI®, please reach out to us at support@crowd-app.com</div>
  

    <!-- <div class="support_heading" style="margin-top: 10px;"></div>
    <div class="support_desc"></div> -->
    
    
    
    


  </div>

</ion-content>
