<ion-header>
  <ion-toolbar >
    <img class="header_bg" src="../../assets/imgs/icons/new_icons/Background1.png" alt="">
    <ion-row class="header_content">
      <ion-col size="2" class="centerall"
        ><img
          (click)="goBack()"
          style="height: 25px;"
          src="../../assets/imgs/icons/new_icons/BackIcon.png"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont roboto">CrowdAI<sup style="color: #fafafa;">
          <img class="r_icon" src="../../assets/imgs/icons/new_icons/RIcon.png" alt="">
        </sup></ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">

  <div *ngIf="aiTerms?.terms" class="container1">

    <div class="support_heading" style="margin-top: 10px;">Terms and Conditions for CrowdAI®</div>
    <div class="support_desc">Last Updated: {{getDateSlashFormat(aiTerms?.date_modified)}}</div>
    
    <div [innerHTML]="aiTerms?.terms"></div>
    
  </div>

</ion-content>
