<ion-header>
  <ion-toolbar class="bg paddingtop">
    <ion-row>
      <ion-col size="2" class="centerall"
        >
        <img
          (click)="goBack()"
          style="height: 25px; width: 25px"
          src="assets/imgs/backbtn.svg"
        />
      </ion-col>
      <ion-col size="8" class="centerall">
        <ion-label class="titlefont work_sans">Ticket</ion-label>
      </ion-col>
      <ion-col class="centerall" size="2"> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #262626">
<div class="container"  style="position: relative;" >
  
  <swiper-container  [slidesPerView]="1.2" [spaceBetween]="13" [centeredSlides]="true" (slidechange)="onSlideChange($event)" style="height: 100%;">
    <swiper-slide *ngFor="let ticket of tickets;let i=index" style="width: 335px;">
      <div class="ticket"  style="padding: 13px 5px 0px;">
        <div id="ticket-p-a">
          <img  class="ticket_tick" src="../../assets/imgs/ticket_tick.svg" alt="">
          <div style="margin: 30px 5px 10px; position: relative;">
            <div class="flex_center">
              <!-- <div class="font gilroy">slslsl</div>
              <div class="font gilroy">slslsl</div> -->
              <div class="font gilroy">{{userName}}</div>
              <div class="font gilroy">{{rest.billDetails.event_name}}</div>
            </div>
            <div class="flex_center">
              <!-- <div class="font gilroy">slslsl</div>
              <div class="font gilroy">slslsl</div> -->
              <div class="font gilroy"><span> <img style="margin-right: 6px;" src="../../assets/imgs/icons/ticket_cal.svg" alt=""></span>{{rest.billDetails.event_date}}</div>
              <div class="font gilroy"><span> <img style="margin-right: 6px;" src="../../assets/imgs/icons/ticket_clock.svg" alt=""></span>{{getTime(rest.billDetails.event_start_time)}} - {{getTime(rest.billDetails.event_end_time)}}</div>
            </div>
            <!-- <div style="margin: 10px;position: relative;"> -->
              <!-- <google-map
              height="148"
              width="85%"
              #myGoogleMap
              [zoom]="zoom"
              [center]="center"
              [options]="options"
            > -->
              <!-- <map-marker
                #markerElem="mapMarker"
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                (mapDrag)="eventHandler($event,'mapDragMarker')"
                (mapDragend)="eventHandler($event,'mapDragend')"
                (mapClick)="openInfo(markerElem, marker.title, marker)"
              >
              </map-marker>
      
              <map-info-window>
                <div style="display: flex; align-items: center">
                  <img
                    style="height: 30px; width: 30px; margin-right: 5px"
                    src="assets/imgs/maphuman.svg"
                  />
                  <ion-label
                    style="
                      font-weight: 500;
                      font-size: 17px;
                      line-height: 26px;
                      text-align: center;
                      color: #7825cb;
                    "
                    >{{ infoContent }}</ion-label
                  >
                </div>
              </map-info-window> -->
            <!-- </google-map> -->
            <!-- </div> -->
            <div style="position: relative;">
              <div class="location">{{rest.billDetails.location}}</div>
              <img class="center" style="margin-top: 5px; height: 110px;" src="../../assets/imgs/map_bg.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="center font gilroy" style="margin-top: 10px;position: relative;">{{ticket.random_string}}</div>
        <!-- <div class="center font gilroy" style="margin-top: 10px;position: relative;">WD321ASF12</div> -->
        <!-- <div class="center font gilroy" style="margin-top: 168px;position: relative;">WD321ASF12</div> -->
        <div class="ticket-p-b">
          <hr >
          <div class="center" style="margin-top: 4px;">
    
            <qrcode 
              [qrdata]="ticket.my_qr_code" 
              [allowEmptyString]="true" 
              [width]="200" 
              [errorCorrectionLevel]="'M'">
            </qrcode>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  
  <div class="flex_center" style="margin: 2px 20px;">
    <!-- (click)="goToHome()" -->
    <div  >
      <ion-button (click)="setOpen(true)" 
          style="margin-top: 10px;margin-right: 11px; opacity: 1;width: 230px;"
          class="btnbgred work_sans"
          >Request Refund</ion-button
        >
    </div>
    <ion-modal class="refund_popup" #modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-content style="--background: white !important;">
          <div class="modal_popup">
            <div class="right">
              <img (click)="dismissModal(false)" src="../../assets/imgs/cross.svg" alt="">
            </div>
            <div class="msg_btn_sec">
              <div class="work_sans modal_title">Refund?</div>
              <div class="work_sans modal_desc">Are you sure you want to refund the ticket?</div>
              <ion-button (click)="reguestRefund(false)" style="margin-top: 20px;
              opacity: 1;" class="work_sans btnbgred">Continue</ion-button>
            </div>
            
          </div>
          
        </ion-content>
      </ng-template>
    </ion-modal>
      <img (click)="generatePDF()" src="../../assets/imgs/download_btn.svg" alt="">
  </div>

</div>
</ion-content>
